<div class="livechat-cont close">
    <% try { if (user) { %>
        <h5 id="userEmail" style="display: none; opacity: 0;">user.email</h5>
        <% }} catch (error) { %>
            <h5 id="userEmail" style="display: none; opacity: 0;">u</h5>
            <%}%>
                <div class="livechat">
                    <header>
                        <div class="name">
                            <h4>Name</h4>
                        </div>
                        <div class="close">X</div>
                    </header>
                    <div class="livechat-body">
                        <div class="livechat-messages">
                            <div class="message ">Hi</div>
                            <div class="message left">Yo</div>
                        </div>
                        <div class="livechat-entry-bar">
                            <textarea class="message-box" cols="20" rows="4"></textarea>

                            <button class="button">Send</button>
                        </div>
                    </div>
                </div>
                Cont
</div>

<button class="bubble-btn livechat-bubble">
    Bubble
</button>

<button class="bubble-btn up-bubble">
    Bubble
</button>