<div class="livechat-cont close">
    <div class="livechat">
        <header>
            <div class="name">
                <h4>Name</h4>
            </div>
            <div class="close">X</div>
        </header>
        <div class="livechat-body">
            <div class="livechat-messages">
                <div class="message ">Hi</div>
                <div class="message left">Yo</div>
            </div>
            <div class="livechat-entry-bar">
                <textarea class="message-box" cols="20" rows="4"></textarea>

                <button class="button">Send</button>
            </div>
        </div>
    </div>
    Cont
</div>

<div class="livechat-bubble">
    Bubble
</div>

<div class="up-bubble">
    Bubble
</div>