<main class="wide-container">
    <section class="page-header" style="
        background-image: url(../../../media/images/Waterorg_AnnualReport2019_HeaderRV.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">2019 Annual Report</h1>
                <div class="page-header__body">
                    <div class="rich-text">
                        <p>
                            Celebrating 8 million more people empowered with access to
                            safe water and sanitation through our smart solutions
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="../../../index.html">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../../index.html">About Us</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../index.html">Financials</a>
                </li>
                <li class="breadcrumbs__item active">2019 Annual Report</li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../../../media/images/Waterorg_AnnualReport2019_Img-1RV.original.jpg"
                        alt="Waterorg_AnnualReport2019_Img-1.jpg" />
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Thank you for changing lives</h3>
                            <p>
                                Thanks to you, in 2019 we celebrated reaching more than 27
                                million people to date with access to safe water and
                                sanitation.<br />
                            </p>
                            <p>
                                Throughout the world, we helped empower families with access
                                to small, affordable loans so they could get access to
                                lasting water and sanitation solutions in their homes. With
                                your continued support, we transformed the lives of more
                                than 8 million people in 2019 alone.<br />
                            </p>
                            <p>
                                <a href="../documents/171/Water.org_2019_annual_report.pdf"><b>Download the 2019 annual
                                        report &gt;</b></a>
                            </p>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="stripe-section__pattern" style="
            background-image: url(../media/images/pattern-large-2.original.png);
          "></div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>2019 at a glance</h3>
            </div>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_AnnualReport2019_Icon-1.original.png"
                            class="multi-column-row__image" style="max-width: 110px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <p>
                                    <b>8,086,446</b> <b>lives</b> changed across 12 countries
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_AnnualReport2019_Icon-2.original.png"
                            class="multi-column-row__image" style="max-width: 110px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <p>
                                    <b>$706 million</b> <b>in small loans</b> disbursed by our
                                    partners for water and sanitation
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_AnnualReport2019_Icon-3.original.png"
                            class="multi-column-row__image" style="max-width: 110px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <p>
                                    Received the <b>top rating</b> from Charity Navigator for
                                    the 10th consecutive year
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <p></p>
            <hr />
            <p></p>
        </div>
    </div>
    <div class="block-full_width_image">
        <section class="stripe-section bleeding-image" style="
          background-image: url(../media/images/Waterorg_AnnualReport2019_MapRV4.original.jpg);
        ">
            <div class="content-container">
                <div class="bleeding-image__text">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>
                                In 2019, 8 million more people now have access to safe water
                                and sanitation. 
                            </h3>
                            <p>
                                <b>See the number of lives changed in each country in
                                    2019.</b>
                            </p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <p></p>
            <hr />
            <p></p>
        </div>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>Smart solutions in action</h3>
            <p>
                For millions around the world, access to funds stands between them
                and safe water and sanitation in their home. Water.org offers a
                portfolio of smart solutions that break down the financial barriers
                between people living in poverty and access to safe water and
                sanitation.
            </p>
            <p><b>In 2019, we worked to accelerate impact in these ways:</b></p>
        </div>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/Zmvw65p5f2E?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>
                                Partnering directly with financial institutions to provide
                                loans for water and sanitation
                            </h3>
                            <p>
                                Without water at home, Grace and her husband Joshua paid
                                high prices for water to be drawn from a local pond and
                                carted to their property. Through a small, affordable loan
                                from a Water.org partner bank in Kenya, Grace installed a
                                water storage tank on her farm.
                            </p>
                            <p>
                                With access to safe water just outside her door, Grace can
                                feed her chickens, grow food in her garden, and use the
                                water to cook, bathe, and do laundry. Hope, health, time,
                                income, opportunity – safe water takes families like Grace
                                and Joshua’s from poverty to possibility.
                            </p>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="stripe-section__pattern" style="
              background-image: url(../media/images/pattern-large-2.original.png);
            "></div>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-right stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>Expanding partnerships to accelerate access</h3>
                            <p>
                                In the Philippines, Water.org is partnering with 12
                                utilities in the Palawan province to help them implement
                                business plans and best practices in order to expand their
                                services and reach more people in need. If families need
                                access to credit to connect to the utility, they are also
                                able to work with Water.org’s existing microfinance
                                institution partners. Initial work in this area is showing
                                positive results.
                            </p>
                            <p></p>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/4PMITSekysE?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <figcaption class="article-figure__caption">
                        <div class="rich-text">
                            <p>
                                Journey with us and our co-founders on a recent visit to the
                                Philippines.
                            </p>
                        </div>
                    </figcaption>
                </div>
                <div class="stripe-section__pattern" style="
              background-image: url(../media/images/pattern-large-2.original.png);
            "></div>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/POIw7iXa5F0?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <figcaption class="article-figure__caption">
                        <div class="rich-text">
                            <p>
                                Watch as Water.org&#x27;s Chief Global Impact Officer,
                                <a href="../about-us/founders-board-team/country-leaders/vedika-bhandarkar/">Vedika
                                    Bhandarkar</a>, describes how financial inclusion for women and families
                                in need can change their lives.
                            </p>
                        </div>
                    </figcaption>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>Increasing access to financing at a systems level</h3>
                            <p>
                                We worked with the Reserve Bank of India, the country’s
                                central bank, to reclassify water and sanitation lending as
                                a priority sector. They require banks to lend 40% of their
                                assets to areas they designate as priority sectors.
                                Previously the priority sectors were areas that could
                                contribute to the development of India’s economy like
                                agriculture, education, and housing for people living in
                                poverty. Lending for water and sanitation was not considered
                                a priority sector, so there was little opportunity for such
                                a critical area of need. This reclassification resulted in a
                                significant increase in bank lending to microfinance
                                institutions and self-help groups, making water and
                                sanitation loans possible for people in need.
                            </p>
                            <p></p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe">
        <div class="content-container">
            <p class="callout-stripe__text">
                Together, we can change the lives of millions more.
            </p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>