<main class="wide-container">
    <section class="page-header" style="
        background-image: url(../media/images/Waterorg_Solving-Financial-Gap-Achieve-SDG6.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">
                    Achieving Sustainable Development Goal 6
                </h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item active">
                    Achieving Sustainable Development Goal 6
                </li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solving-Financial-Gap-Achieve-SDG6_Img.original.jpg"
                        alt="Solving the financial gap to achieve SDG 6" />
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Meeting a critical global goal</h3>
                            <p>
                                Globally, 785 million people lack basic water service—a
                                drinking water source that is accessible within a 30-minute
                                round trip from their home. Even more people, 2 billion, do
                                not have access to basic sanitation—a toilet or latrine that
                                is not shared with other households.
                            </p>
                            <p>
                                The United Nations’ Sustainable Development Goal 6 calls for
                                clean water and sanitation for all. According to the latest
                                development reports, the world is not on track to achieve
                                this goal by 2030. It will cost approximately $114 billion a
                                year between now and 2030 to achieve the goal. The amount
                                needed is three times more than what is currently being
                                applied to solve the water crisis. This is where Water.org
                                comes in. We have a solution that addresses the gap in
                                financing. Through access to affordable financing, we can
                                empower millions in need with safe water and sanitation.
                            </p>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-right stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>Affordable finance is the solution</h3>
                            <p>
                                Together with our 160 partners around the world, we&#x27;ve
                                catalyzed $2.5 billion in capital to support small loans
                                that bring access to safe water and sanitation to millions
                                of people in need. <a href="../about-us/our-work/watercredit/">Learn more</a>
                                about how our smart financial solution will help the world
                                achieve Sustainable Development Goal 6 by closing the
                                financial gap.
                            </p>
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/40gUJGMfSF4?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <figcaption class="article-figure__caption">
                        <div class="rich-text">
                            <p>
                                We created a way to bridge the gap between millions of
                                people in need and access to a tap and toilet at home. Matt
                                Damon, Water.org Co-founder, explains.
                            </p>
                        </div>
                    </figcaption>
                </div>
            </div>
        </section>
    </div>
    <div class="block-text_with_quote">
        <section class="stripe-section divided-content">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <p></p>
                            <div style="padding-bottom: 56.25%" class="responsive-object">
                                <iframe width="480" height="270"
                                    src="https://www.youtube.com/embed/WLfREE4tNSc?feature=oembed" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <div class="block-richtext">
                        <div class="rich-text">
                            <p>
                                <i>Learn more from Water.org’s Chief Global Impact Officer,
                                    Vedika Bhandarkar as she explains what is needed to
                                    achieve Sustainable Development Goal 6.</i>
                            </p>
                            <hr />
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <blockquote>
                        &quot;This is not an issue of philanthropy, it&#39;s not an
                        issue of aid. It&#39;s an issue of a real financing gap.
                        It&#39;s an issue of capital. It&#39;s also an issue of ensuring
                        every dollar that is spent...is leveraged to the maximum.&quot;
                        <cite>
                            <span class="cite__name">Vedika Bhandarkar</span>
                            <span class="cite__title">Chief Global Impact Officer, Water.org</span>
                        </cite>
                    </blockquote>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe">
        <div class="content-container">
            <p class="callout-stripe__text">
                Donate to empower families with access to safe water and sanitation.
            </p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>