<main class="wide-container">
    <section class="page-header" style="background-image: url(/media/images/Header-15.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Careers</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item active">Careers</li>
            </ol>
        </div>
    </div>
    <div class="block-text_with_items">
        <section class="stripe-section divided-content divided-content--sidebar-first">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Join us and change the world</h3>
                            <p>
                                We are Water.org. Our mission is to bring safe water and
                                sanitation to the world. We believe that water is the way to
                                empowering a bright future that we can all share in,
                                worldwide. Join us in our work to break down the barriers
                                between people and access to safe water and sanitation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <div class="block-quote">
                        <blockquote>
                            We&#39;ve helped more than 31 million people get access to
                            safe water and sanitation. Join us.
                            <cite> </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>Life at Water.org</h3>
            <p>
                We are a results-driven team of thinkers and doers that believe in
                the power of water to unlock opportunity for the people we empower.
                We stand for people, progress and possibility. When you join our
                team, you&#x27;re doing more than starting a new job, you&#x27;re
                setting a course to make a difference in the world. And like you, we
                think that&#x27;s a great way to live and work.
            </p>
        </div>
    </div>
    <div class="block-carousel">
        <section class="stripe-section">
            <div class="content-container">
                <div class="general-slider flexslider general-slider--timeline">
                    <ul class="slides">
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>Taking notes to improve our work</h2>
                                    <div class="rich-text">
                                        <p>Meeting with people we empower in Kenya.</p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers_Gallery_Img-5.original.jpg"
                                        alt="Water.org team members meet with partners in Kenya" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>Learning from the people we empower</h2>
                                    <div class="rich-text">
                                        <p>
                                            A woman in the Philippines shared her story with team
                                            members from Water.org and our microfinance
                                            institution partner in the area.
                                        </p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers_Gallery_Img-2.original.jpg"
                                        alt="Water.org team members meet with partners in the Philippines" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>Sharing our knowledge to increase impact</h2>
                                    <div class="rich-text">
                                        <p>
                                            Team members speak on a panel at a financial inclusion
                                            conference in Dhaka, Bangladesh
                                        </p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers_Gallery_Img-9.original.jpg"
                                        alt="Waterorg_Careers_Gallery_Img-9.jpg" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>Working in Chennai</h2>
                                    <div class="rich-text">
                                        <p>
                                            Team members meet with partners and local staff in
                                            Chennai, India.
                                        </p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers_Gallery_Img-4.original.jpg"
                                        alt="Water.org team members meet with partners and local staff in Chennai, India" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>
                                        Bringing people together to share our smart solutions
                                    </h2>
                                    <div class="rich-text">
                                        <p>
                                            A few team members at the WaterCredit Forum we hosted
                                            in Lima, Peru.
                                        </p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers-Gallery_Img-8.original.jpg"
                                        alt="Water.org team members at the WaterCredit Forum in Lima, Peru" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>Celebrating access to safe water</h2>
                                    <div class="rich-text">
                                        <p>
                                            San Francisco office team members celebrate World
                                            Water Day.
                                        </p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers-Gallery_Img-7.original.jpg"
                                        alt="San Francisco office team members celebrate World Water Day" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>A global organization</h2>
                                    <div class="rich-text">
                                        <p>
                                            Members of our International Programs team from around
                                            the world gather in the Kansas City office.
                                        </p>
                                        <p><br /></p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers_Gallery_Img-1_RV.original.jpg"
                                        alt="Water.org country directors and staff" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__text text-block">
                                    <h2>A collaborative work environment</h2>
                                    <div class="rich-text">
                                        <p>
                                            Open offices at our headquarters promote collaboration
                                            among Water.org team members.
                                        </p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Careers_Gallery_Img-1.original.jpg"
                                        alt="Water.org headquarters in Kansas City, Missouri" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="block-full_width_image">
        <section class="stripe-section bleeding-image" style="
          background-image: url(/media/images/Careers_Full-3-RV2.original.jpg);
        ">
            <div class="content-container">
                <div class="bleeding-image__text">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>It all starts in Kansas City</h3>
                            <p>
                                We have offices and staff members in 7 countries and our
                                headquarters are located in Kansas City, Missouri. If you
                                are from here, you get it. If you aren&#x27;t, let us
                                explain. We&#x27;re located in the heart of Kansas
                                City&#x27;s growing Crossroads district, known for its art
                                galleries, restaurants, lofts and vibrant urban culture.
                                Kansas City consistently makes Top 10 best cities lists
                                based on affordability, schools, cultural attractions and
                                our sports teams. Our contemporary space is purposefully
                                designed to encourage collaboration.
                            </p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left">
        <div class="content-container">
            <div class="featured-callout__image-container featured-callout__image-container--left">
                <img src="/media/images/Waterorg_Careers_Gallery_Img-1.original.jpg"
                    alt="Water.org headquarters in Kansas City, Missouri" />
            </div>
            <div class="featured-callout__text-block text-block">
                <h3>Current job opportunities</h3>
                <ul class="career-listings">
                    <li class="water-org">
                        <a href="/careers/marketing-associate/">Marketing Associate</a>
                        - Kansas City, MO
                    </li>
                    <li class="water-org">
                        <a href="/careers/senior-corporate-accountant/">Senior Corporate Accountant</a>
                        - Kansas City, MO
                    </li>
                    <li class="water-org">
                        <a href="/careers/senior-manager-international-finance-operations/">Senior Manager,
                            International Finance Operations</a>
                        - Kansas City, MO, preferred
                    </li>
                    <li class="water-org">
                        <a href="/careers/staff-accountant-india/">Staff Accountant</a>
                        - Chennai or Delhi, India (Chennai strongly preferred)
                    </li>
                </ul>
            </div>
        </div>
        <div class="stripe-section__pattern" style="
          background-image: url(/media/images/pattern-large-1.original.png);
        "></div>
    </section>
    <div class="bottom-image">
        <img src="/media/images/Partners_Footer.original.jpg" alt="Partners_Footer.jpg" />
    </div>
    <div class="callout-stripe">
        <div class="content-container">
            <p class="callout-stripe__text">
                Your donation brings hope and opportunity. That&#39;s the power of
                water.
            </p>
            <a href="/donate/" title="" class="tertiary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>