<main class="wide-container">
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../index.html">Home</a></li>
                <li class="breadcrumbs__item active">Contact Us</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section single-column-content">
        <div class="content-container">
            <div class="text-block">
                <h2 class="page-title">Contact Us</h2>
            </div>
            <div class="block-rich_text">
                <div class="rich-text">
                    <p>
                        Thank you for your interest in Water.org and our mission to
                        bring safe water and sanitation to the world. Please explore our
                        website to learn more about our work, the water crisis and how
                        you can help.
                    </p>
                    <ul>
                        <li>
                            <a href="../cdn-cgi/l/email-protection.html#7b0b1a090f151e090813120b083b0c1a0f1e095514091c">Discuss
                                a partnership</a>
                            to fund proven, powerful solutions that help bring safe water
                            and sanitation to people in need around the world.
                        </li>
                        <li>
                            <a href="../about-us/ways-donate/index.html">Ways to donate</a> for all of the ways both
                            individuals and businesses can
                            help.
                        </li>
                        <li>
                            <a href="../faq/index.html">FAQs</a> for answers to the most
                            common questions.
                        </li>
                        <li>
                            <a href="../about-us/resources/index.html">Resources</a> for
                            helpful media and content.
                        </li>
                        <li>
                            <a href="../careers/index.html">Careers</a> to learn about
                            current job openings and apply for a position.
                        </li>
                        <li>
                            <a href="../our-impact/index.html">Our impact</a> if you are a
                            student needing information for a school project.
                        </li>
                        <li>
                            <a href="../about-us/resources/media-request/index.html">Media requests </a>or
                            <a href="../about-us/resources/speaker-request/index.html">speaker requests</a>
                            for media and event inquiries. 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block-faq">
                <section class="expander-group">
                    <h2 class="expander-group__title">Frequent Questions</h2>
                    <ul class="expanders">
                        <li class="expander expander--is-open">
                            <div class="expander__headline">
                                What is your postal address?
                            </div>
                            <div class="expander__text">
                                <div class="rich-text">
                                    <p>
                                        Water.org <br />117 West 20th Street, Suite 203<br />Kansas
                                        City, MO 64108
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="expander expander--is-open">
                            <div class="expander__headline">
                                How do I change my credit card number for my monthly
                                donation?
                            </div>
                            <div class="expander__text">
                                <div class="rich-text">
                                    <p>
                                        If you need to change your credit card or update your
                                        account, please fill out the form below or reach out
                                        directly to <a
                                            href="../cdn-cgi/l/email-protection.html#1f7b7071706d7c7e6d7a5f687e6b7a6d31706d78"><span
                                                class="__cf_email__"
                                                data-cfemail="086c6766677a6b697a6d487f697c6d7a26677a6f">[email&#160;protected]</span></a>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="expander expander--is-open">
                            <div class="expander__headline">
                                Is my donation tax-deductible?
                            </div>
                            <div class="expander__text">
                                <div class="rich-text">
                                    <p>
                                        Gifts are deductible under applicable laws. Water.org is
                                        a US registered 501(c)(3) organization. Our Tax-ID
                                        number is 58-2060131. Please consult your tax
                                        professional if you have questions.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="expander expander--is-open">
                            <div class="expander__headline">
                                Can I volunteer with Water.org?
                            </div>
                            <div class="expander__text">
                                <div class="rich-text">
                                    <p>
                                        Thank you for your interest in volunteering. Because our
                                        smart solutions rely on local in-country partners and
                                        the people in need to implement, we don&#x27;t have
                                        volunteer opportunities at this time. To stay up to date
                                        on our work, we encourage you to follow us on social
                                        media, and add impact to your inbox by signing up for
                                        our email updates
                                        <a href="../subscribe/index.html">here</a>. For even
                                        more ways to support safe water, check out the options
                                        <a href="../about-us/ways-donate/index.html">here</a>.
                                        We would love your support to change more lives with
                                        safe water. 
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="block-rich_text">
                <div class="rich-text">
                    <p><br /></p>
                    <p>
                        Not finding what you&#x27;re looking for on our website? Please
                        complete the form below. We review all submissions; however due
                        to the high volume of inquiries, we are not always able to
                        respond personally to each one.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="stripe-section single-column-content">
        <div class="content-container">
            <form action="../contact-us/" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken"
                    value="RgQ3BPeoPF8v5zzF03mVlhVazxDsK8afTwp1hKVGrRF4iMSMrqRaUBELBjYMUAgb" />
                <div class="form-group">
                    <label class="control-label" for="id_name">Name</label><input type="text" name="name"
                        maxlength="255" title="" class="form-control" placeholder="Name" id="id_name" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_email-address">Email Address</label><input type="email"
                        name="email-address" title="" class="form-control" placeholder="Email Address"
                        id="id_email-address" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_subject">Subject</label><input type="text" name="subject"
                        maxlength="255" title="" class="form-control" placeholder="Subject" id="id_subject" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_tell-us-more">Tell us more</label><textarea name="tell-us-more"
                        cols="40" title="" required class="form-control" placeholder="Tell us more" id="id_tell-us-more"
                        rows="10"></textarea>
                </div>
                <div class="form-group">
                    <script data-cfasync="false"
                        src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script src="../../www.google.com/recaptcha/apifef7.js?hl=en"></script>
                    <div class="g-recaptcha" data-sitekey="6LdddWEUAAAAAHbDYKjTrvMbc6ImKubOmKgApBYq"
                        data-class="form-control" data-title="" data-required="True" data-id="id_wagtailcaptcha"></div>
                    <noscript>
                        <div style="width: 302px; height: 352px">
                            <div style="width: 302px; height: 352px; position: relative">
                                <div style="width: 302px; height: 352px; position: absolute">
                                    <iframe
                                        src="https://www.google.com/recaptcha/api/fallback?k=6LdddWEUAAAAAHbDYKjTrvMbc6ImKubOmKgApBYq"
                                        frameborder="0" scrolling="no"
                                        style="width: 302px; height: 352px; border-style: none">
                                    </iframe>
                                </div>
                                <div style="
                      width: 250px;
                      height: 80px;
                      position: absolute;
                      border-style: none;
                      bottom: 21px;
                      left: 25px;
                      margin: 0px;
                      padding: 0px;
                      right: 25px;
                    ">
                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                        class="recaptcha_challenge_field" style="
                        width: 250px;
                        height: 80px;
                        border: 1px solid #c1c1c1;
                        margin: 0px;
                        padding: 0px;
                        resize: none;
                      " value="">
                    </textarea>
                                    <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
                                </div>
                            </div>
                        </div>
                    </noscript>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </section>
</main>