<main class="wide-container">
    <section class="page-header" style="
        background-image: url(/media/images/Waterorg_Our-Impact_Cambodia_Header.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">
                    Here&#39;s to safe water for all
                </h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumbs__item active">Donate</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section single-column-content donate-content">
        <div class="content-container">
            <div class="block-rich_text">
                <div class="rich-text">
                    <h2>Make a donation that will change lives forever</h2>
                    <p>
                        Your donation creates hope and opportunity around the world by
                        empowering families in need with access to safe water and
                        sanitation.
                    </p>
                </div>
            </div>
            <div class="block-html">
                <div class="donately-form"></div>

            </div>
        </div>
    </section>
    <section class="stripe-section columned-callouts donate-callouts">
        <div class="content-container">
            <div class="columned-callouts__headline">
                <h4>Additional information</h4>
            </div>
            <div class="single-column-content">
                <div class="block-rich_text">
                    <div class="rich-text">
                        <ul>
                            <li>
                                For information on other ways to donate, whether you are an
                                individual or a business, learn more <a href="/about-us/ways-donate/">here</a>. 
                            </li>
                            <li>
                                All donations are in USD. If a donation is made from an
                                international bank account, there may be additional fees
                                incurred with that transaction.
                            </li>
                            <li>
                                If you are making a gift in honor of someone, we will send
                                your customized message to that person within an hour.
                            </li>
                            <li>
                                Matt Damon founded H20 AFRICA in 2006 to raise funds for and
                                awareness about safe water initiatives on the continent, and
                                that work continues today as part of Water.org’s vision of
                                safe water and sanitation for all.
                                <a href="/about-us/founders-board-team/matt-damon/">Learn more</a>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>