<main class="wide-container">
    <section class="page-header" style="
        background-image: url(../media/images/Waterorg_FAQ_Header.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Frequently Asked Questions</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../index.html">Home</a></li>
                <li class="breadcrumbs__item active">FAQs</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section single-column-content">
        <div class="content-container">
            <div class="text-block">
                <h2 class="page-title">FAQs</h2>
            </div>
        </div>
    </section>
    <section class="stripe-section single-column-content">
        <div class="content-container">
            <section class="expander-group">
                <h2 class="expander-group__title">Donating to Water.org</h2>
                <ul class="expanders">
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How can I donate to Water.org?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    You can donate using any major credit card or via
                                    PayPal <a href="../donate/index.html">here</a>. Please
                                    visit <a href="../about-us/ways-donate/index.html">Ways to Donate</a> for more
                                    options to make a donation. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Does Water.org have planned giving options?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Thank you for thinking of Water.org. We offer multiple
                                    planned giving options. <a
                                        href="../about-us/ways-donate/planned-giving/index.html">Visit here</a> to learn
                                    more about how you can leave a legacy of safe
                                    water. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            I&#39;d like to make a donation in honor of someone. How can I
                            do this?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    To make a donation in someone’s honor, fill out the
                                    donation form <a href="../donate/index.html">here</a> and
                                    at the bottom of the form select the box that says,
                                    &quot;I would like this donation to be made in honor of
                                    someone.&quot; You can then write a custom message that we
                                    will email to the person you are honoring. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            I&#39;d like to give someone a donation to Water.org for their
                            birthday. How do I do this?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Giving the gift of safe water is always a good idea - for
                                    a birthday, Mother’s Day, retirement or any other special
                                    occasion. To do so, make a <a href="../donate/index.html">donation online</a>, and
                                    at the bottom of the form select the box that says,
                                    “I would like this donation to be made in honor of
                                    someone.” You can then write a custom message that we will
                                    send to your recipient. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I donate a portion of proceeds from my business to
                            Water.org?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Yes, and thank you for your interest in being a business
                                    that gives back. Please visit our <a
                                        href="../about-us/ways-donate/cause-marketing/index.html">cause
                                        marketing</a> page to learn more, register your business and start
                                    changing lives today. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I donate money to a specific project or geography?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    The most efficient and effective way to make an impact is
                                    to make a general donation to Water.org. Your financial
                                    gift will be leveraged for the most urgent needs. Our more
                                    than 25 years of experience gives us the insights and
                                    learnings to maximize our impact together. We are
                                    recognized by third party organizations for our <a
                                        href="../about-us/financials/index.html">financial effectiveness</a>
                                    and believe in, and practice, transparency, ethical
                                    accounting, and donor stewardship. Further, there are
                                    administrative costs associated with directing your funds
                                    to a specific project or geography which can decrease the
                                    overall impact of your gift. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I donate from an international address or with
                            international currency?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    We welcome donations from around the world. All donations
                                    are in USD. If a donation is made from an international
                                    bank account, there may be additional fees incurred with
                                    that transaction. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            What is your postal address?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Water.org<br />117 West 20th Street, Suite 203 <br />Kansas
                                    City, MO 64108-1909 
                                </p>
                                <p>USA</p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Is my donation tax-deductible?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Gifts are deductible under applicable laws. Water.org is a
                                    US registered 501(c)(3) organization. Our Tax-ID number is
                                    58-2060131. Please consult your tax professional if you
                                    have questions.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How do I change my credit card for my monthly donation?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Thank you for your continued support. If you need to
                                    update your credit card information, please reach out
                                    to <a
                                        href="../cdn-cgi/l/email-protection.html#d0b4bfbebfa2b3b1a2b590a7b1a4b5a2febfa2b7"><span
                                            class="__cf_email__"
                                            data-cfemail="cfaba0a1a0bdacaebdaa8fb8aebbaabde1a0bda8">[email&#160;protected]</span></a> or
                                    call 816-877-8451. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How do I cancel my monthly donation?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    We appreciate your support to help change lives with
                                    access to safe water and sanitation. You can cancel your
                                    monthly donation by contacting
                                    <a
                                        href="../cdn-cgi/l/email-protection.html#a2c6cdcccdd0c1c3d0c7e2d5c3d6c7d08ccdd0c5"><span
                                            class="__cf_email__"
                                            data-cfemail="2743484948554446554267504653425509485540">[email&#160;protected]</span></a> or
                                    816-877-8451. We hope our paths cross again in the
                                    future!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I get a receipt for my donation?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Yes, send a request to <a
                                        href="../cdn-cgi/l/email-protection.html#583c3736372a3b392a3d182f392c3d2a76372a3f"><span
                                            class="__cf_email__"
                                            data-cfemail="6e0a0100011c0d0f1c0b2e190f1a0b1c40011c09">[email&#160;protected]</span></a> and
                                    we will provide you one. 
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="expander-group">
                <h2 class="expander-group__title">Why Donate?</h2>
                <ul class="expanders">
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Why donate to help solve the water crisis?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Because opportunity starts with water. Access to safe
                                    water can protect and save lives, just because it&#x27;s
                                    there. Access to safe water has the power to turn time
                                    spent into time saved, when it&#x27;s close and not hours
                                    away. Access to safe water can turn problems into
                                    potential: unlocking education, economic prosperity, and
                                    improved health. Water is the way to break the cycle of
                                    poverty, to protect and save lives and to make a bright
                                    future possible for all.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">Why donate to Water.org?</div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>Here are a few reasons to donate to Water.org:</p>
                                <p></p>
                                <ul>
                                    <li>
                                        We are a smart way to make a big impact. We empower
                                        people through access to affordable financing to install
                                        toilets or taps in their home. This unlocks opportunity
                                        for education, economic potential, and improved health.
                                    </li>
                                    <li>
                                        Our solutions are working and gaining momentum. With our
                                        unique approach, we can now reach millions of people
                                        every few months, and to date we’ve empowered more than
                                        31 million people with access to safe water and
                                        sanitation.
                                    </li>
                                    <li>
                                        We drive sustainable, long-term impact. Our solution
                                        provides families with a sustainable water or sanitation
                                        solution for their home, rather than a temporary fix. It
                                        helps the people we empower solve their immediate need,
                                        and continues to enrich their lives long after the loan
                                        has been repaid.
                                    </li>
                                </ul>
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Where can I get information on Water.org’s financials?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Our financial statements and annual reports are
                                    available <a href="../about-us/financials/index.html">here</a>. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How do I know my money is being well spent?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    When you donate to Water.org, you can be assured that your
                                    donation is making an impact in the area that needs it
                                    most. We are excellent stewards of all gifts we receive,
                                    which is why so many partners, like the IKEA Foundation,
                                    PepsiCo Foundation, Caterpillar Foundation and the Bank of
                                    America Foundation support our work.
                                </p>
                                <p>
                                    Water.org maintains the highest rating from
                                    <a
                                        href="https://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=8875">Charity
                                        Navigator</a>
                                    and is recognized as an accredited charity with the
                                    <a
                                        href="http://www.give.org/charity-reviews/national/human-services/water-org-in-kansas-city-mo-3948">Better
                                        Business Bureau&#x27;s Wise Giving Alliance</a>.
                                </p>
                                <p>
                                    Collectively, Water.org spends 81% of its funds on
                                    programming to change lives with safe water and 19% on
                                    program support. For more information, our financial
                                    statements are available <a href="../about-us/financials/index.html">here</a>. We
                                    are confident that we deliver effective solutions
                                    that will transform lives with safe water and sanitation,
                                    and we’d love for you to be a part of our work.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How does $25 give one family safe water?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    On average, it costs $5 to reach one person with safe
                                    water or sanitation. This cost is derived from the total
                                    organizational costs divided by the total number of people
                                    served during the fiscal years of 2016-2020. A household
                                    is defined as 4.75 people. So, $5 x 4.75 equals
                                    approximately $25. This number may continue to evolve as
                                    we seek to develop the most effective ways to reach more
                                    people with safe water and sanitation.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="expander-group">
                <h2 class="expander-group__title">
                    Ways to get involved with Water.org
                </h2>
                <ul class="expanders">
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How do I sign up for Water.org emails?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    <a href="../subscribe/index.html">Click here</a> to sign
                                    up for email updates and keep up to date on the
                                    life-changing work you help make possible.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How can I help Water.org beyond donating?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    There are many ways to get involved with Water.org, from
                                    fundraising to raising awareness of the global water
                                    crisis. Learn more
                                    <a href="../about-us/ways-donate/index.html">here</a>.<br />
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How can my business give back to Water.org?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Thank you for your interest in changing lives with safe
                                    water through your business. Please see the business and
                                    group donation options <a href="../about-us/ways-donate/index.html">here</a>.  
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I raise money for Water.org? How?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    You can raise money to change lives with safe water! Thank
                                    you for considering using your passions, talents, and
                                    connections to do so. To set up an online fundraiser, <a
                                        href="http://give.water.org/">click here</a> and choose “Start a fundraiser” and
                                    invite your friends
                                    and family to donate. 
                                </p>
                                <p>
                                    We love it when our supporters get creative and come up
                                    with personalized ideas. Or you’re welcome to try one of
                                    these:
                                </p>
                                <ul>
                                    <li>
                                        Donate a special day like your birthday or wedding by
                                        asking for donations instead of gifts.
                                    </li>
                                    <li>
                                        Plan a run or walk, raising awareness of women and
                                        children in the developing world who walk each day to
                                        collect water. 
                                    </li>
                                    <li>
                                        Take an athletic approach and turn your sweat into safe
                                        water. Ask friends and family to support you as you gear
                                        up for your run, bike, swim or other athletic event.
                                    </li>
                                    <li>
                                        Host a movie or trivia night. Donate the proceeds from
                                        ticket sales and concessions.
                                    </li>
                                    <li>
                                        Get in the kitchen and plan a bake sale or lemonade or
                                        hot cocoa stand.
                                    </li>
                                </ul>
                                <p></p>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Are there any products I can buy that support Water.org?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Yes! You can support us by shopping with businesses that
                                    give back. From coffee to water bottles to carpet cleaning
                                    to jewelry – <a href="../about-us/ways-donate/shop-support/index.html">shop
                                        online</a> with these businesses and your purchases will support
                                    our work to bring water and sanitation to families around
                                    the world. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I volunteer for Water.org?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Thank you for your interest in volunteering. Because our
                                    smart solutions rely on local in-country partners and the
                                    people we serve to implement, we don&#x27;t have volunteer
                                    opportunities at this time. If you are looking for
                                    additional ways to provide support, we encourage you to
                                    visit our <a href="../about-us/ways-donate/index.html">Ways to Donate</a> page.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Does Water.org have an internship program?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    At this time Water.org does not have an internship
                                    program. All current job opportunities are listed <a
                                        href="../careers/index.html">here</a>. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Are there any job openings at Water.org?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    <a href="../careers/index.html">Check here and see</a>.
                                    You&#x27;ll find both national and international openings
                                    listed. We’d love for you to join us and help change the
                                    world.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="expander-group">
                <h2 class="expander-group__title">Requests for Information</h2>
                <ul class="expanders">
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can someone from Water.org speak at my event?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    If you would like a Water.org employee to speak at an
                                    event, please fill out this <a
                                        href="../about-us/resources/speaker-request/index.html">form</a>. Please be as
                                    specific as possible with your request so
                                    that we can best serve you. Please know we are not able to
                                    respond and fulfill every request; however, we will reach
                                    out to you if there is a fit.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I interview a Water.org team member?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    If you are looking to interview a Water.org team member,
                                    please fill out this <a
                                        href="../about-us/resources/media-request/index.html">form</a>. Please be as
                                    specific as possible with your request so
                                    that we can best serve you.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I interview someone at Water.org for a class project?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    We are honored to be considered for your project. Due to
                                    the high volume of requests we get from students
                                    conducting research, we are unable to answer individual
                                    questions. We do provide many helpful resources on our
                                    website to learn about our work – <a
                                        href="../our-impact/water-crisis/index.html">the water crisis</a>, <a
                                        href="../solutions/watercredit/index.html">our WaterCredit solution</a>, <a
                                        href="../our-impact/index.html">where we work</a>, and hope these support your
                                    needs.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How do I get in contact with Matt Damon?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Mr. Damon receives an extremely high volume of requests
                                    for his time and assistance. We forward these requests to
                                    his publicist on a regular basis. Submit your request or
                                    invitation <a href="../contact-us/index.html">here</a>.
                                    Please know that Water.org is not an agent of Mr. Damon
                                    and we cannot guarantee a response. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can I get permission to use your photos, videos and facts?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    You are welcome to use any of our <a
                                        href="https://www.flickr.com/photos/waterdotorg/collections/72157631196725156/">photos</a> or <a
                                        href="https://www.youtube.com/water">videos</a> as
                                    long as you give Water.org proper credit by stating
                                    &quot;photo (or video) by Water.org&quot;. Please also
                                    feel free to share <a href="../our-impact/water-crisis/index.html">facts about the
                                        water crisis</a> to support your efforts. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can you send me pamphlets or brochures to hand out at my
                            event?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    To minimize our costs, we do not print and send materials.
                                    Feel free to print communications you may need, such as <a
                                        href="../about-us/index.html">About Us</a>, <a
                                        href="../our-impact/water-crisis/index.html">facts about the water crisis</a>,
                                    as well as <a href="../our-impact/all-stories/index.html">photos and stories</a> of
                                    the people we empower. 
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="expander-group">
                <h2 class="expander-group__title">About Water.org</h2>
                <ul class="expanders">
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            What is the water and sanitation crisis?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Today, 785 million people – about 1 in 9 – lack access to
                                    safe water and 2 billion people – about 1 in 3 - don’t
                                    have access to a toilet. At Water.org we are working to
                                    change this.
                                </p>
                                <p>
                                    Learn more about the water and sanitation crisis
                                    <a href="../our-impact/water-crisis/index.html">here</a>.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">Who founded Water.org?</div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    In 1990, Gary White founded WaterPartners International.
                                    In 2009, Gary and Matt Damon met and joined together to
                                    create Water.org. For more than 25 years, we’ve made it
                                    our mission to bring access to safe water and sanitation
                                    to the world. We are an international nonprofit that
                                    pioneers market-driven financial solutions to end the
                                    global water crisis. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">What does Water.org do?</div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    The scale of the water crisis demands many different
                                    approaches. Providing water and building wells is one
                                    approach. We have a different and entirely unique
                                    approach.
                                </p>
                                <p>
                                    For millions around the world, access to funds stands
                                    between them and getting safe water in their home. Our
                                    solutions focus on breaking down this financial barrier.
                                    We help bring small, easily repayable loans to those who
                                    need access to affordable financing and expert resources
                                    to make household water and toilet solutions a reality.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">What is WaterCredit?</div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    One of the major barriers to safe water and sanitation is
                                    affordable financing. That’s why we created WaterCredit to
                                    address this barrier head-on. WaterCredit helps bring
                                    small, easily repayable loans to those who need access to
                                    affordable financing and expert resources to make
                                    household water and toilet solutions a reality. When given
                                    an opportunity to pay for water and sanitation
                                    improvements with loans, families opt to finance long-term
                                    solutions versus struggle day-to-day to find that next
                                    liter of water. And, every repaid loan can empower another
                                    family with safe water. 
                                </p>
                                <p>
                                    It’s a proven, powerful solution that is working. Learn
                                    more <a href="../about-us/our-work/watercredit/index.html">here</a>.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How is Water.org different from other water and sanitation
                            organizations?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    We’re not alone in our mission, which is a wonderful
                                    thing. It takes all kinds to solve a problem of this
                                    magnitude. But there are a few things that set us apart:
                                </p>
                                <ul>
                                    <li>
                                        We break down the financial barriers between people and
                                        access to safe water and sanitation. For millions around
                                        the world, access to funds stands between them and safe
                                        water at home. It&#x27;s expensive to be poor. And
                                        people living in poverty are already paying for water -
                                        in time and money. We believe that if we can provide
                                        people with small, affordable loans for water
                                        connections and toilets, we can empower them to take
                                        control of their future and break down this barrier. 
                                    </li>
                                    <li>
                                        Our approach is proven and powerful. We can now reach
                                        millions of people every few months, and to date we’ve
                                        empowered more than 31 million people with access to
                                        safe water and sanitation.
                                    </li>
                                    <li>
                                        We believe in the power and autonomy of the people we
                                        serve. They are people with financial power, rights, and
                                        the capabilities to define their own futures. They know
                                        the specific needs of their own homes and communities
                                        and what will work; we have resources that can help make
                                        it happen.
                                    </li>
                                    <li>
                                        We drive sustainable, long-term impact. Our solution
                                        provides families with a sustainable water or sanitation
                                        solution for their home, rather than a temporary fix. It
                                        helps the people we empower solve their immediate need,
                                        and continues to enrich their lives long after the loan
                                        has been repaid.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">Where does Water.org work?</div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Water.org currently works in Bangladesh, Brazil, Cambodia,
                                    Ethiopia, Ghana, India, Indonesia, Kenya, Mexico, Peru,
                                    the Philippines, Tanzania and Uganda. We previously had
                                    programs in El Salvador, Guatemala, Haiti and Honduras. <a
                                        href="../our-impact/where-we-work/index.html">Click here</a> for more specific
                                    information about our work in each
                                    country.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Why does Water.org only work in certain countries?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    We work in countries that have critical water and
                                    sanitation needs as well as a market that supports our
                                    financial solutions. Water.org currently has programs in
                                    Bangladesh, Brazil, Cambodia, Ethiopia, Ghana, India,
                                    Indonesia, Kenya, Mexico, Peru, the Philippines, Tanzania
                                    and Uganda. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How do you monitor and evaluate your work?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Water.org maintains a robust strategy to monitor and
                                    evaluate all of our programs. We work closely with our
                                    in-country partners to design a program that is right for
                                    them and help ensure the program is successful and meeting
                                    household needs in the area. Water.org staff communicates
                                    with partners on a weekly, and often daily basis as well
                                    as conducts occasional visits with our partners and the
                                    households we serve. These visits help to validate the
                                    work our partner is doing, ensure borrowers are being
                                    treated ethically, and confirm that water and sanitation
                                    improvements are being installed and are functional. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            How does Water.org select what technology to use?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Water.org empowers families with access to safe water and
                                    sanitation through affordable financing. We partner with
                                    high-quality, in-country financial organizations who have
                                    passed a rigorous certification process. With this in
                                    mind, we do not endorse or utilize any particular water
                                    treatment or water distribution products or processes. In
                                    our experience, the knowledge and hardware for a
                                    successful project are readily available through local
                                    resources.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            I have an idea or product that I think could help, can I
                            partner with Water.org?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Thank you for your support of and interest in solving the
                                    global water and sanitation crisis. Water.org empowers
                                    families with access to safe water and sanitation through
                                    affordable financing. We partner with high-quality,
                                    in-country financial organizations who have passed a
                                    rigorous certification process. In our experience, the
                                    knowledge and hardware for a successful project are
                                    readily available regionally. With this in mind, we do not
                                    utilize or endorse commercial products. Learn more about
                                    WaterCredit <a href="../solutions/watercredit/index.html">here</a>. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can Water.org provide funding for my project?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    Because Water.org is a 501(c)(3) organization, all of our
                                    funding goes directly through our certified local partner
                                    organizations. These financial institutions establish
                                    water and sanitation loans in their portfolio of offerings
                                    to provide affordable loans to families in need.
                                    Therefore, we do not give funding for special projects
                                    outside of our organization. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="expander expander--is-open">
                        <div class="expander__headline">
                            Can Water.org come to my community and help?
                        </div>
                        <div class="expander__text">
                            <div class="rich-text">
                                <p>
                                    If your community is in a country where we work, we
                                    encourage you to reach out to our financial partners
                                    directly for financing opportunities. Please <a
                                        href="../contact-us/index.html">contact us</a> to obtain a list of our partners
                                    in your country.
                                    Currently Water.org has partners in Bangladesh, Brazil,
                                    Cambodia, Ethiopia, Ghana, India, Indonesia, Kenya, Peru,
                                    the Philippines, Tanzania and Uganda. 
                                </p>
                                <p>
                                    If your community does not fall within this list, we are
                                    unable to provide assistance. The following are
                                    directories that may be helpful in locating other
                                    organizations in the water and sanitation sector that may
                                    be active in your area:
                                </p>
                                <p></p>
                                <ul>
                                    <li>
                                        <a href="http://mwawater.org/about/members/">Millennium Water Alliance</a>
                                    </li>
                                    <li>
                                        <a href="http://www.endwaterpoverty.org/our-members">End Water Poverty</a>
                                    </li>
                                    <li>
                                        <a href="http://www.globalwaterchallenge.org/#our-coalition">Global Water
                                            Challenge</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </section>
    <section class="stripe-section single-column-content">
        <div class="content-container">
            <div class="rich-text">
                <p>
                    Can&#x27;t find the answers to your questions?
                    <a href="../contact-us/index.html">Contact us.</a> Due to the high
                    volume of inquiries, we are unable to respond personally to each
                    one, but we will try.
                </p>
                <p>
                    Thank you for taking the time to learn about Water.org and the
                    water and sanitation crisis. We cannot do this life-giving work
                    without you!
                </p>
            </div>
        </div>
    </section>
    <div class="callout-stripe">
        <div class="content-container">
            <p class="callout-stripe__text">Give the gift of safe water today.</p>
            <a href="../donate/index.html" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>