<main class="wide-container">
    <section class="page-header"
        style="background-image: url(/media/images/Waterorg_HealthOurWorld_Header-RV2.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">The health of our world starts with safe water</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item active">The health of our world starts with access to safe water</li>
            </ol>
        </div>
    </div>
    <div class="block-text_with_items">
        <section class="stripe-section divided-content  divided-content--sidebar-first  ">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Now more than ever access to safe water is critical to the health of families around the
                                world.</h3>
                            <h3>That&#x27;s why we&#x27;re committed to continuing our work to empower people living in
                                poverty with access to safe water and the health and hope that flow from it.</h3>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <div class="block-quote">
                        <blockquote>
                            &quot;Together we&#39;ve empowered more than 31 million people with access to safe water and
                            helped them build resilience to this pandemic and other diseases.&quot;
                            <cite>
                                <span class="cite__name">Gary White</span>
                                <span class="cite__title">CEO &amp; Co-founder</span>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%;" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/g-304Brcbn0?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <figcaption class="article-figure__caption">
                        <div class="rich-text">
                            <p>Watch as Water.org co-founder Matt Damon explains how we can join together to change
                                lives.</p>
                        </div>
                    </figcaption>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h4>Safe water has the power to protect and save lives</h4>
                            <p>Access to safe water at home directly helps families in need prepare and protect
                                themselves from this pandemic, because they can wash their hands and don&#x27;t have to
                                leave their homes to collect water.</p>
                            <p>Now more than ever the health of our world relies on access to safe water and people like
                                you. Together we can help prevent the spread of diseases today and support the health of
                                families tomorrow.</p>
                        </div>
                        <div>
                            <a href="/donate/" class="secondary-button">
                                Change lives with safe water <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="stripe-section__pattern"
                    style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
            </div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>Here&#x27;s how you can help families around the world today</h3>
                <p>Globally, 785 million people lack access to safe water and 2 billion people don’t have a toilet.
                    Nearly 1 million people die each year from diseases that could be prevented if families have access
                    to safe water and sanitation. Now more than ever is the time to ensure everyone everywhere has
                    access to safe water and a toilet.<br /><b>The most powerful thing you can do right now to help
                        build resilience and hope for families and our world is to give the gift of safe water.</b></p>
                <h4><b>You can help save lives.</b></h4>
            </div>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--4">
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_HealthOurWorld_Icon-1.original.png"
                            class="multi-column-row__image" style="max-width: 120px;">
                        <a href="/donate/" class="secondary-button multi-column-row__cta">Give water to people in need
                            <span class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_HealthOurWorld_Icon-2.original.png"
                            class="multi-column-row__image" style="max-width: 120px;">
                        <a href="/about-us/ways-donate/" class="secondary-button multi-column-row__cta">Explore other
                            ways to donate <span class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_HealthOurWorld_Icon-3.original.png"
                            class="multi-column-row__image" style="max-width: 120px;">
                        <a href="/about-us/ways-donate/start-fundraiser/"
                            class="secondary-button multi-column-row__cta">Start a fundraiser <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_HealthOurWorld_Icon-4.original.png"
                            class="multi-column-row__image" style="max-width: 120px;">
                        <a href="/our-impact/water-crisis/health-crisis/"
                            class="secondary-button multi-column-row__cta">Learn how access to safe water improves
                            health <span class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section
            class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right  featured-callout--has-bubble ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>A Message from CEO Gary White</h3>
                            <p>The reason Water.org exists, and why I dedicate my life to this work, is because water
                                touches everything. This pandemic is no exception. The front-line defense is
                                handwashing, made possible by safe water.</p>
                            <p>During this global pandemic, my thoughts turn to the 31 million people who now have
                                access to safe water and sanitation because of your support. Because of you, they have
                                greater resilience to this pandemic and other diseases. They are now better prepared to
                                safeguard their families.</p>
                            <p>Now more than ever, access to safe water and sanitation is critical to the health and
                                resilience of our global community. It is vital to prevent the spread of disease today
                                and to support the health of families tomorrow.</p>
                            <p>Thank you for continuing to donate to Water.org as we work to empower millions more in
                                need with safe water and sanitation. With your donation, we can continue helping those
                                living in poverty build resilience that allows health, hope and a bright future.</p>
                        </div>
                    </div>
                    <div class="block-richtext">
                        <div class="rich-text">
                            <p></p>
                            <p></p><img alt="Gary-White_Signature.png" class="richtext-image full-width" height="96"
                                src="/media/images/Gary-White_Signature-RV3.width-800.png" width="800">
                            <p><b>Gary White,</b> CEO &amp; Co-founder, Water.org</p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="/media/images/Waterorg_Covid-19-Response_Img-4.original.jpg"
                        alt="Waterorg_Covid-19-Response_Img-4.jpg">
                    <figure class="bubble-stat">
                        <div class="bubble-stat__content">
                            <span class="bubble-stat__number">31 M</span>
                            <figcaption class="bubble-stat__text">31 million lives changed across 17 countries
                            </figcaption>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_Covid-19-Response_Img-3RV.original.jpg"
                        alt="Waterorg_Covid-19-Response_Img-3.jpg">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h4>Driving impact during the COVID-19 pandemic</h4>
                            <p>Water.org is evolving how we work in response to the COVID-19 pandemic, so together with
                                our partners, we can continue to change more lives with safe water and sanitation and
                                build solutions needed for a resilient, sustainable tomorrow. We are:</p>
                            <ol>
                                <li>Promoting health and supporting resilience among those living in poverty through
                                    hygiene and behavior change messages, as well as advocating for improved public
                                    access and investment in water, sanitation, and handwashing facilities.</li>
                                <li>Supporting our partners so that they will be able to continue offering critical
                                    water and sanitation loans to people in need.</li>
                                <li>Advocating for stronger linkages between WASH (Water, Sanitation, Hygiene) and
                                    health to ensure governments focus resources on these vital, life-saving
                                    interventions.</li>
                            </ol>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-right stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h4>Finding hope — Time 100 Talks</h4>
                            <p>This pandemic has made it clear how critical safe water is to ensure global health — not
                                just for those in need, but for all of us.</p>
                            <p>Watch as Water.org co-founders Matt Damon and Gary White explain how water is a
                                front-line defense against COVID-19 and critical to the health of our human family
                                during their Time 100 Talks interview with CNN political commentator Van Jones.</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%;" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/yUzqcLd-ErQ?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_Covid-19-Response_Img-2.original.jpg"
                        alt="Waterorg_Covid-19-Response_Img-2.jpg">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h4>World Leaders Call-to-action on COVID-19</h4>
                            <p>Now more than ever access to safe water and sanitation is critical to the health and
                                resilience of our global community. That’s why Water.org is joining Heads of State,
                                Government, and leaders from United Nations agencies, international financial
                                institutions, civil society, private sector and research and learning, in calling
                                leaders around the world to prioritize water, sanitation and hygiene in response to the
                                COVID-19 pandemic.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="/health-our-world-starts-access-safe-water/world-leaders-call-action-covid-19/"
                        class="secondary-button">Read the full statement <span class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h4>Water gives health</h4>
                            <p>Alemtsenay’s family suffered from water-related illnesses. Their weak health prevented
                                them from going to work or school. A small loan made possible by Water.org empowered
                                Alemtsenay to fund just what she needed—a water tap and toilet at home. With gratitude
                                and relief she shared, “We will no longer be susceptible to diseases or such poor
                                hygiene practices that cause sickness.”</p>
                            <p><b>Together we can give families like Alemtsenay&#x27;s the opportunity for improved
                                    health. And it starts with access to safe water.</b></p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="/our-impact/all-stories/" class="secondary-button">Read more stories of health and hope
                        <span class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="/media/images/Waterorg_Covid-19-Response_Img-5.original.jpg"
                        alt="Waterorg_Covid-19-Response_Img-5.jpg">
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Help us change more lives with access to safe water and improved health.</p>
            <a href="/donate/" title="" class="tertiary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>