<main class="wide-container">
  <section class="page-header page-header--short"
    style="background-image: url(media/images/Waterorg_Homepage_Header_4ymjTup.original.jpg)">
    <div class="content-container">
      <div class="page-header__content">
        <h1 class="page-header__headline">Safe water protects and saves lives</h1>
        <div class="page-header__body">
          <div class="rich-text">
            <p>As we face a global pandemic, the health of families around the world relies on access to safe water and
              people like you.</p>
          </div>
        </div>
      </div>
      <a href="/donate/" title="Donate" class="tertiary-button">
        Donate</a>
      <a href="/invest/" title="Donate" class="tertiary-button" style="
  background: #79bde9;
">
        Invest</a>
    </div>
  </section>
  <div class="callout-stripe
           callout-stripe--flexslider flexslider
          
          " data-animation="fade" data-control-nav="true" data-slideshow="true" data-start-at="0">
    <ul class="slides">
      <li class="content-container" id="slide-0" data-duration="3000" style="background-image:url();">
        <a href="health-our-world-starts-access-safe-water/index.html"
          class="secondary-button callout-stripe__text-link">
          COVID-19: Access to safe water is critical to the health of families around the world. You can help now. <span
            class="icon-cta-arrow"></span>
        </a>
      </li>
      <li class="content-container" id="slide-1" data-duration="3500" style="background-image:url();">
        <a href="monthly-giving/index.html" class="secondary-button callout-stripe__text-link">
          Give $5 a month and change a life with safe water every month of the year. <span
            class="icon-cta-arrow"></span>
        </a>
      </li>
      <li class="content-container" id="slide-2" data-duration="3500" style="background-image:url();">
        <a href="you-are-loved/index.html" class="secondary-button callout-stripe__text-link">
          To our donors and supporters, thank you for changing lives with safe water. <span
            class="icon-cta-arrow"></span>
        </a>
      </li>
    </ul>
  </div>
  <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
    <div class="content-container">
      <div class="featured-callout__text-block text-block">
        <div class="block-richtext">
          <div class="rich-text">
            <h3>31 million people are more resilient to this global pandemic</h3>
            <p>Cleanwater.com has empowered more than 31 million people with access to safe water or sanitation. Access
              to safe water at home directly helps families in need prepare and protect themselves from this pandemic,
              because they can wash their hands and don&#x27;t have to leave their homes to collect water.</p>
          </div>
        </div>
        <div>
        </div>
        <a href="health-our-world-starts-access-safe-water/index.html" class="secondary-button">See how the health of
          our world starts with safe water <span class="icon-cta-arrow"></a>
      </div>
      <div class="featured-callout__image-container featured-callout__image-container--right">
        <img src="media/images/Waterorg_Homepage_Covid-19RV.original.jpg" alt="Waterorg_Homepage_Covid-19RV.jpg">
      </div>
    </div>
    <div class="stripe-section__pattern" style="background-image:url(media/images/pattern-large-1.original.png);"></div>
  </section>
  <section class="summary-section stripe-section stripe-section--has-pattern ">
    <div class="summary-section__content">
      <div class="summary-section__text-block text-block">
        <h3>There&#39;s a smart way to end the water crisis</h3>
        <div class="rich-text">
          <p><i>Millions of people around the world could get access to safe water in their homes with the help of
              small, affordable loans.</i></p>
          <p>That&#x27;s where Cleanwater.com comes in. We are here to bring safe water and sanitation to the world
            through access to small, affordable loans. There is both a need and demand for these loans, because when
            people have access to safe water, they get time back to go to school, earn an income and take care of their
            family. It changes their world.</p>
          <p>For more than 25 years, with your help, we&#x27;ve been providing families with hope, health and the
            opportunity to break the cycle of poverty.</p>
        </div>
        <a href="about-us/index.html" class="secondary-button">Learn how we empower families <span
            class="icon-cta-arrow"></span></a>
      </div>
      <div class="summary-section__image summary-section__image--left">
        <img src="media/images/Waterorg_Homepage_Img-1RV.original.jpg"
          alt="A small, affordable loan provides access to safe water">
      </div>
      <div class="summary-section__image summary-section__image--right">
        <img src="media/images/Waterorg_Homepage_Img-2RV2.original.jpg" alt="A woman in India">
      </div>
    </div>
    <div class="stripe-section__pattern" style="background-image:url(media/images/pattern-large-1.original.png);"></div>
  </section>
  <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
    <div class="content-container">
      <div class="featured-callout__image-container featured-callout__image-container--left">
        <img src="media/images/Waterorg_Homepage_Img-3RV3_sAanYHn.original.jpg" alt="Waterorg_Homepage_Img-3RV3.jpg">
      </div>
      <div class="featured-callout__text-block text-block">
        <div class="block-richtext">
          <div class="rich-text">
            <h3>Your donation is a powerful catalyst</h3>
            <p>One of the major barriers to safe water and sanitation is affordable financing. We address this barrier
              head-on through access to small, easily repayable loans. Every repaid loan creates a new opportunity for
              another family.</p>
            <p>By supporting Cleanwater.com, you are part of a solution that reaches more people, faster. Together with
              our 160 partners around the world, we&#x27;ve helped mobilize $2.5 billion in capital to support small
              loans that bring access to safe water and sanitation to millions of people in need.</p>
          </div>
        </div>
        <div>
        </div>
        <a href="donate/index.html" class="secondary-button">Donate now and multiply your impact <span
            class="icon-cta-arrow"></a>
      </div>
    </div>
  </section>
  <section
    class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right  featured-callout--has-bubble ">
    <div class="content-container">
      <div class="featured-callout__text-block text-block">
        <div class="block-richtext">
          <div class="rich-text">
            <h3>From safe water flows health and hope</h3>
            <p>Alemtsenay and her family often suffered from water-related illnesses such as typhoid and malaria,
              which prevented them from going to work or school. A small loan made possible by Cleanwater.com empowered
              Alemtsenay to fund just what she needed—a water tap and toilet at home.</p>
          </div>
        </div>
        <div class="block-blockquote">
          <blockquote>For families like Alemtsenay’s, access to safe water and sanitation at home means health and hope.
          </blockquote>
        </div>
        <div class="block-richtext">
          <div class="rich-text">
            <p>Now more than ever, access to safe water is critical to the health of families around the world.
              That&#x27;s why we&#x27;re committed to continuing our work to empower people living in poverty with
              access to safe water and the health and hope that flow from it.</p>
          </div>
        </div>
        <div>
        </div>
        <a href="our-impact/all-stories/index.html" class="secondary-button">Meet the people you impact <span
            class="icon-cta-arrow"></a>
      </div>
      <div class="featured-callout__image-container featured-callout__image-container--right">
        <img src="media/images/558A1501-Edit.original.jpg" alt="Alemtsenay Ethiopia">
        <figure class="bubble-stat">
          <div class="bubble-stat__content">
            <span class="bubble-stat__number">31 M</span>
            <figcaption class="bubble-stat__text">Alemtsenay is one of the 31 million people Cleanwater.com has
              empowered with access to safe water and sanitation.</figcaption>
          </div>
        </figure>
      </div>
    </div>
    <div class="stripe-section__pattern" style="background-image:url(media/images/pattern-large-1.original.png);"></div>
  </section>
  <section class="stripe-section divided-content  divided-content--sidebar-first  ">
    <div class="content-container">
      <div class="divided-content__main">
        <div class="block-richtext">
          <div class="rich-text">
            <h4>Our founders: Matt Damon and Gary White<br /></h4>
            <p>Ten years ago, Matt and Gary worked independently to help break down barriers between people and access
              to safe water. A common goal to pioneer smart solutions to the water crisis brought them together, and
              their combined water and sanitation expertise and star-power have allowed Cleanwater.com to emerge as a
              leader in the water and sanitation sector.</p>
          </div>
        </div>
        <div class="block-cta_link">
          <div>
            <a href="about-us/founders-board-team/index.html" class="secondary-button">
              Meet our team <span class="icon-cta-arrow">
            </a>
          </div>
        </div>
        <div class="block-richtext">
          <div class="rich-text">
            <h4>Highest rankings from charity watch dogs<br /></h4>
            <p>For more than ten years, Charity Navigator has consistently rated Cleanwater.com in the top 10% of global
              charities for transparency and financial accountability.<br /></p>
          </div>
        </div>
        <div class="block-cta_link">
          <div>
            <a href="about-us/financials/index.html" class="secondary-button">
              Review our financials <span class="icon-cta-arrow">
            </a>
          </div>
        </div>
        <div class="block-richtext">
          <div class="rich-text">
            <h4>Partnering to solve the water crisis<br /></h4>
            <p>We are proud to partner with some of the most respected foundations, brands, and implementing partners in
              the world who share our passion and commitment to solving the water crisis.</p>
          </div>
        </div>
        <div class="block-cta_link">
          <div>
            <a href="partners/index.html" class="secondary-button">
              Learn about our partners <span class="icon-cta-arrow">
            </a>
          </div>
        </div>
      </div>
      <div class="divided-content__sidebar">
        <div class="block-image">
          <img src="media/images/Waterorg_Homepage_Img-5RV.original.jpg"
            alt="Cleanwater.com Co-founders Matt Damon and Gary White in India">
        </div>
      </div>
    </div>
  </section>
  <section class="stripe-section callout-halves">
    <div class="content-container">
      <div class="callout-halves__half">
        <div class="text-block">
          <h4>Other ways to help</h4>
          <p>
          <div class="rich-text">
            <p>Whether you are an individual or a company, we have opportunities for you to make an impact. You can <a
                href="about-us/ways-donate/start-fundraiser/index.html">start an online fundraiser</a> or <a
                href="about-us/ways-donate/cause-marketing/index.html">create a cause marketing program</a> for your
              business. </p>
          </div>
          </p>
          <a href="about-us/ways-donate/index.html" class="secondary-button">
            Get involved <span class="icon-cta-arrow">
          </a>
        </div>
      </div>
      <div class="email-sign-up callout-halves__half">
        <div class="text-block">
          <h4>Add impact to your inbox</h4>
          <p>Get email updates about the people you help empower with water.</p>
          <form class="email-sign-up__form"
            action="https://www.pages08.net/waterorg/forms/OptIn?webSyncID=482e8a74-d283-2cd6-7e1e-c107522a6790&amp;sessionGUID=9a0282d2-6c9c-621b-d78a-2d5d600d85d8&amp;trackedExternalFormPost=1"
            method="post">
            <input name="formSourceName" type="hidden" value="StandardForm">
            <input name="sp_exp" type="hidden" value="yes">
            <div class="form-group">
              <label for="control_COLUMN2">First Name:</label>
              <input class="email-sign-up__email" defaultText id="control_COLUMN2" name="First Name" type="text"
                required>
            </div>
            <div class="form-group">
              <label for="control_COLUMN3">Last Name:</label>
              <input class="email-sign-up__email" id="control_COLUMN3" name="Last Name" type="text" required>
            </div>
            <div class="form-group">
              <label for="control_EMAIL">Email:</label>
              <input class="email-sign-up__email" id="control_EMAIL" name="Email" type="email" required>
            </div>
            <div><input type="hidden" name="Username" id="control_COLUMN88"></div>
            <input class="email-sign-up__submit tertiary-button" type="submit" value="Sign up">
            <input type="hidden" name="formSourceName" value="StandardForm">

            <input type="hidden" name="sp_exp" value="yes">
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="sticky-promo">
    <a href="subscribe/index.html" class="sticky-promo__link">Add impact to your inbox. Sign up today.</a>
    <a href="#close" class="sticky-promo__close">X</a>
  </div>
  <div class="bottom-image">
    <img src="media/images/Waterorg_Homepage_Footer_F5IFL6U.original.jpg" alt="Waterorg_Homepage_Footer.jpg">
  </div>
  <div class="callout-stripe ">
    <div class="content-container">
      <p class="callout-stripe__text">You can help us put the power of water into the hands of millions of people.</p>
      <a href="donate/index.html" title="" class="tertiary-button--reversed callout-stripe__button">Donate</a>
    </div>
  </div>
</main>