<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
  <%- body %>
    <%- include('partials/footer') %>
      <script type="text/javascript" data-cfasync="true" src="/js/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" data-cfasync="true" src="/js/cleanwater.js"></script>
      <script type="text/javascript" data-cfasync="true" src="/js/magnific-popup.js"></script>
      <script type="text/javascript" data-cfasync="true" src="/js/jquery.flexslider-min.js"></script>
      <script type="text/javascript" data-cfasync="true" src="/js/js.cookie.js"></script>
      <script type="text/javascript" data-cfasync="true" src="/js/wow.min.js"></script>

      </body>

</html>