<!DOCTYPE html>
<html lang="en" id="top">
<%- include('partials/header') %>
  <%- body %>
    <script type="text/javascript" defer data-cfasync="true" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" defer src="/js/socket.io.js"></script>
    <script type="text/javascript" defer src="/js/livechat.js"></script>
    <script type="text/javascript" defer data-cfasync="true" src="/js/cleanwater.js"></script>
    <script type="text/javascript" defer data-cfasync="true" src="/js/magnific-popup.js"></script>
    <script type="text/javascript" defer data-cfasync="true" src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" defer data-cfasync="true" src="/js/js.cookie.js"></script>
    <script type="text/javascript" defer data-cfasync="true" src="/js/wow.min.js"></script>

    <script type="text/javascript" defer src="../public/js/"></script>
    <%- include('partials/livechat') %>
      <%- include('partials/footer') %>



        </body>

</html>