<main class="wide-container">
    <section class="page-header page-header--short"
        style="background-image: url(/media/images/Waterorg_Homepage_Header_4ymjTup.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline align-self-lg-center">Login</h1>
                <div class="page-header__body">

                    <section class="stripe-section single-column-content">
                        <div class="content-container">
                            <form action="/login/" method="POST">
                                <input type="hidden" name="csrfmiddlewaretoken"
                                    value="RgQ3BPeoPF8v5zzF03mVlhVazxDsK8afTwp1hKVGrRF4iMSMrqRaUBELBjYMUAgb" />


                                <div class="form-group">
                                    <label class="control-label" for="id_email-address">Email Address</label><input
                                        type="email" name="email" title="" class="form-control"
                                        placeholder="Email Address" id="id_email-address" required />
                                </div>
                                <div class="form-group">

                                    <label class="control-label" for="id_password">Password</label>
                                    <% if (error.type=="password" ) { %>
                                        <label class="popup" style="color: tomato; font-weight: 800;"><b>Wrong
                                                password</b></label>
                                        <% } %>
                                            <input type="password" name="password" maxlength="255" title=""
                                                class="form-control" placeholder="Password" id="id_name" required />
                                </div>

                                <div class="form-group">
                                    <script data-cfasync="false"
                                        src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                    <script src="//www.google.com/recaptcha/apifef7.js?hl=en"></script>
                                    <div class="g-recaptcha" data-sitekey="6LdddWEUAAAAAHbDYKjTrvMbc6ImKubOmKgApBYq"
                                        data-class="form-control" data-title="" data-required="True"
                                        data-id="id_wagtailcaptcha"></div>

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>