<main class="wide-container">
    <section class="page-header" style="
        background-image: url(/media/images/Waterorg_Monthly-Giving_Header_JgwOSLD.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">
                    People living without water need people like you
                </h1>
            </div>
            <div class="page-header__button-wrapper">
                <a href="/monthly-giving/donate/" title="Donate" class="tertiary-button">Donate monthly</a>
            </div>
        </div>
    </section>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_Monthly-Giving_Img-1.original.jpg" alt="Monthly Giving" />
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>
                                Our solutions are long-term.<br />Your donations can be too.
                            </h3>
                            <p>
                                Sustainability is in our DNA. We create lasting solutions to
                                end the water crisis for families living in poverty. If you
                                believe in the power of long-term solutions instead of
                                temporary fixes, give monthly to Water.org. Your monthly
                                donations will empower people in need with the lasting safe
                                water and sanitation solutions their families need to
                                survive—giving them hope, health, and opportunities for a
                                bright future.
                            </p>
                        </div>
                    </div>
                    <div></div>
                    <figure class="text-stat">
                        <span class="text-stat__number">299 K</span>
                        <figcaption class="text-stat__text">
                            299,000 lives changed thanks to monthly donors
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>
                    Each month you&#x27;ll help empower more families to break the
                    cycle of poverty. Access to safe water and sanitation:
                </h3>
            </div>
        </div>
    </div>
    <div class="block-campaign_carousel">
        <section class="stripe-section">
            <ul class="campaign-slider__dots">
                <li class="campaign-slider__dot-holder" data-slide="0">
                    <button class="campaign-slider__dot" style="
                background-image: url('/media/images/Waterorg_Monthly-Giving_Icon-Health.original.png');
              "></button>
                    <p class="campaign-slider__dot-label">Improves health</p>
                </li>
                <li class="campaign-slider__dot-holder" data-slide="1">
                    <button class="campaign-slider__dot" style="
                background-image: url('/media/images/Waterorg_Monthly-Giving_Icon-Women.original.png');
              "></button>
                    <p class="campaign-slider__dot-label">Empowers women</p>
                </li>
                <li class="campaign-slider__dot-holder" data-slide="2">
                    <button class="campaign-slider__dot" style="
                background-image: url('/media/images/Waterorg_Monthly-Giving_Icon-Money.original.png');
              "></button>
                    <p class="campaign-slider__dot-label">Increases family income</p>
                </li>
                <li class="campaign-slider__dot-holder" data-slide="3">
                    <button class="campaign-slider__dot" style="
                background-image: url('/media/images/Waterorg_Monthly-Giving_Icon-Education.original.png');
              "></button>
                    <p class="campaign-slider__dot-label">
                        Increases access to education
                    </p>
                </li>
            </ul>
            <div class="campaign-slider flexslider">
                <ul class="slides">
                    <li>
                        <div class="content-container">
                            <div class="campaign-slider__slide general-slide">
                                <div class="campaign-slider__text text-block">
                                    <h2>Improves health</h2>
                                    <div class="rich-text">
                                        <p>
                                            Access to safe water and sanitation can save lives,
                                            just because it’s there. It empowers women with hope
                                            and healthy pregnancies, children with health so they
                                            can play and go to school, and it strengthens
                                            communities as they look ahead to a bright future.
                                        </p>
                                    </div>
                                </div>
                                <div class="campaign-slider__image">
                                    <img src="/media/images/Waterorg_Monthly-Giving_Carousel-HealthRV.original.png"
                                        alt="Improves health" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-container">
                            <div class="campaign-slider__slide general-slide">
                                <div class="campaign-slider__text text-block">
                                    <h2>Empowers women</h2>
                                    <div class="rich-text">
                                        <p>
                                            Empowering women is critical to solving the water
                                            crisis. When women have access to safe water at home,
                                            they can pursue more beyond water collection. They
                                            have time to learn, they can earn income, and they can
                                            spend more time in the day with the ones they love.
                                        </p>
                                    </div>
                                </div>
                                <div class="campaign-slider__image">
                                    <img src="/media/images/Waterorg_Monthly-Giving_Carousel-WomenRV.original.png"
                                        alt="Empowers women" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-container">
                            <div class="campaign-slider__slide general-slide">
                                <div class="campaign-slider__text text-block">
                                    <h2>Increases family income</h2>
                                    <div class="rich-text">
                                        <p>
                                            Access to safe water and sanitation at home turns time
                                            spent into time saved – giving families more time to
                                            pursue education and work opportunities that will help
                                            them break the cycle of poverty and look toward a
                                            bright future.
                                        </p>
                                    </div>
                                </div>
                                <div class="campaign-slider__image">
                                    <img src="/media/images/Waterorg_Monthly-Giving_Carousel-Income.original.png"
                                        alt="Increases family income" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content-container">
                            <div class="campaign-slider__slide general-slide">
                                <div class="campaign-slider__text text-block">
                                    <h2>Increases access to education</h2>
                                    <div class="rich-text">
                                        <p>
                                            When kids have access to safe water and sanitation,
                                            they become students. Rather than carrying heavy
                                            vessels of water to and from their homes, they carry
                                            backpacks to school. Their dreams of becoming doctors,
                                            teachers, and astronauts are no longer out of reach,
                                            because safe water and sanitation make bright futures
                                            possible.
                                        </p>
                                    </div>
                                </div>
                                <div class="campaign-slider__image">
                                    <img src="/media/images/Waterorg_Monthly-Giving_Carousel-School.original.png"
                                        alt="Increases access to education" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/AwJLQWm0K9k?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>This will be your most important monthly subscription</h3>
                            <p>
                                Movies, music, the gym—your monthly commitments are
                                entertaining, they make you happy and keep you healthy. What
                                if one of them could change lives? It can. Add a monthly
                                subscription that empowers people in need with access to
                                safe water. It’s a smart investment and a meaningful one.
                            </p>
                            <p>
                                Start giving monthly today and join a community of committed
                                world-changers. Like you, they believe in the power of
                                things that last. So do we. Your commitment to giving
                                lasting solutions means we can keep ours to bringing safe
                                water and sanitation to all.
                            </p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>Your monthly gift:</h3>
            </div>
        </div>
    </div>
    <div class="block-stats_line">
        <section class="stripe-section stripe-stats">
            <div class="content-container">
                <figure class="text-stat">
                    <span class="text-stat__number">$5</span>
                    <span class="text-stat__text">gives one person access to safe water each month</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">$10</span>
                    <span class="text-stat__text">gives two people access to safe water each month</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">$25</span>
                    <span class="text-stat__text">gives one family access to safe water each month</span>
                </figure>
            </div>
        </section>
    </div>
    <div class="block-html">
        <div class="donately-form"></div>
        <script src="https://cdn.donately.com/dntly-core/2.0/core.min.js"></script>
        <script>
            $(document).ready(function (event) {
                if (Donately) {
                    Donately.init({
                        selector: ".donately-form",
                        options: {
                            "donately-id": "act_dd6d76ceed12",
                            "stripe-publishable-key": "pk_live_acvaaTznM4HgDDVaT0hKJmFQ",
                            "donately-custom-css":
                                '{"li#donately-payment-option-1":{"width":"33%"},"li#donately-payment-option-2":{"width":"33%"},"li#donately-payment-option-3":{"width":"33%"}}',
                            "donately-amount": "",
                            "donately-duration": "default_recurring",
                            "donately-presets": "5,10,25,",
                            "donately-payment-options": "cc,ach",
                            "donately-address": "true",
                            "donately-currency": "true",
                            "donately-phone": "true",
                            "donately-custom-fields":
                                '{"fields":[{"type":"hidden","value":"","id":"utm_params","before":"submit"},{"type":"hidden","value":' +
                                JSON.stringify({
                                    campaign: "General",
                                    fund: "Unrestricted",
                                    solicitor: "97770",
                                    package: "",
                                    appeal: "A00000",
                                }) +
                                ',"id":"wo_params","before":"submit"}, {"type":"hidden","value":"","id":"url","before":"submit"},{"type":"checkbox","label":"I would like this donation to be made in honor of someone. <em>(Note: An eCard will be sent to <u>one</u> honoree per donation.)</em>","value":"yes","id":"in_honor_of","before":"submit"},{"type":"text","label":"Honoree&apos;s Name","id":"honorees_name","before":"submit"},{"type":"email","label":"Honoree&apos;s Email (example@gmail.com)","id":"honorees_email","before":"submit"},{"type":"textarea","label":"Message to Honoree","id":"honorees_message","before":"submit"},{"type":"checkbox","label":"I am donating on behalf of a business or organization","value":"yes","id":"on_behalf_of_org","before":"namegroups"},{"type":"text","label":"Business or organization name","id":"org_name","before":"namegroups"},{"type":"select","label":"Type of organization","value":"0","options":[{"value":"Select One","label":"Select One"},{"value":"Foundation","label":"Foundation"}, {"value":"Corporation","label":"Corporation"}, {"value":"Religious Organization","label":"Religious Organization"}, {"value":"Educational Organization","label":"Educational Organization"}, {"value":"Other","label":"Other"}],"id":"org_type","before":"namegroups"},{"type":"hidden","value":"","id":"ecard","before":"submit"}]}',
                        },
                        afterFormLoad: function () {
                            $("#donately-payment-option-2").after(
                                '<li id="donately-payment-option-3" class="donately-payment-option-img"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=J9GELZFVQ9JZJ"><img src="/static/img/pp-logo-100px.png"></a></li>'
                            );
                            $("label[for=donately-first-name]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("label[for=donately-last-name]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("label[for=donately-email]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("label[for=donately-street-address]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("label[for=donately-city]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("label[for=donately-state]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("label[for=donately-zip-code]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("label[for=donately-country]").append(
                                '<span class="required-indicator">*</span>'
                            );
                            $("#donately-first-name")
                                .attr("required", true)
                                .addClass("donately-required");
                            $("#donately-last-name")
                                .attr("required", true)
                                .addClass("donately-required");
                            $("#donately-phone-number")
                                .removeAttr("required")
                                .removeClass("donately-required");
                            $("#donately-amount").attr("placeholder", "25 USD");
                            $("label[for=donately-recurring-donation]").text(
                                "Monthly donation"
                            );

                            $("#honorees_email")
                                .parent("fieldset.donately-fields")
                                .after(
                                    '<div id="ecards_wrap"> \
  <div id="ecards_label">Select an eCard:</div> \
  <div class="row"> \
      <div class="col-4 ecard-item"><div class="ecard-thumb-wrap"><img class="ecard-thumb" data-ecard="https://s3.amazonaws.com/static.water.org/ecards/ecard1.jpg" src="https://s3.amazonaws.com/static.water.org/ecards/ecard1_thumb.jpg" /></div><div class="arrow-up"></div></div> \
      <div class="col-4 ecard-item"><div class="ecard-thumb-wrap"><img class="ecard-thumb" data-ecard="https://s3.amazonaws.com/static.water.org/ecards/ecard2.jpg" src="https://s3.amazonaws.com/static.water.org/ecards/ecard2_thumb.jpg" /></div><div class="arrow-up"></div></div> \
      <div class="col-4 ecard-item"><div class="ecard-thumb-wrap"><img class="ecard-thumb" data-ecard="https://s3.amazonaws.com/static.water.org/ecards/ecard3.jpg" src="https://s3.amazonaws.com/static.water.org/ecards/ecard3_thumb.jpg" /></div><div class="arrow-up"></div></div> \
  </div> \
  <div class="row"> \
      <div class="col"> \
          <div id="ecard_preview"></div> \
      </div> \
  </div> \
</div>'
                                );

                            // Preload eCard images
                            $("img.ecard-thumb").each(function (i, obj) {
                                $("<img />").attr("src", $(this).data("ecard"));
                            });

                            $("#in_honor_of").change(function () {
                                if ($(this).is(":checked")) {
                                    $("fieldset[for=honorees_name]").show();
                                    $("fieldset[for=honorees_email]").show();
                                    $("fieldset[for=honorees_message]").show();
                                    $("#ecards_wrap").show();
                                } else {
                                    $("fieldset[for=honorees_name]").hide();
                                    $("fieldset[for=honorees_email]").hide();
                                    $("fieldset[for=honorees_message]").hide();
                                    $("#ecards_wrap").hide();
                                }
                            });

                            $(".ecard-item").click(function () {
                                $(".ecard-item").removeClass("active");
                                $(this).addClass("active");
                                $("#ecard").val(
                                    $(".ecard-item.active img.ecard-thumb").data("ecard")
                                );
                                $("#ecard_preview").html(
                                    '<img src="' +
                                    $(".ecard-item.active img.ecard-thumb").data("ecard") +
                                    '" />'
                                );
                            });

                            $("#on_behalf_of_org").change(function () {
                                if ($(this).is(":checked")) {
                                    $("fieldset[for=org_name]").show();
                                    $("fieldset[for=org_type]").show();
                                } else {
                                    $("fieldset[for=org_name]").hide();
                                    $("fieldset[for=org_type]").hide();
                                }
                            });
                        },
                        onSuccess: function (donation_response) {
                            donation_payload = {
                                id: donation_response.data.id,
                                object: donation_response.data.object,
                                status: donation_response.data.status,
                                donation_date: donation_response.data.donation_date,
                                amount_in_cents: donation_response.data.amount_in_cents,
                                currency: donation_response.data.currency,
                                recurring: donation_response.data.recurring,
                                refunded: donation_response.data.refunded,
                                transaction_id: donation_response.data.transaction_id,
                                created: donation_response.data.created,
                                updated: donation_response.data.updated,
                                amount_formatted: donation_response.data.amount_formatted,
                                anonymous: donation_response.data.anonymous,
                                email: donation_response.data.person.email,
                                first_name: donation_response.data.person.first_name,
                                last_name: donation_response.data.person.last_name,
                                org_name: donation_response.data.meta_data.org_name,
                            };
                            donation_payload_param = encodeURIComponent(
                                JSON.stringify(donation_payload)
                            );
                            window.location.href =
                                "receipt/?donation_payload=" + donation_payload_param;
                        },
                    });
                }
            });
        </script>
    </div>
</main>