<main class="wide-container">
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../..//">Home</a></li>
                <li class="breadcrumbs__item"><a href="..//">About Us</a></li>
                <li class="breadcrumbs__item active">News, Press &amp; Perspectives</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section columned-content">
        <div class="content-container">
            <div class="columned-content__main">
                <div class="text-block">
                    <h1>News, Press &amp; Perspectives</h1>
                    <div class="rich-text">
                        <p>Find the latest news and press releases about our work in the water and sanitation sector
                            below. </p>
                        <p>Looking to interview someone from Water.org or request a speaker? Or need resources to
                            understand our work and share information with others? Visit our <a
                                href="../resources//">Resources page</a>.<br /></p>
                    </div>
                </div>
                <div class="article-pods">
                    <article class="article-pods__pod">
                        <img src="../../media/images/CNN_Heroes.2e16d0ba.fill-700x385.png" alt="CNN Heroes.png"
                            class="article-pods__image">
                        <div class="text-block--condensed">
                            <h5>CNN Heroes 2020</h5>
                            <p class="article-pods__date">Dec. 13, 2020</p>
                            <p>Water.org is featured on &quot;CNN Heroes: An All Star Tribute,&quot; highlighting eight
                                organizations that are changing lives and making the world a better place.</p>
                            <a href="https://cnnpressroom.blogs.cnn.com/2020/12/01/angela-bassett-orlando-bloom-and-gal-gadot-among-the-celebrity-presenters-for-14th-annual-cnn-heroes-an-all-star-tribute/"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <img src="../../media/images/Waterorg_NewsPressPerspectives_Blo.2e16d0ba.fill-700x385.jpg"
                            alt="Bloomberg Green Festival" class="article-pods__image">
                        <div class="text-block--condensed">
                            <h5>Bloomberg Green Festival 2020</h5>
                            <p class="article-pods__date">Sept. 17, 2020</p>
                            <p>From Bloomberg Live a conversation with Jason Kelly and Water.org Co-founder and CEO Gary
                                White and Water.org President Jennifer Schorsch on how with bold philanthropy and
                                corporate commitment, we can solve global water issues and help bring safe water to all.
                            </p>
                            <a href="https://www.youtube.com/watch?time_continue=23647&amp;v=fqdmRCAWhYk&amp;feature=emb_logo"
                                target="_blank" class="secondary-button">Watch here <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <img src="../../media/images/Waterorg_Equality_Header.2e16d0ba.fill-700x385.jpg"
                            alt="Waterorg_Equality_Header.jpg" class="article-pods__image">
                        <div class="text-block--condensed">
                            <h5>Grief, anger and equality</h5>
                            <p class="article-pods__date">June 5, 2020</p>
                            <p>The past two weeks have brought deep sadness and grief, justified anger and demands that
                                we in the United States, and around the globe, do better in building an equitable, just
                                world. Read more from Jennifer Schorsch, President and Gary White, CEO and Co-founder.
                            </p>
                            <a href="grief-anger-and-equality//" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <img src="../../media/images/Waterorg_NewsPressPerspectives_TIM.2e16d0ba.fill-700x385.jpg"
                            alt="TIME 100 Talks — &quot;Water is PPE.&quot;" class="article-pods__image">
                        <div class="text-block--condensed">
                            <h5>Time 100 Talks - &#39;Water Is PPE.&#39;</h5>
                            <p class="article-pods__date">May 21, 2020</p>
                            <p>Co-founders Matt Damon and Gary White explain why clean water is crucial to fighting
                                coronavirus.</p>
                            <a href="https://time.com/5838377/matt-damon-gary-white-water-time-100-talks/"
                                target="_blank" class="secondary-button">Watch here <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <img src="../../media/images/Waterorg_News-Press_Curb-Disease.2e16d0ba.fill-700x385.jpg"
                            alt="Waterorg_News-Press_Curb-Disease.jpg" class="article-pods__image">
                        <div class="text-block--condensed">
                            <h5>Access to Water is Critical to Curb Disease Spread Today and Build Resiliency for the
                                Future</h5>
                            <p class="article-pods__date">May 14, 2020</p>
                            <p>Water.org and WaterEquity sign safe water and sanitation for all Leaders Call to Action
                                on COVID-19.</p>
                            <a href="access-water-critical-curb-disease-spread-today-and-build-resiliency-future//"
                                class="secondary-button">Read more <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <img src="../../media/images/Web_Summit_2019_crop.2e16d0ba.fill-700x385.png"
                            alt="Web Summit 2019 crop.png" class="article-pods__image">
                        <div class="text-block--condensed">
                            <h5>Web Summit 2019 - Collaborating to end the water crisis</h5>
                            <p class="article-pods__date">Nov. 4, 2019</p>
                            <p>Gary White joins Jaden Smith, founder of JUST water, and Paul O&#39;Callaghan, founder of
                                BlueTech Research, at Web Summit 2019 to share how Water.org provides innovative
                                financial solutions to end the global water crisis.</p>
                            <a href="https://youtu.be/gHETGZzJZjQ?t=9094" target="_blank" class="secondary-button">Watch
                                here <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                </div>
                <div class="article-pods">
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Decreasing costs, increasing impact</h5>
                            <p class="article-pods__date">Jan. 7, 2021</p>
                            <p>Several years ago, it cost $25 to reach one person with access to safe water or
                                sanitation. Then $12.50. Now your donation of $5 will empower someone in need with
                                lasting access to safe water or sanitation and the hope, health, and opportunity they
                                bring. Read how and why, from Melanie Mendrys, Director of Brand &amp; Marketing.</p>
                            <a href="decreasing-costs-increasing-impact//" class="secondary-button">Read more
                                <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Smart Water Magazine - COVID-19 is building bridges within the water sector and across
                                other sectors</h5>
                            <p class="article-pods__date">Dec. 22, 2020</p>
                            <p>Water.org&#39;s Sector Strategy Manager, Lesley Pories, shares how investing in water
                                supply and sanitation bolsters healthy people, stable economies and resilient
                                ecosystems.</p>
                            <a href="https://smartwatermagazine.com/blogs/lesley-pories/covid-19-building-bridges-within-water-sector-and-across-other-sectors#.X-OdGflVj1g.twitter"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>CNN Heroes 2020</h5>
                            <p class="article-pods__date">Dec. 13, 2020</p>
                            <p>Water.org is featured on &quot;CNN Heroes: An All Star Tribute,&quot; highlighting eight
                                organizations that are changing lives and making the world a better place.</p>
                            <a href="https://cnnpressroom.blogs.cnn.com/2020/12/01/angela-bassett-orlando-bloom-and-gal-gadot-among-the-celebrity-presenters-for-14th-annual-cnn-heroes-an-all-star-tribute/"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>SIWI Water Day - Vision of a zero-carbon, resilient future through water</h5>
                            <p class="article-pods__date">Nov. 12, 2020</p>
                            <p>“The scale of the climate crisis is staggering, but you can’t let that be an excuse for
                                not acting.” Water.org co-founder, Matt Damon, and Chief Global Impact Officer, Vedika
                                Bhandarkar, each shared a message in the opening remarks of Water Day on November 12th,
                                presented by SIWI.</p>
                            <a href="https://youtu.be/Cplju3O2Yu8?t=1713" target="_blank" class="secondary-button">Watch
                                here <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Milken Institute - To Solve the Water Crisis, We Must Rethink the Way We Invest</h5>
                            <p class="article-pods__date">Nov. 11, 2020</p>
                            <p>Co-founders Gary White and Matt Damon share how WaterEquity has continued to expand and
                                scale during COVID-19, empowering people with access to safe water and sanitation, while
                                also providing attractive returns to investors.</p>
                            <a href="https://milkeninstitute.org/power-of-ideas/water-crisis-solution-rethink-investment"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Lending for Water and Sanitation During COVID-19</h5>
                            <p class="article-pods__date">Nov. 5, 2020</p>
                            <p>&quot;We expect the increased awareness of how a lack of access to water and sanitation
                                can not only be inconvenient, but life-threatening, to increase client demand for [water
                                and sanitation] improvements.&quot; - Jessica Jacobson - Water.org&#39;s Senior Manager,
                                Financial Institutions</p>
                            <a href="https://www.centerforfinancialinclusion.org/lending-for-water-and-sanitation-during-covid-19"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Hang out with Water.org co-founder, Matt Damon</h5>
                            <p class="article-pods__date">Oct. 29, 2020</p>
                            <p>Want to have lunch with Matt Damon and Ben Affleck? Omaze is offering this opportunity to
                                help support Water.org. You and a guest will be flown out to LA when it&#39;s safe to
                                travel for an unforgettable meal with these two actors and friends. Enter to win by
                                January 28, 2021.</p>
                            <a href="https://www.omaze.com/products/ben-affleck-matt-damon-lunch" target="_blank"
                                class="secondary-button">Learn more <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Pacific Institute - Financing Water Supply and Sanitation in a Changing Climate</h5>
                            <p class="article-pods__date">Oct. 22, 2020</p>
                            <p>Smart investments in water supply and sanitation can benefit both the climate and those
                                living in poverty, finds a new report from the Pacific Institute and Water.org. Read the
                                announcement here.</p>
                            <a href="https://pacinst.org/announcement/smart-water-supply-and-sanitation-investments-can-meet-both-humanitarian-and-climate-goals/"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Hilton Effect Foundation Reveals 2020 Grants</h5>
                            <p class="article-pods__date">Oct. 22, 2020</p>
                            <p>Water.org was named one of The Hilton Effect Foundation&#39;s 2020 Hilton Effect
                                grantees, which included organizations playing a direct role in COVID-19 pandemic
                                recovery efforts.</p>
                            <a href="https://www.businesswire.com/news/home/20201022005724/en/" target="_blank"
                                class="secondary-button">Read more <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Brave Blue World Documentary Film Available on Netflix on October 21</h5>
                            <p class="article-pods__date">Oct. 21, 2020</p>
                            <p>Featuring Matt Damon, Gary White, Jaden Smith and other pioneers in the water sector, the
                                Brave Blue World documentary paints an optimistic picture of how humanity is adopting
                                new technologies and innovations to re-think how we manage water.</p>
                            <a href="https://www.braveblue.world/the-film" target="_blank"
                                class="secondary-button">Watch the trailer <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Ecolab Partners With Water.org to Improve Access to Clean, Safe, Sustainable Water</h5>
                            <p class="article-pods__date">Oct. 21, 2020</p>
                            <p>On the sixth annual Imagine a Day Without Water, Ecolab announced a partnership with
                                Water.org to help enable access to sustainable water and improved sanitation for 100,000
                                people in at-risk watersheds in India.</p>
                            <a href="https://www.ecolab.com/news/2020/10/ecolab-partners-with-water-org-to-improve-access-to-clean-safe-sustainable-water"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="article-pods__pod">
                        <div class="text-block--condensed">
                            <h5>Reckitt Benckiser Group Provides Sh70 Million In Fight Against Covid-19</h5>
                            <p class="article-pods__date">Oct. 14, 2020</p>
                            <p>Reckitt Benckiser Group (RB) is providing 70 million Kenya shillings (about $650,000 USD)
                                to Water.org which will enable affordable financing for water and sanitation solutions
                                to about 10,000 households in Kenya.</p>
                            <a href="https://www.capitalfm.co.ke/business/2020/10/reckitt-benckiser-group-provides-sh70-million-in-fight-against-covid-19/"
                                target="_blank" class="secondary-button">Read more <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                </div>
                <div class="pagination">
                    <div class="pagination__item pagination__previous-link">
                    </div>
                    <div class="pagination__item pagination__page-count">Page 1 of 16</div>
                    <div class="pagination__item pagination__next-link">
                        <a href="index4658.html?page=2" class="secondary-button">Next <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
            <aside class="columned-content__sidebar">
                <nav class="sidebar-nav">
                    <a href="indexd41d.html?" class="sidebar-nav__link sidebar-nav__link--current">All Topics</a>
                    <a href="indexb692.html?topic=Gary%20White" class="sidebar-nav__link">Gary White</a>
                    <a href="indexc373.html?topic=Matt%20Damon" class="sidebar-nav__link">Matt Damon</a>
                    <a href="index2b92.html?topic=Partnerships" class="sidebar-nav__link">Partnerships</a>
                    <a href="indexe86b.html?topic=Sanitation" class="sidebar-nav__link">Sanitation</a>
                    <a href="index6373.html?topic=WASH%20sector%20and%20SDG%206" class="sidebar-nav__link">WASH sector
                        and SDG 6</a>
                    <a href="index7c5c.html?topic=WaterCredit" class="sidebar-nav__link">WaterCredit</a>
                    <a href="index2cfc.html?topic=Water%20crisis" class="sidebar-nav__link">Water crisis</a>
                    <a href="index94c1.html?topic=WaterEquity" class="sidebar-nav__link">WaterEquity</a>
                    <a href="index0d0e.html?topic=Women%20and%20girls" class="sidebar-nav__link">Women and girls</a>
                </nav>
                <nav class="sidebar-nav">
                    <a href="indexd41d.html?" class="sidebar-nav__link sidebar-nav__link--current">All Categories</a>
                    <a href="index43be.html?category=Articles" class="sidebar-nav__link">Articles</a>
                    <a href="index85a1.html?category=Awards%20and%20recognition" class="sidebar-nav__link">Awards and
                        recognition</a>
                    <a href="indexd874.html?category=Events" class="sidebar-nav__link">Events</a>
                    <a href="index1f57.html?category=Perspectives" class="sidebar-nav__link">Perspectives</a>
                    <a href="indexb42a.html?category=Press%20releases" class="sidebar-nav__link">Press releases</a>
                    <a href="index7641.html?category=Videos" class="sidebar-nav__link">Videos</a>
                </nav>
                <nav class="sidebar-nav">
                    <a href="indexd41d.html?" class="sidebar-nav__link sidebar-nav__link--current">All Years</a>
                    <a href="index9533.html?year=2021" class="sidebar-nav__link">2021</a>
                    <a href="index5e62.html?year=2020" class="sidebar-nav__link">2020</a>
                    <a href="indexa68b.html?year=2019" class="sidebar-nav__link">2019</a>
                    <a href="index3afc.html?year=2018" class="sidebar-nav__link">2018</a>
                    <a href="index55a9.html?year=2017" class="sidebar-nav__link">2017</a>
                    <a href="index580a.html?year=2016" class="sidebar-nav__link">2016</a>
                    <a href="index2495.html?year=2015" class="sidebar-nav__link">2015</a>
                    <a href="indexde48.html?year=2014" class="sidebar-nav__link">2014</a>
                    <a href="index2d04.html?year=2013" class="sidebar-nav__link">2013</a>
                    <a href="indexd20b.html?year=2012" class="sidebar-nav__link">2012</a>
                    <a href="indexaacd.html?year=2011" class="sidebar-nav__link">2011</a>
                    <a href="index1c48.html?year=2010" class="sidebar-nav__link">2010</a>
                    <a href="indexd99c.html?year=2009" class="sidebar-nav__link">2009</a>
                </nav>
            </aside>
        </div>
    </section>
</main>