<main class="wide-container">
    <section class="page-header"
        style="background-image: url(/media/images/Waterorg_About-Us_Our-Vision_Header-1.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Our Vision</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item"><a href="/about-us">About Us</a></li>
                <li class="breadcrumbs__item active">Our Vision</li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>The time is now</h3>
                            <p>We believe water is the way to break the cycle of poverty, to protect and save lives, and
                                to make bright futures possible. We’re here to bring water and sanitation to all. We
                                want to make it safe, accessible, and cost-effective.</p>
                            <p>We will achieve our vision by continuing to unlock more funding than what is currently
                                dedicated to help solve the global water crisis, removing the financial barriers that
                                stand between people in need and access to safe water and sanitation at home. Our
                                approach is unique and we are investing in a future that benefits every person on the
                                planet.</p>
                            <p>Increasing financing for water and sanitation is imperative to making progress toward
                                ending the global water crisis and creating a bright future for everyone everywhere.
                                This is who we are. We give our everything every day to make this a reality.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="/media/images/Waterorg_About-Us_Our-Vision_Img-1RV.original.jpg" alt="Our Vision">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>Partnering for progress</h3>
            <p>Water.org seeks to do more, faster, and in partnership with others to make financing for water and
                sanitation affordable and accessible to those in need. We seek to spur system change at all levels –
                local, national, and global. Our approach expands the flow of capital into the sector, addressing the
                most significant barrier to achieving universal access to water and sanitation.</p>
            <p>We increase access to financing by integrating partners, ideas, and approaches to ensure that, like the
                water solutions we make possible, affordable finance can flow down to those who need it most.</p>
            <p><b>We’re accelerating progress and impact in these ways:</b></p>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_About-Us_Our-Vision_Img-3.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Partnering directly with institutions that serve the base of the economic pyramid
                                </h4>
                            </div>
                        </div>
                        <a href="/solutions/watercredit/" class="secondary-button multi-column-row__cta">Learn more
                            <span class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_About-Us_Our-Vision_Img-4RV.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Expanding partnerships to accelerate access</h4>
                            </div>
                        </div>
                        <a href="../../solutions/watercredit/lending-for-water-sanitation/index.html"
                            class="secondary-button multi-column-row__cta">Learn more <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_About-Us_Our-Vision_Img-5.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Strengthening the environment for water and sanitation solutions at a systems level
                                </h4>
                            </div>
                        </div>
                        <a href="../../solutions/global-engagement/index.html"
                            class="secondary-button multi-column-row__cta">Learn more <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_About-Us_Our-Vision_Img-6.original.jpg" alt="Our Vision">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Contributing to Sustainable Development Goal 6</h3>
                            <p>Mobilizing capital is critical to achieve our vision of safe water and sanitation for all
                                and to accomplish <a href="https://sustainabledevelopment.un.org/sdg6">Sustainable
                                    Development Goal 6</a> — the United Nations call for the world to ensure universal
                                availability and sustainable management of water and sanitation.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../../achieving-sdg6/index.html" class="secondary-button">Achieving Sustainable Development
                        Goal 6 <span class="icon-cta-arrow"></a>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-full_width_image">
        <section class="stripe-section bleeding-image"
            style="background-image:url(/media/images/Waterorg_About-Us_Our-Vision_Graph-RV10.original.png);">
            <div class="content-container">
                <div class="bleeding-image__text">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>Accelerating impact and changing lives</h3>
                            <p>Our approach is efficient and scaling in impact. We designed it to be that way because we
                                believe the time is now to bring everyone, everywhere access to safe water and
                                sanitation. We are working to transform the lives of 60 million people with access to
                                water and sanitation by 2022. By November 2020, we have reached more than 31 million
                                people with access to safe water and sanitation through financing — proving we are
                                serious about achieving our goal and making an impact.</p>
                        </div>
                        <div>
                            <a href="../../our-impact/index.html" class="secondary-button">
                                See our progress <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe callout-stripe-blue">
        <div class="content-container">
            <p class="callout-stripe__text">Join us and together we can change millions of lives with water.</p>
            <a href="../../donate/index.html" title=""
                class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>