<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../media/images/Waterorg_Partners_Our-Partners_Header.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Partners</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item active">Partners</li>
            </ol>
        </div>
    </div>
    <div class="block-text_with_items">
        <section class="stripe-section divided-content  divided-content--sidebar-first   stripe-section--has-pattern ">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Solving the global water crisis requires teamwork</h3>
                            <p>We are fortunate to work with partners – foundations, financial institutions, and brands
                                – who share our passion and vision. Together, we are changing lives with safe water in
                                13 countries around the world.</p>
                            <p>Our partnerships come in all shapes and sizes — from multi-year grants to consumer-facing
                                campaigns. There are a variety of ways we can partner to help us both achieve our goals
                                and make more possible for families living in poverty.</p>
                        </div>
                    </div>
                    <div class="block-cta_link">
                        <div>
                            <a href="../contact-us/" class="secondary-button">
                                Contact us to discuss a partnership <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <div class="block-quote">
                        <blockquote>
                            “The generosity of our funding partners makes our work possible, bringing us closer to
                            achieving our vision of safe water and sanitation for all.”
                            <cite>
                                <span class="cite__name">Nicole Wickenhauser</span>
                                <span class="cite__title">Director of Strategic Alliances</span>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Partners-Overview_Icon-1.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Fund</h4>
                                <p>Corporations, foundations and individuals provide critical funding to change lives
                                    with safe water.</p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Partners-Overview_Icon-2.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Implement</h4>
                                <p>Financial institutions and other partners in the countries where we work lend for
                                    water and sanitation, helping those in need in their own communities.</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Partners-Overview_Icon-3.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Collaborate</h4>
                                <p>Global partners representing development finance institutions, agencies and
                                    governments help us expand financing for water and sanitation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Partners_Img-1.original.jpg" alt="Partners">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Provide funding to change lives</h3>
                            <p>Donations and grants from corporations, foundations and individuals are critical to
                                changing lives with safe water. Access to safe water improves health, empowers women,
                                increases family income and increases access to education. Access to safe water changes
                                everything, and you can make that possible by providing funds to Water.org.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../partners/funding-partners/" class="secondary-button">Learn about ways to partner with us
                        <span class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Lend for water and sanitation</h3>
                            <p>Our <a href="../solutions/watercredit/local-partners/">local and regional partners</a>
                                are the key to our work. These financial institutions and water service providers are
                                critical to implementing programs and expanding access to affordable financing for safe
                                water and sanitation. We provide them technical assistance and training to lend for
                                water and sanitation. Thanks to their real-time problem solving and understanding of
                                local market needs, we can reach more people. These partnerships are a win-win,
                                strengthening their business and helping to end the cycle of poverty in their
                                communities. We currently have 160 partners and are evaluating new markets and partner
                                organizations.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../solutions/watercredit/lending-for-water-sanitation/" class="secondary-button">Learn
                        about lending for water and sanitation <span class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Partners_Img-4.original.jpg" alt="Partners">
                    <figcaption class="article-figure__caption">
                        <div class="rich-text">
                            <p>Partners like Augustine from PostBank Uganda help make our work possible.</p>
                        </div>
                    </figcaption>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Partners_Img-5.original.jpg" alt="Partners">
                    <figcaption class="article-figure__caption">
                        <div class="rich-text">
                            <p>Vedika Bhandarkar, Water.org&#x27;s Chief Global Impact Officer, leads the conversation
                                about financing for water and sanitation at Stockholm World Water Week.</p>
                        </div>
                    </figcaption>
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Expand financing for water and sanitation</h3>
                            <p>Representing governments, sector institutions, development finance institutions and other
                                organizations at a systems-level, our global partners are leading the dialogue that is
                                making large-scale change happen. We work with them to help influence public policy and
                                practice changes that help increase the flow of capital for water and sanitation
                                solutions. Together, we are removing the financial barriers that stand between people in
                                need and access to safe water and sanitation.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../solutions/global-engagement/" class="secondary-button">Read about advancing the global
                        conversation <span class="icon-cta-arrow"></a>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>Brands making a big impact</h3>
            </div>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Funding-Partners_IKEA-Foundation.original.png"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <p>The <a href="https://www.ikeafoundation.org/"><b>IKEA Foundation</b></a> believes
                                    that every child deserves a healthy start in life and water is part of that start.
                                    IKEA Foundation has supported Water.org since 2013 to transform millions of lives
                                    with access to water and sanitation, and bring about lasting impact in communities
                                    across India, Indonesia and Bangladesh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Funding-Partners_Stella-Artois.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <p>Since 2015, Stella Artois (a subsidiary of <a
                                        href="https://www.ab-inbev.com/">Anheuser-Busch InBev</a>) and Water.org have
                                    helped provide access to safe water for more than 2 million people in the developing
                                    world. By purchasing <a href="../stellaartois/">Limited Edition Chalices</a> and
                                    other Stella Artois products, consumers are empowered to support our vision. Stella
                                    Artois is committed to help provide 3.5 million people with long-term, sustainable
                                    access to water by the end of 2020.</p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Funding-Partners_Bank-America.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <p>Since 2011, the <a
                                        href="https://newsroom.bankofamerica.com/press-releases/corporate-philanthropy/waterorg-bank-america-expand-partnership-bring-safe-water"><b>Bank
                                            of America Foundation</b></a> has supported Water.org’s market-driven
                                    financial solutions to empower thousands of people in India and Brazil with safe
                                    water and sanitation solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <p>We partner with these corporations and foundations and others like them to change lives with safe water
                and sanitation. Together, we are making a big impact for the people that need it the most.</p>
            <p></p>
            <p><a href="../partners/funding-partners/"><b>Learn more about our funding partners &gt;</b></a></p>
        </div>
    </div>
    <div class="bottom-image">
        <img src="../media/images/Waterorg_Ways-Donate_Footer.original.jpg" alt="Trees behind a home in Kenya">
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Together we can change millions of lives with safe water.</p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>