<main class="wide-container">
    <section class="page-header" style="
        background-image: url(../../media/images/Waterorg_Resources_Header.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Resources</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="../..//">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="..//">About Us</a>
                </li>
                <li class="breadcrumbs__item active">Resources</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section columned-content">
        <div class="content-container">
            <div class="columned-content__main">
                <div class="block-richtext">
                    <div class="rich-text">
                        <h3>Resources available for your use</h3>
                        <p>
                            As part of our vision of safe water and toilets for all, we’ve
                            gathered and organized resources for media members and
                            partners to help access, understand, and share information
                            about our work.<br />
                        </p>
                        <p>
                            If you are a member of the media, please feel free to download
                            our
                            <a href="../../documents/186/2020-11-12_Water.org_Press_Kit.pdf">press kit</a>. 
                        </p>
                    </div>
                </div>
                <div class="block-panels">
                    <section class="stripe-section two-panels">
                        <div class="columned-callouts__columns">
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>News &amp; Press</h4>
                                    <img src="../../media/images/Daily_show_photo.original.jpg" alt="Daily show" />
                                    <div class="rich-text">
                                        <p>
                                            Find the latest news and press releases about our work
                                            in the water and sanitation sector
                                            <a href="../news-press//">here</a>. <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>Our impact</h4>
                                    <img src="../../media/images/Waterorg_Resources_Our-Impact.original.jpg"
                                        alt="Water.org Impact" />
                                    <div class="rich-text">
                                        <p>
                                            Visit
                                            <a href="../../our-impact//">Our Impact</a>
                                            page to learn more about how many people we&#x27;ve
                                            reached around the world and visit our
                                            <a href="../../solutions//">Solutions</a>
                                            page to learn about how we work.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="block-panels">
                    <section class="stripe-section two-panels">
                        <div class="columned-callouts__columns">
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>Water crisis facts</h4>
                                    <img src="../../media/images/fact_share_6.original.jpg" alt="fact share 6.jpg" />
                                    <div class="rich-text">
                                        <p>
                                            Download Water.org&#x27;s key water and sanitation
                                            crisis facts
                                            <a href="../../documents/184/FY21_Key_Water.org_facts.pdf">here</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>Financials</h4>
                                    <img src="../../media/images/Waterorg_Global-Finance-Forum_Img-2.original.jpg"
                                        alt="Global Finance Forum" />
                                    <div class="rich-text">
                                        <p>
                                            Safe water is transparent, and so are we. View our
                                            <a href="../financials//">annual reports and financial
                                                statements</a>
                                            to see how every dollar donated is used wisely and
                                            responsibly to change lives. <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="block-panels">
                    <section class="stripe-section two-panels">
                        <div class="columned-callouts__columns">
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>Photos</h4>
                                    <img src="../../media/images/Waterorg_Financials_2018-Annual-Report_Img-1.original.png"
                                        alt="2018 Annual Report" />
                                    <div class="rich-text">
                                        <p>
                                            Water.org photos are available on <a
                                                href="http://www.flickr.com/photos/waterdotorg">Flickr</a>. All photos
                                            are offered under a creative commons
                                            license and are free to use with proper attribution —
                                            “photo credit to Water.org.”
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>Videos</h4>
                                    <img src="../../media/images/Waterorg_Resources_Img-5.original.jpg"
                                        alt="Waterorg_Resources_Img-5.jpg" />
                                    <div class="rich-text">
                                        <p>
                                            Published videos are available for use on <a
                                                href="http://www.youtube.com/user/water">YouTube</a>. Please provide
                                            proper attribution when sharing -
                                            &quot;video credit to Water.org.&quot; We also have
                                            B-Roll available for use, upon request. <a href="../../contact-us//">Contact
                                                us</a> with questions.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="block-panels">
                    <section class="stripe-section two-panels">
                        <div class="columned-callouts__columns">
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>Stories of people we empower</h4>
                                    <img src="../../media/images/26038099083_5c1cfbea8e_k.original.jpg"
                                        alt="India - School" />
                                    <div class="rich-text">
                                        <p>
                                            We find the most compelling way to share our impact is
                                            through the stories of those we empower. Water.org has
                                            many stories from the field that show the impact that
                                            access to safe water and sanitation has in changing
                                            lives and creating bright futures. <a
                                                href="../../our-impact/all-stories//">Here</a> are our stories
                                            available for use.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="two-panels__panel columned-callouts__column">
                                <div class="text-block">
                                    <h4>Logo files</h4>
                                    <img src="../../media/images/Waterorg_Resources_Logo-RV.original.jpg" alt="Logo" />
                                    <div class="rich-text">
                                        <p>
                                            Download the Water.org logo files and usage
                                            guidelines <a
                                                href="https://drive.google.com/drive/folders/0BxzIFa6yqA5CLWZILVZYdlF4cFk?usp=sharing">here.</a> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <aside class="columned-content__sidebar">
                <nav class="sidebar-nav">
                    <div class="text-block text-block--condensed">
                        <div class="rich-text">
                            <h4>Helpful water and sanitation resources</h4>
                            <ul>
                                <li>
                                    <a href="../../solutions/monitoring-evaluation/evidence-base//">Water.org
                                        position papers and strategic plan</a>
                                </li>
                                <li>
                                    <a href="https://www.water.org/waterday">World Water Day</a> (March 22)
                                </li>
                                <li>
                                    <a href="http://toiletday.org/">World Toilet Day</a> (November 19)
                                </li>
                                <li>
                                    <a href="http://www.siwi.org/">Stockholm International Water Institute</a>
                                </li>
                                <li>
                                    <a href="http://www.worldbank.org/en/topic/water">The World Bank Group, Water Supply
                                        &amp; Sanitation</a><br />
                                </li>
                                <li>
                                    <a href="https://www.ircwash.org/">IRC International Water and Sanitation
                                        Centre</a><br />
                                </li>
                                <li>
                                    <a href="https://www.unicef.org/wash/">UNICEF Water Environment &amp;
                                        Sanitation</a><br />
                                </li>
                                <li>
                                    <a href="http://www.who.int/water_sanitation_health/en/">World Health Organization
                                        (WHO), Water, Sanitation and
                                        Health</a>
                                </li>
                            </ul>
                            <p></p>
                            <h4><br /></h4>
                            <h4>Media and speaker requests</h4>
                            <p>
                                If you would like to interview a team member or have a
                                Water.org representative speak at your event, complete and
                                submit the appropriate form and we will contact you if we
                                agree this is a good fit.
                            </p>
                            <p>Available bookings include:<br /></p>
                            <p></p>
                            <p></p>
                            <ul>
                                <li>
                                    <a href="../founders-board-team/gary-white//">Gary White</a>, CEO and
                                    Co-founder
                                </li>
                                <li>
                                    <a href="../founders-board-team/matt-damon//">Matt Damon</a>, Co-founder
                                </li>
                                <li>
                                    <a href="../founders-board-team/jennifer-schorsch//">Jennifer Schorsch</a>,
                                    President
                                </li>
                            </ul>
                            <p>
                                <a href="media-request//">Media request form</a>
                            </p>
                            <p>
                                <a href="speaker-request//">Speaker request form</a>
                            </p>
                            <p></p>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </nav>
            </aside>
        </div>
    </section>
</main>