<main class="wide-container">
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/index.html">Home</a></li>
                <li class="breadcrumbs__item active">Stella Artois 2020</li>
            </ol>
        </div>
    </div>
    <div class="block-links">
        <section class="stripe-section stripe-section--has-pattern">
            <div class="content-container">
                <div class="buy-now-blocks">
                    <div class="buy-now-block">
                        <img src="/media/images/Waterorg_Stella_Chalice-Mexico-2.original.png" alt="Mexico Chalice"
                            class="buy-now-block__image" />
                        <div class="buy-now-block__text">
                            <h4 class="buy-now-block__title">Mexico Chalice</h4>
                            <a href="https://www.amazon.com/dp/B07L1F9181/ref=cm_sw_r_cp_api_i_oGlvCbS65982X"
                                class="tertiary-button">Buy Now</a>
                        </div>
                    </div>
                    <div class="buy-now-block">
                        <img src="/media/images/Waterorg_Stella_Chalice-Peru-1.original.png" alt="Peru Chalice"
                            class="buy-now-block__image" />
                        <div class="buy-now-block__text">
                            <h4 class="buy-now-block__title">Peru Chalice</h4>
                            <a href="https://www.amazon.com/dp/B07L1PK3KV/ref=cm_sw_r_cp_api_i_rklvCb26SG1PD"
                                class="tertiary-button">Buy Now</a>
                        </div>
                    </div>
                    <div class="buy-now-block">
                        <img src="/media/images/Waterorg_Stella_Chalice-Tanzania-3.original.png" alt="Tanzania Chalice"
                            class="buy-now-block__image" />
                        <div class="buy-now-block__text">
                            <h4 class="buy-now-block__title">Tanzania Chalice</h4>
                            <a href="https://www.amazon.com/dp/B07L1NRSVP/ref=cm_sw_r_cp_api_i_oHlvCbP5YVKQ3"
                                class="tertiary-button">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/vS3t7OTSWb0?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>1 Chalice = 5 years of clean water</h3>
                            <p>
                                The purchase of a Limited-Edition Stella Artois Chalice
                                helps provide 5 years of clean water to someone in the
                                developing world. For this year&#x27;s collection Stella
                                collaborated with watercolor artist Eili-Kaija Kussniem to
                                celebrate the vibrant impact water has on families and
                                communities. Purchase yours today and help end the global
                                water crisis.
                            </p>
                            <p>
                                <i>$3.13 provides access to clean water for 1 person for 5
                                    years. Stella Artois will donate $3.13 to Water.org for
                                    every Chalice sold.</i>
                            </p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Water changes lives</h3>
                            <p>
                                Water.org is an international nonprofit organization that
                                has positively transformed more than 31 million lives around
                                the world with access to safe water and sanitation. Founded
                                by Gary White and Matt Damon, Water.org pioneers
                                market-driven financial solutions to the global water
                                crisis. For more than 25 years, we&#x27;ve been providing
                                women hope, children health and families a future.
                            </p>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="/media/images/Waterorg_Stella_Img-1.original.jpg" alt="Matt Damon and Gary White" />
                </div>
            </div>
            <div class="stripe-section__pattern" style="
            background-image: url(/media/images/pattern-large-1.original.png);
          "></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_2019-Stella_Img-2.original.jpg" alt="Stella Artois" />
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>785 million lack access to safe water</h3>
                            <p>
                                It’s hard for us to truly imagine what it would be like to
                                not have access to clean water. But for 785 million people
                                around the world, this is reality.
                            </p>
                            <p>
                                Since 2015, Stella Artois and Water.org have partnered to
                                change that. Through our partnership, we’ve helped provide
                                access to clean water for more than 2 million people in the
                                developing world to date. Our goal is to reach 3.5 million
                                by 2020.
                            </p>
                            <p>
                                By purchasing this Limited-Edition Chalice, you can help
                                transform lives around the world. This creates a ripple
                                effect: with access to clean water, women can care for their
                                families, families can earn an income and pursue their
                                dreams.
                            </p>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </section>
    </div>
    <div class="bottom-image">
        <img src="/media/images/Waterorg_2019-Stella_Footer-RV2.original.jpg" alt="Stella Artois Chalices" />
    </div>
    <div class="callout-stripe callout-stripe-blue">
        <div class="content-container">
            <p class="callout-stripe__text">
                Buy a Chalice. Give water. Change lives.
            </p>
            <a href="https://www.amazon.com/dp/B07L1NQB7D/ref=cm_sw_r_cp_api_i_lIlvCbTDV1B9Q" title=""
                class="tertiary-button--reversed callout-stripe__button">Buy Now</a>
        </div>
    </div>
</main>