<main class="wide-container">
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item active">Subscribe</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section columned-content">
        <div class="content-container">
            <div class="columned-content__main">
                <div class="text-block">
                    <div class="rich-text">
                        <p>
                            Thanks for your interest in our work. We share monthly
                            newsletters and updates about our impact through email. Please
                            provide your name and email address below to sign-up.<br />
                        </p>
                    </div>
                    <form class="email-sign-up__form"
                        action="https://www.pages08.net/waterorg/forms/OptIn?webSyncID=482e8a74-d283-2cd6-7e1e-c107522a6790&amp;sessionGUID=9a0282d2-6c9c-621b-d78a-2d5d600d85d8&amp;trackedExternalFormPost=1"
                        method="post">
                        <input name="formSourceName" type="hidden" value="StandardForm" />
                        <input name="sp_exp" type="hidden" value="yes" />
                        <div class="form-group">
                            <label for="control_COLUMN2">First Name:</label>
                            <input class="email-sign-up__email" defaultText" id="control_COLUMN2" name="First Name"
                                type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="control_COLUMN3">Last Name:</label>
                            <input class="email-sign-up__email" id="control_COLUMN3" name="Last Name" type="text"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="control_EMAIL">Email:</label>
                            <input class="email-sign-up__email" id="control_EMAIL" name="Email" type="email" required />
                        </div>
                        <div>
                            <input type="hidden" name="Username" id="control_COLUMN88" />
                        </div>
                        <input class="email-sign-up__submit tertiary-button" type="submit" value="Sign up" />
                        <input type="hidden" name="formSourceName" value="StandardForm" />

                        <input type="hidden" name="sp_exp" value="yes" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>