<main class="wide-container">
    <section class="page-header" style="
        background-image: url(/media/images/Terms-of-Use_Header-RV3.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Terms of Use</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item active">Terms of Use</li>
            </ol>
        </div>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>Terms of Use</h3>
            <p><i>These Terms of Use were last revised on June 3, 2020.</i></p>
            <p>
                Welcome to www.water.org (“Website”), operated by Water.org, a
                registered 501(c)(3) non-profit organization (“Water.org”, “we”,
                “our”, or “us”).
            </p>
            <p>
                Please read these terms and conditions (“Terms”) and our
                <a href="/privacy-policy/">Privacy Policy</a> carefully before
                using the Website and our Services. Please note that our Website is
                available only to individuals that can form legally binding
                contracts under applicable law.
            </p>
            <h4>1. Introduction</h4>
            <p>
                These Terms and Conditions (“Terms”) apply to any use of our Website
                by any donator, fundraiser or user of our Website. By accepting
                these Terms you acknowledge that you have read, understood and agree
                to be bound by the Terms. You may not use our Website and Services
                (defined below) unless you agree to these Terms.
            </p>
            <p>
                If you are entering into the Terms on behalf of a corporate entity
                or organization, you represent that you are authorized to accept the
                Terms on such entity’s behalf, in such scenario the words “you” and
                “your” shall refer to such entity.
            </p>
            <h4>2. Changes</h4>
            <p>
                These Terms may be changed by us at any time. If you are registered
                as user, you will be deemed to accept the amended Terms.
            </p>
            <h4>3. Description of Services</h4>
            <p>
                Water.org is a global nonprofit organization working to bring water
                and sanitation to the world and our Website provides opportunities
                to make donations online to support, establish fundraisers and
                participate in our programmatic solutions (the “Services”).
            </p>
            <p>
                A more detailed description of our Services can be found on our
                <a href="/solutions/">Website.</a>
            </p>
            <h4>4. No Legal Advice or Attorney-Client Relationship</h4>
            <p>
                Information contained on or made available through the Website is
                not intended to and does not constitute legal advice,
                recommendations, mediation or counseling under any circumstance and
                no attorney-client relationship is formed. We do not provide
                accounting, tax or financial advice and you should not rely on any
                information given on our Website to determine the accounting, tax or
                financial consequences of making a donation using our Services.
            </p>
            <h4>5. Use of the Services</h4>
            <p>
                To use our Services, you will need to follow the procedures as set
                out on our Website, and you may only use the Services and our
                Website for lawful purposes. In order to use the Services, you will
                have to provide us with certain information. All such information is
                governed by our Privacy Policy.
            </p>
            <h5>5.1 When you donate</h5>
            <p>
                When you make any charitable gift in cash or in-kind (“Donation”),
                you will have to follow the procedures as set out on our Website
                when you click the “Donate” button and provide us with certain
                information. You agree that:
            </p>
            <ul>
                <li>
                    All information submitted by you is current, complete, accurate
                    and truthful;
                </li>
                <li>
                    Your Donation is explicitly provided as an unrestricted gift and
                    we make no representation, warranty, covenant or guarantee that a
                    Donation will be used for any particular geographic region,
                    project, community, village, or person, and that the Donation; and
                </li>
                <li>
                    We retain control over your Donation and that your Donation may be
                    used for administrative, governance and program activities
                    including, but not limited to: (i) new partner certification, (ii)
                    partner development, (iii) community mobilization, education,
                    training, and management, (iv) hygiene education and sanitation
                    construction, (v) construction of water facilities, (vi) project
                    monitoring and evaluation, and (vii) general program and
                    informational outreach or any other activity consistent with the
                    mission of the organization.
                </li>
            </ul>
            <p>
                Details of the procedures for payment and how we will process your
                Donation are displayed on our Website.
            </p>
            <p>
                If your donation is accepted, we will confirm your Donation via the
                email address you give us. The Donation will then be processed by
                the date set out in the confirmation email. You represent and
                warrant that if you are donating to Water.org that (i) any credit
                information you supply is true and complete, (ii) charges incurred
                by you will be honored by your credit card company, and (iii) you
                will pay the charges incurred by you at the posted prices, including
                any applicable taxes.
            </p>
            <p>
                All Donations are final unless exceptional circumstances are proven.
                In the event of false use of your credit or debit card or equivalent
                card, please contact us at
                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                    data-cfemail="761f1810193621170213045819041158">[email&#160;protected]</a>
                We will abide by local legislation regarding reimbursement of
                Donations.
            </p>
            <h5>5.1.1 Security – donations</h5>
            <p>
                You may donate money to us directly or through a variety of online
                payment sites, including Donately and Paypal (“Payment Providers”).
                We only use Payment Providers we know and trust, however, when you
                use the Payment Providers your personal information, including your
                credit card information, is handled by the Payment Provider and
                according to their respective privacy policies and terms. We
                encourage you to read and understand these before you donate.
            </p>
            <h5>5.2 Creating a fundraiser / Participating in our community</h5>
            <p>
                When you create a fundraiser, you will have to follow the procedures
                as set out on our Website when you click the “Start my fundraiser”
                button and register you as a user. You agree to provide your true
                identity (First Name and Last Name) and that all information
                submitted by you is current, complete, accurate and truthful.
            </p>
            <p>
                The username you provide in connection with your account may be used
                to attribute you in connection with any content you submit to any
                Services.
            </p>
            <p>
                After registration you will be able to provide us with information
                about your fundraiser (“User Content”). In this connection, you
                agree, that:
            </p>
            <ul>
                <li>
                    You will provide current, complete, accurate and truthful
                    information;
                </li>
                <li>
                    You represent, warrant, and agree that no User Content posted or
                    otherwise shared by you on or through any of the Services,
                    violates or infringes upon the rights of any third party,
                    including copyright, trademark, privacy, publicity, or other
                    personal or proprietary rights, breaches or conflicts with any
                    obligation, such as a confidentiality obligation, or contains
                    libelous, defamatory, or otherwise unlawful material;
                </li>
                <li>
                    You ensure to log out of your account at the end of your session
                    to avoid anyone else using it;
                </li>
                <li>
                    Your account information is kept secret and ensure that the access
                    details do not become known to any third party as you are liable
                    for any misuse of the Services by way of your account information;
                </li>
                <li>
                    You must notify us in the event of any unauthorised access to your
                    account or any changes to your account information; and
                </li>
                <li>
                    You grant us a nonexclusive, royalty-free, perpetual, irrevocable
                    and fully sublicensable right to use, reproduce, modify, adapt,
                    publish, translate, create derivative works from, distribute,
                    perform and display such User Content throughout the world in any
                    media.
                </li>
            </ul>
            <p>
                We reserve the right, without limitation, to ban or disable your use
                of the Services, remove offending User Content, suspend or terminate
                your account, stop payments to any such fundraiser, freeze or place
                a hold in donations, and report you to law enforcement authorities
                or otherwise take appropriate legal action including seeking
                restitution. Water.org will not be liable for any loss or damage
                arisen from your failure to comply with this section.
            </p>
            <h4>6. Limited License; Permitted Uses</h4>
            <p>
                You are granted a non-exclusive, non-transferable, revocable license
                (a) to access and use the Website and Services strictly in
                accordance with these Terms; (b) to use the Website and Services
                solely for internal, personal, non-commercial purposes (c) to print
                out discrete information from the Website and Services solely for
                internal, personal, non-commercial purposes and (d) stored,
                distributed or otherwise used for lawful, informational,
                non-commercial purposes relating to providing humanitarian relief
                and development programs provided that you maintain all copyright
                and other policies contained therein. No print out or electronic
                version of any part of the Website or its contents may be used by
                you in any litigation or arbitration matter whatsoever under any
                circumstances.
            </p>
            <h4>7. Third Party Content</h4>
            <p>
                Third party content may appear on the Website and/or Services and
                may be accessible via links. We are not responsible for and assume
                no liability for any mistakes, misstatements of law, defamation,
                omissions, falsehood, obscenity, pornography or profanity in the
                statements, opinions, representations or any other form of content
                on the Website. You understand that the information and opinions in
                the third-party content represent solely the thoughts of the author
                and is neither endorsed by nor does it necessarily reflect our
                belief.
            </p>
            <p>
                We reserve the right to investigate complaints or reported
                violations of the Terms and to take any action we deem appropriate,
                including but not limited to reporting any suspected unlawful
                activity to law enforcement officials, regulators, or other third
                parties and disclosing any information necessary or appropriate to
                such persons or entities relating to your profile, email addresses,
                usage history, posted materials, IP addresses and traffic
                information.
            </p>
            <h4>8. Indemnification</h4>
            <p>
                You agree to indemnify, defend and hold us and our partners, agents,
                officers, directors, employees, subcontractors, successors, assigns,
                third party suppliers of information and documents, attorneys,
                advertisers, product and service providers, and affiliates
                (collectively, &quot;Affiliated Parties&quot;) harmless from any
                liability, loss, claim and expense, including reasonable
                attorney&#x27;s fees, related to your violation of these Terms or
                use of the Website and/or Services, including any liabilities in
                connection with state or federal taxes.
            </p>
            <h4>9. Copyright and Trademarks</h4>
            <p>
                The content, organization, graphics, design, compilation, magnetic
                translation, digital conversion and other matters related to the
                Website are protected under applicable copyrights, trademarks and
                other proprietary (including but not limited to intellectual
                property) rights. The copying, redistribution, use or publication by
                you of any such matters or any part of the Website is strictly
                prohibited however, you can copy text for your own private use. You
                do not acquire ownership rights to any content, document or other
                materials viewed through the Website. The posting of information or
                materials on the Website does not constitute a waiver of any right
                in such information and materials.
            </p>
            <p>
                Water.org and others Water.org, including WaterCredit Initiative,
                are our service marks or registered service marks or trademarks.
                Other product and company names mentioned on the Website may be
                trademarks of their respective owners.
            </p>
            <h4>10. Copyright Infringement</h4>
            <p>
                We respect the intellectual property of others, and we ask you to do
                the same. If you believe that your work has been copied in a way
                that constitutes copyright infringement, please notify us at e-mail
                (<a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                    data-cfemail="345d5a525b7443554051461a5b4653">[email&#160;protected]</a>) with the following
                information:
            </p>
            <p>
                a) An electronic or physical signature of the person authorized to
                act on behalf of the owner of the copyright interest;<br />b) A
                description of the copyrighted work that you claim has been
                infringed;<br />c) A description of where the material that you
                claim is infringing is located on the Website;<br />d) Your address,
                telephone number, and email address;<br />e) A statement by you that
                you have a good faith belief that the disputed use is not authorized
                by the copyright owner, its agent, or the law; and<br />f) A
                statement by you, made under penalty of perjury, that the above
                information in your Notice is accurate and that you are the
                copyright owner or authorized to act on the copyright owner&#x27;s
                behalf.
            </p>
            <p>
                As a user of our Website, you confirm and agree that upon receipt of
                a notice, we may immediately remove the identified material from our
                Website without liability to you or any third-party.
            </p>
            <h4>11. Privacy Policy</h4>
            <p>
                Our Privacy Policy is a part of the Terms and we use, store and
                process information about you in accordance with our
                <a href="/privacy-policy/">Privacy Policy</a>.
            </p>
            <h4>12. Termination</h4>
            <p>
                We may terminate your account and terminate your access to the
                Website and Services.
            </p>
            <p>
                Without limiting the foregoing, the following will result in your
                termination of your use of the Website and Services:
            </p>
            <ul>
                <li>Violation or abuse of these Terms;</li>
                <li>A request by law enforcement or public authorities;</li>
                <li>A request from you; or</li>
                <li>Long periods of inactivity.</li>
            </ul>
            <p>As a user you can also disable/delete your account at any time.</p>
            <p>
                You further agree that all terminations are in our sole discretion
                and that we are not responsible to you or any third party for the
                termination of your account or access to the Website and/or
                Services. Cancellation of your account will result in the
                deactivation of all pages associated with the account. If the
                reasons for why we terminated your account are resolved, we will
                reactivate your account all pages associated with it.
            </p>
            <h4>13. Liability</h4>
            <p>
                We promise that our Website and Services will be provided with
                reasonable skill and care.
            </p>
            <p>
                We exclude all other express or implied terms, conditions,
                warranties, representations or endorsements whatsoever with regard
                to our Services, our Website or any information provided through our
                Website.
            </p>
            <p>
                We will do our best to ensure that all materials and information
                published on our Website are accurate, but please note that all
                content, materials and information on our Website are provided “as
                is” without any representations or warranties, express or implied.
                Your use of our Website and use of all information contained within
                it is at your own risk. It is not our responsibility to confirm the
                truth of the information provided by donors, fundraisers or any
                other user of the Website and our Services and we cannot be held
                responsible for any information, confirmation or User Content on our
                Website.
            </p>
            <p>
                In no event shall we be liable for any claims, penalties, loss,
                damage or expenses, howsoever arising, out of or in connection with
                your use of the Website, including, without limitation, direct or
                indirect loss, consequential loss or damage, loss of profit or
                goodwill, loss of data, loss arising from use or inability to use
                the Website, loss arising from any errors or omissions in the
                Website as a result of breach of contract, negligence, delict.
                Nothing in these Terms shall exclude or limit our liability for
                death or personal injury caused by negligence or for any liability
                which cannot be excluded or limited under applicable law.
            </p>
            <p>
                If we are liable to you for any reason, our liability will be
                limited to the amount of any donation you have made using the
                Services. This limit does not apply to any liability we may have for
                death or personal injury resulting from our negligence or for our
                fraudulent misrepresentation.
            </p>
            <p>
                You are responsible for ensuring that your computer system meets all
                relevant technical specifications necessary to use our Website and
                is compatible with our Website. You also understand that we cannot
                and do not guarantee or warrant that any material available for
                downloading from our Website will be free from infection, viruses
                and/or other code that has contaminating or destructive properties.
                You are responsible for implementing sufficient procedures and virus
                checks (including anti-virus and other security checks) to satisfy
                your particular requirements for the accuracy of data input and
                output.
            </p>
            <p>
                The limitations and exclusions in this clause do not affect your
                non-excludable statutory rights and only apply to the extent
                permitted by applicable law.
            </p>
            <h4>14. Legal Compliance</h4>
            <p>
                You agree to comply with all applicable domestic and international
                laws, statutes, ordinances and regulations regarding your use of the
                Website and Services and the User Content provided therein.
            </p>
            <p>
                Donor contributions are tax-deductible to the extent allowed by law,
                and donors receive no goods or services in return for their
                donations unless their acknowledgement so specifies. However,
                Water.org is not an accounting, taxation or financial advisor and
                you should not rely on information that is given on our website to
                determine the accounting, tax or financial consequences of making a
                donation. We strongly recommend that you consult your own advisor(s)
                about any accounting, taxation or financial consequences that may
                affect you. You can find a copies of our latest financial reports
                <a href="/about-us/financials/">here</a>.
            </p>
            <h4>15. Miscellaneous</h4>
            <p>
                These Terms shall be treated as though it were executed and
                performed in State of North Carolina United States of America and
                shall be governed by and construed in accordance with the laws of
                the State of North Carolina (without regard to conflict of law
                principles). Any cause of action by you with respect to the Website
                (and/or any information, Documents, products or services related
                thereto) must be instituted within one (1) year after the cause of
                action arose or be forever waived and barred. All actions shall be
                subject to the limitations set forth in Section 19 and Section 20.
                The language in these Terms shall be interpreted as to its fair
                meaning and not strictly for or against any party. These Terms and
                all incorporated agreements and your information may be
                automatically assigned by us in our sole discretion to a third party
                in the event of an acquisition, sale or merger. Should any part of
                these Terms be held invalid or unenforceable, that portion shall be
                construed consistent with applicable law and the remaining portions
                shall remain in full force and effect. To the extent that anything
                in or associated with the Website is in conflict or inconsistent
                with these Terms, these Terms shall take precedence. Our failure to
                enforce any provision of these Terms shall not be deemed a waiver of
                such provision nor of the right to enforce such provision. Our
                rights under these Terms shall survive any termination of these
                Terms.
            </p>
            <h4>16. Arbitration</h4>
            <p>
                Any legal controversy or legal claim arising out of or relating to
                these Terms or our services, excluding legal action taken by us to
                collect or recover damages for, or obtain any injunction relating
                to, Website operations, intellectual property, and our services,
                shall be settled solely by binding arbitration in accordance with
                the commercial arbitration rules of JAMS. Any such controversy or
                claim shall be arbitrated on an individual basis and shall not be
                consolidated in any arbitration with any claim or controversy of any
                other party. The arbitration shall be conducted in San Francisco,
                California, and judgment on the arbitration award may be entered
                into any court having jurisdiction thereof. Either you or we may
                seek any interim or preliminary relief from a court of competent
                jurisdiction in San Francisco, California necessary to protect the
                rights or property of you and us pending the completion of
                arbitration. Each party shall bear one-half of the arbitration fees
                and costs incurred through JAMS.
            </p>
        </div>
    </div>
</main>