<main class="wide-container">
    <section class="page-header" style="
        background-image: url(/media/images/Waterorg_HealthOurWorld_Header-RV2.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">
                    World Leaders Call-to-action on COVID-19
                </h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item">
                    <a href="/health-our-world-starts-access-safe-water/">The health of our world starts with access
                        to safe water</a>
                </li>
                <li class="breadcrumbs__item active">
                    World Leaders Call-to-Action on COVID-19
                </li>
            </ol>
        </div>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <p>
                <i>Heads of State, Government, and leaders from United Nations
                    agencies, International Financial Institutions, civil society,
                    private sector and research and learning, including Water.org, are
                    mobilizing around a call for the prioritization of water,
                    sanitation and hygiene in the response to COVID-19.</i>
            </p>
            <p><i>Our joint statement:</i></p>
            <p></p>
            <h3>
                Water, sanitation and hygiene: World Leaders Call-to-Action on
                COVID-19
            </h3>
            <p>
                Until there is a vaccine or treatment for COVID-19, there is no
                better cure than prevention.
            </p>
            <p>
                Water, sanitation and hand hygiene, together with physical
                distancing, are central to preventing the spread of COVID-19, and a
                first line of defence against this serious threat to lives and
                health systems. Handwashing with water and soap kills the virus but
                requires access to running water in sufficient quantities.
            </p>
            <p>
                Our response plans – at national, regional and global levels – must
                therefore prioritize water, sanitation and hygiene services.
            </p>
            <p>
                Leaders that recognize the role of water, sanitation and hygiene in
                preventing the spread of COVID-19, will save lives. Leaders that
                prioritize international collaboration and support, will save lives.
                We are only as healthy as the most vulnerable members of society, no
                matter in which country they are.
            </p>
            <p>
                Hence, we call on all national, regional and global leaders to join
                us in:
            </p>
            <ul>
                <li>
                    <b>Making water, sanitation and hygiene available to everyone,
                        eliminating inequalities and leaving no one behind,</b>
                    taking care of those who are most vulnerable to COVID-19. This
                    includes the elderly, people with disabilities, women and girls,
                    and those living in precarious situations, such as in informal
                    settlements, refugee camps, detention centres, homeless people, as
                    well as those people whose livelihoods are limited or destroyed by
                    measures put in place to stop the spread of the virus, and women
                    who shoulder the vast majority of unpaid care work in crisis.
                    These measures are critical, not just to protect these vulnerable
                    populations from COVID-19, but also to prevent other infectious
                    diseases that can spread when water, sanitation and hygiene
                    services are disrupted.
                </li>
                <li>
                    <b>Working collaboratively with all stakeholders in a coordinated
                        manner</b>
                    to improve water and sanitation services, as each actor, whether
                    public, private, donor or civil society has something to offer to
                    protect populations from COVID-19. Coordinated action is more
                    effective, including urgent immediate action to establish
                    handwashing facilities within health care facilities and at
                    entrance points to public or private commercial buildings and
                    public transport facilities, Partnerships such as Sanitation and
                    Water for All are key platforms for national, regional and
                    international cooperation and exchange of experiences.
                </li>
                <li>
                    <b>Ensuring that water and sanitation systems are resilient and
                        sustainable</b>
                    in order to protect people’s health and support national health
                    systems. Service providers for water, sanitation and hygiene
                    including utilities and informal providers will have difficulties
                    to maintain or expand services at a time of reduced financial
                    flows restricted movement. This is both a short-term and a
                    long-term requirement to save lives. Undisrupted global supply
                    chains, including movement of goods and production capacity, for
                    water, sanitation and hygiene commodities and services must be
                    maintained at all costs. Water, sanitation and hygiene workers
                    must also be grated sufficient protection to be able to provide us
                    with such services without disruption.
                </li>
                <li>
                    <b>Prioritizing the mobilization of finance to support countries
                        in their response to this crisis.</b>
                    Any financing directed at supporting emergency interventions must
                    have long-term solutions already in mind. Access to water,
                    sanitation and hygiene must be affordable to all, and this may
                    require additional funding to support service providers and help
                    those who cannot afford it. Funding envelopes need to be
                    maintained with no diversion away from the commitments and
                    priorities set for the water, sanitation and hygiene sector. This
                    includes avoiding any shifts in domestic funding allocations that
                    support WASH services and sustained support by international
                    donors for on-going water, sanitation and hygiene humanitarian
                    responses, and broader Grand Bargain commitments.
                </li>
                <li>
                    <b>Delivering accurate information in a transparent manner.</b>
                    Consistent and rational messaging based on scientific advice that
                    is accessible to everyone will help people to understand the
                    threat and enable everyone to act accordingly.
                </li>
            </ul>
            <p>
                COVID-19 is not the first and will not be the last epidemic that
                countries will face. Resilience to future crises depends on actions
                taken now, as well as on policies, institutions and capacity put in
                place during normal times. Let us ensure this threat is not a missed
                opportunity to achieve our vision of universal access to water,
                sanitation and hygiene. 
            </p>
            <p>As leaders, this is our chance to save lives.</p>
            <p>
                <b><br /></b><a
                    href="/about-us/news-press/access-water-critical-curb-disease-spread-today-and-build-resiliency-future/"><b>Read
                        Water.org&#x27;s press release &gt;</b></a>
            </p>
        </div>
    </div>
</main>