<main class="wide-container">
    <section class="stripe-section stripe-section--shaded shaded-page-header">
        <div class="content-container">
            <div class="thank-you-page-intro">
                <img src="/media/images/Waterorg_WeLove_Icon-1.original.png" alt="Waterorg_WeLove_Icon-1.png"
                    class="thank-you-page-intro__icon">
                <div class="thank-you-page-intro__headline">
                    <div class="rich-text">
                        <h1><b>You</b> are loved and appreciated</h1>
                    </div>
                </div>
                <div class="rich-text">
                    <p>Thanks to you, more than 31 million people now have access to safe water or sanitation!</p>
                </div>
            </div>
            <div class="embed-container">
                <iframe type="text/html" src="https://www.youtube.com/embed/4zx1W2_00cg" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right">
        <div class="content-container">
            <div class="featured-callout__text-block text-block">
                <h1>Here&#39;s to the big-hearted</h1>
                <div class="rich-text">
                    <p>From socially distant lemonade stands to backyard marathons—you didn’t give up on your goals or
                        ours. You raised funds to change lives with safe water. You ran races so kids could walk to
                        school instead of walk to collect water. You baked cookies so moms could give their children
                        safe water from taps in their homes. You asked for water instead of wedding gifts. You dedicated
                        your birthday to the lives of others.</p>
                </div>
                <figure class="text-stat">
                    <span class="text-stat__number">3,365</span>
                    <figcaption class="text-stat__text">Number of online fundraisers you led</figcaption>
                </figure>
            </div>
            <div class="featured-callout__image-container featured-callout__image-container--right">
                <img src="/media/images/Waterorg_WeLove_Img-1.original.png" alt="Waterorg_WeLove_Img-1.png">
            </div>
        </div>
        <div class="stripe-section__wave-pattern stripe-section__wave-pattern--reversed"></div>
    </section>
    <section class="stripe-section stripe-section--shaded multi-column-content multi-column-content--fundraisers">
        <div class="content-container">
            <div class="multi-column-row multi-column-row--3">
                <div class="multi-column-row__col">
                    <img src="../static/img/thankyou-icon.7f7658ecefbe.svg" class="thankyou-icon">
                    <img src="/media/images/Waterorg_WeLove_Img-2.original.jpg" class="multi-column-row__image">
                    <div class="multi-column-row__text text-block">
                        Alonso’s parents asked friends and family to donate in honor of his 1st birthday.
                    </div>
                    <a href="https://give.water.org/fundraiser/9518/"
                        class="secondary-button multi-column-row__cta">Alonso&#39;s fundraiser&nbsp;<span
                            class="icon-cta-arrow"></span></a>
                </div>
                <div class="multi-column-row__col">
                    <img src="../static/img/thankyou-icon.7f7658ecefbe.svg" class="thankyou-icon">
                    <img src="/media/images/Waterorg_WeLove_Img-3.original.jpg" class="multi-column-row__image">
                    <div class="multi-column-row__text text-block">
                        This Girl Scout troop committed to 5-minute showers to save water and give water.
                    </div>
                    <a href="https://give.water.org/fundraiser/9538/"
                        class="secondary-button multi-column-row__cta">Brownie Troop 44629’s fundraiser&nbsp;<span
                            class="icon-cta-arrow"></span></a>
                </div>
                <div class="multi-column-row__col">
                    <img src="../static/img/thankyou-icon.7f7658ecefbe.svg" class="thankyou-icon">
                    <img src="/media/images/Waterorg_WeLove_Img-4.original.jpg" class="multi-column-row__image">
                    <div class="multi-column-row__text text-block">
                        The Brierley family hosted a socially distant lemonade stand.
                    </div>
                    <a href="https://give.water.org/fundraiser/9482/"
                        class="secondary-button multi-column-row__cta">Brierley family fundraiser&nbsp;<span
                            class="icon-cta-arrow"></span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left">
        <div class="content-container">
            <div class="featured-callout__image-container featured-callout__image-container--left">
                <img src="/media/images/Waterorg_WeLove_Img-5-RV.original.png" alt="Waterorg_WeLove_Img-5.png">
            </div>
            <div class="featured-callout__text-block text-block">
                <h1>You gave every month</h1>
                <div class="rich-text">
                    <p>You cared, you believed, and you committed. With each monthly donation, you made health, hope,
                        and opportunity possible. Moms can give their children safe water to protect them from illness.
                        Kids can go to school and dream about the bright futures ahead. And families have health and
                        time to earn income and break their cycle of poverty.</p>
                </div>
                <figure class="text-stat">
                    <span class="text-stat__number">$5</span>
                    <figcaption class="text-stat__text">For each $5 donation you give, one person in need is empowered
                        with safe water.</figcaption>
                </figure>
            </div>
        </div>
        <div class="stripe-section__wave-pattern"></div>
    </section>
    <section class="stripe-section stripe-section--shaded multi-column-content">
        <div class="content-container--small">
            <div class="section-intro-text">
                <h2 class="section-intro-text__headline">Your partnership made more possible</h2>
                <div class="rich-text">
                    <p>We are thankful for the foundations, corporations and brands who share our passion and vision to
                        change lives with safe water and sanitation. Your generosity makes our work possible.</p>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="multi-column-row multi-column-row--4">
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-1.original.png" alt="Waterorg_WeLove_Logo-1.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-2.original.png" alt="Waterorg_WeLove_Logo-2.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-3.original.png" alt="Waterorg_WeLove_Logo-3.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-4.original.png" alt="Waterorg_WeLove_Logo-4.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-5.original.png" alt="Waterorg_WeLove_Logo-5.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-6.original.png" alt="Waterorg_WeLove_Logo-6.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-7.original.png" alt="Waterorg_WeLove_Logo-7.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-8.original.png" alt="Waterorg_WeLove_Logo-8.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-9.original.png" alt="Waterorg_WeLove_Logo-9.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-10.original.png" alt="Waterorg_WeLove_Logo-10.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-13.original.png" alt="Waterorg_WeLove_Logo-13.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-14.original.png" alt="Waterorg_WeLove_Logo-14.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-15.original.png" alt="Waterorg_WeLove_Logo-15.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-16-RV.original.png" alt="Waterorg_WeLove_Logo-16.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-17.original.png" alt="Waterorg_WeLove_Logo-17.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-18.original.png" alt="Waterorg_WeLove_Logo-18.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-19.original.png" alt="Waterorg_WeLove_Logo-19.png">
                </div>
                <div class="multi-column-row__col multi-column-row__col--centered">
                    <img src="/media/images/Waterorg_WeLove_Logo-20-RV.original.png" alt="Waterorg_WeLove_Logo-20.png">
                </div>
            </div>
        </div>
    </section>
    <section class="stripe-section">
        <div class="content-container--small">
            <div class="section-intro-text">
                <h2 class="section-intro-text__headline">Your businesses gave back</h2>
                <div class="rich-text">
                    <p>Doing good is good for business. You created products that donated a portion of sales to change
                        lives with safe water. Your customers loved this and we love it too.</p>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="twin-images">
                <img src="/media/images/Waterorg_WeLove_Img-6-RV.original.png" alt="Waterorg_WeLove_Img-6.png">
                <img src="/media/images/Waterorg_WeLove_Img-7.original.png" alt="Waterorg_WeLove_Img-7.png">
            </div>
    </section>
    <section class="floating-callout-section floating-callout-section--shaded">
        <div class="floating-callout">
            <img src="/media/images/Waterorg_WeLove_Icon-2.original.png" alt="Waterorg_WeLove_Icon-2.png"
                class="floating-callout__icon">
            <h2 class="floating-callout__headline">Our hearts are full</h2>
            <div class="rich-text">
                <p>Because of you, we’ve changed more than 31 million lives with safe water or sanitation. See the
                    number of lives changed in each country where we work and meet 3 of the 31 million people you’ve
                    empowered with safe water or sanitation.</p>
                <p></p>
            </div>
        </div>
    </section>
    <section class="stripe-section stripe-section--shaded">
        <img src="/media/images/Waterorg_WeLove_Map-RV-2.original.jpg" alt="Waterorg_WeLove-Map.png"
            class="thank-you-page-map">
    </section>
    <section class="stripe-section stripe-section--shaded multi-column-content">
        <div class="content-container">
            <div class="multi-column-row multi-column-row--3">
                <div class="multi-column-row__col">
                    <img src="/media/images/Waterorg_WeLove_Img-8.original.png" class="multi-column-row__image">
                    <div class="multi-column-row__text text-block">
                        <h3 class="multi-column-row__headline">Yolanda</h3>
                        Today Yolanda won’t walk a mile down a mountainside to get water because she has access to it at
                        home now. Thank you for empowering women like Yolanda with safe water today, and every day.
                    </div>
                    <a href="../our-impact/all-stories/she-can-move-mountains/"
                        class="secondary-button multi-column-row__cta">Yolanda&#39;s story&nbsp;<span
                            class="icon-cta-arrow"></span></a>
                </div>
                <div class="multi-column-row__col">
                    <img src="/media/images/Waterorg_WeLove-9.original.png" class="multi-column-row__image">
                    <div class="multi-column-row__text text-block">
                        <h3 class="multi-column-row__headline">Rehana</h3>
                        Rehana will stay home today, safe and sewing dresses to sell. She used to walk long distances to
                        collect water for her family. Thank you for helping end Rehana’s water crisis.
                    </div>
                    <a href="../our-impact/all-stories/rehana/"
                        class="secondary-button multi-column-row__cta">Rehana&#39;s story&nbsp;<span
                            class="icon-cta-arrow"></span></a>
                </div>
                <div class="multi-column-row__col">
                    <img src="/media/images/Waterorg_WeLove-10.original.png" class="multi-column-row__image">
                    <div class="multi-column-row__text text-block">
                        <h3 class="multi-column-row__headline">Semambo</h3>
                        Today, Semambo will tend to her coffee bean farm. And she has the water needed to keep her
                        family healthy. Thank you for helping change her life by giving safe water.
                    </div>
                    <a href="../our-impact/all-stories/semambo-grows/"
                        class="secondary-button multi-column-row__cta">Semambo&#39;s story&nbsp;<span
                            class="icon-cta-arrow"></span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="stripe-section bleeding-image bleeding-image--mobile"
        style="background-image:url(/media/images/Waterorg_WeLove_Img-11.original.png);">
        <div class="content-container">
            <div class="bleeding-image__text">
                <div class="text-block">
                    <h2>Thank you for continuing to support Water.org</h2>
                    <div class="rich-text">
                        <p>We could not do this life-giving work without you. With your help, tomorrow can hold the same
                            health, hope, and opportunity for millions more people in need of safe water and sanitation.
                        </p>
                    </div>
                    <div class="featured-callout__link">
                        <a href="../partners/funding-partners/" class="secondary-button">Partner with us&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="featured-callout__link">
                        <a href="../about-us/ways-donate/" class="secondary-button">Ways to donate&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Donate today to change more lives with safe water.</p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>