<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../../../media/images/Waterorg_Solutions_MEL_Header.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Country Leaders</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="https://water.org/">Home</a></li>
                <li class="breadcrumbs__item"><a href="https://water.org/about-us/">About Us</a></li>
                <li class="breadcrumbs__item"><a href="https://water.org/about-us/founders-board-team/">Founders, Board
                        &amp; Team</a></li>
                <li class="breadcrumbs__item active">Country Leaders</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section quarters-content quarters-content--sidebar-first">
        <div class="content-container">
            <div class="quarters-content__main quarters-content__main--solo">
                <div class="rich-text">
                    <h3>Meet our country leaders</h3>
                    <p>The leaders of our in-country teams are on the front lines of the water crisis, demonstrating
                        real-time problem solving and a strong understanding of the needs, opportunities and people in
                        their communities. We have offices and staff members in Bangladesh, Ethiopia, India, Indonesia,
                        Kenya, Peru and the Philippines.</p>
                </div>
            </div>
            <div class="quarters-content__sidebar"></div>
        </div>
    </section>
    <section class="stripe-section directors">
        <div class="content-container">
            <div class="block-director">
                <div class="block-director__column-content-item">
                    <img src="https://water.org/media/images/Profile-Photo_Musinguzi-Francis.original.jpg"
                        alt="Profile-Photo_Musinguzi-Francis.jpg">
                </div>
                <div class="block-director__column-content-item">
                    <div class="text-block--condensed">
                        <h5>Francis Musinguzi</h5>
                        <p>Regional Director, Africa</p>
                        <a href="https://water.org/about-us/founders-board-team/country-leaders/francis-musinguzi/"
                            title="Francis Musinguzi" class="secondary-button">Meet Francis <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
            <div class="block-director">
                <div class="block-director__column-content-item">
                    <img src="https://water.org/media/images/Waterorg_Founders-Board-Team_Profile-Photo__Gul.original.jpg"
                        alt="Manoj Gulati">
                </div>
                <div class="block-director__column-content-item">
                    <div class="text-block--condensed">
                        <h5>Manoj Gulati</h5>
                        <p>Managing Director, India</p>
                        <a href="https://water.org/about-us/founders-board-team/country-leaders/manoj-gulati/"
                            title="Manoj Gulati" class="secondary-button">Meet Manoj <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
            <div class="block-director">
                <div class="block-director__column-content-item">
                    <img src="https://water.org/media/images/Waterorg_Founders-Board-Team_Profile-Photo_Amit.original.jpg"
                        alt="Sajid Amit">
                </div>
                <div class="block-director__column-content-item">
                    <div class="text-block--condensed">
                        <h5>Sajid Amit</h5>
                        <p>Executive Director, Bangladesh</p>
                        <a href="https://water.org/about-us/founders-board-team/country-leaders/sajid-amit/"
                            title="Sajid Amit" class="secondary-button">Meet Sajid <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
            <div class="block-director">
                <div class="block-director__column-content-item">
                    <img src="https://water.org/media/images/Waterorg_Founders-Board-Team_Profile-Photo_Hugo.original_RrhgWdz.jpg"
                        alt="Victor Hugo">
                </div>
                <div class="block-director__column-content-item">
                    <div class="text-block--condensed">
                        <h5>Victor Hugo Urcia</h5>
                        <p>Country Director, Peru</p>
                        <a href="https://water.org/about-us/founders-board-team/country-leaders/victor-hugo-urcia/"
                            title="Victor Hugo Urcia" class="secondary-button">Meet Victor Hugo <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>