<main class="wide-container">
    <section class="page-header"
        style="background-image: url(///media/images/Waterorg_About-Us_Gary-White_HeaderRV2.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Gary White</h1>
                <div class="page-header__body">
                    <div class="rich-text">
                        <p>CEO &amp; Co-founder of Water.org</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="////">Home</a></li>
                <li class="breadcrumbs__item"><a href="///">About Us</a></li>
                <li class="breadcrumbs__item"><a href="//">Founders, Board &amp; Team</a></li>
                <li class="breadcrumbs__item active">Gary White</li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="///media/images/Waterorg_About-Us_Gary-White-Bio_Img-2RV2.original.jpg" alt="Gary White">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <p>Gary White is an observer, an innovator, and a problem-solver. He obtained three degrees
                                in civil and environmental engineering, and as a passionate, problem-solver he created a
                                solution that has empowered millions of people in need with access to safe water and
                                sanitation.</p>
                            <p>When Gary traveled to Honduras in his early twenties, he visited impoverished communities
                                where he observed first-hand the adversities faced by those living without access to
                                safe water or a toilet at home. While in one village, he was struck by “how many
                                above-ground graves there were, and how small most of them were.” Young children were
                                dying due to water-related diseases.</p>
                            <p>Gary knew access to safe water and sanitation was the answer to a bright future for the
                                families he met in these villages – a future with more hope, health and possibilities.
                                He returned to the United States determined to end the global water crisis.</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="block-blockquote">
                        <blockquote>“Any society with the guarantee of safe water has a chance to realize its full
                            potential.”</blockquote>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(///media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>A dinner in Kansas City that changed the world</h3>
                            <p>One November evening in 1990 Gary gathered friends and family for dinner and a
                                conversation that would eventually change the lives of millions.</p>
                            <p><i>&quot;I brought together my friends and family, about 100 people. We had dinner in the
                                    basement of the parish where I grew up. I shared my experiences working on water
                                    projects in Latin America. We raised about $4,300 that night. We raised enough money
                                    to get the village water.”</i></p>
                            <p>A year later, Gary launched Water Partners. This Midwest-based non-profit evolved into
                                the international NGO known as Water.org.</p>
                            <p>Through Water Partners, Gary passionately pursued his vision of bringing safe water to
                                communities in need. One well at a time, lives changed. But, not fast enough. The
                                urgency of the water crisis called Gary to do more. He spent countless hours traveling
                                and studying the global needs and economies of families living in poverty until one day
                                he arrived at a solution that to date, has changed the lives of more than 31 million
                                people.</p>
                            <p></p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="///media/images/Waterorg_About-Us_Gary-White-Bio_Img-1RV.original.jpg" alt="Gary White">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(///media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="///media/images/Waterorg_About-Us_Gary-White-Bio_Img-3.original.jpg" alt="Gary White">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Insights that led to innovation</h3>
                            <p>The idea started when Gary was in India. He met a woman who was paying a loan shark 125%
                                interest to buy a toilet. She was living on $2 USD a day and absorbing a crushing debt.
                                Gary recognized this was incredibly common – there are millions of families spending a
                                large portion of their income on temporary water and sanitation access. The expense
                                traps them in a cycle of poverty.</p>
                            <p>Gary knew there had to be a better path to empowering people in need with water and
                                sanitation, affordably.</p>
                        </div>
                    </div>
                    <div class="block-blockquote">
                        <blockquote>“People living in poverty are not a problem to be solved. They are a market to be
                            served.”</blockquote>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(https://water.org/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-right stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>An idea that is changing charity</h3>
                            <p>Gary believed that people in need could be part of solving their own water crisis if
                                given the opportunity. They know what water or sanitation solutions they need at home,
                                and they need financial help to access them.</p>
                            <p><i>&quot;That’s when I had an idea. What if we loaned these women the money to install
                                    their own water tap or their own toilet? They could use the money they were paying
                                    each week to a water vendor to re-pay their loan instead. And when repaid, they
                                    would own their toilet and have long-term access to water.&quot;</i></p>
                            <p>Gary shared his idea with financial institutions, connecting the forces he believed would
                                help solve the water crisis—financing and the people in need of water and toilets.
                                Lenders were intrigued and inspired. For the first time, microfinance institutions
                                started lending for water connections and toilets, establishing <a
                                    href="https://water.org/solutions/watercredit/">WaterCredit</a> as a viable solution
                                for millions in need of safe water and sanitation.</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%;" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/4ab4LxZVIsc?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="https://water.org/media/images/Waterorg_About-Us_Gary-White-Bio_Img-5.original.jpg"
                        alt="Gary White">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Smart power meets star power</h3>
                            <p>During this time, Gary attended the annual Clinton Global Initiative in New York. There
                                he met actor <a href="https://water.org/about-us/founders-board-team/matt-damon/">Matt
                                    Damon</a> who, as a result of his passion to help communities in Africa get safe
                                water, had founded his own water charity. Gary and Matt quickly determined they could
                                have significantly more impact around the world if they worked together. In 2009, they
                                merged their organizations – Water Partners International and H20 Africa – to become
                                Water.org.</p>
                            <p>When Gary and Matt realized that lenders didn’t have enough money to meet the demand from
                                borrowers wanting loans for water or sanitation solutions, they created another
                                organization called <a href="https://water.org/solutions/waterequity/">WaterEquity</a> –
                                the first-ever impact investment manager dedicated to solving the global water crisis.
                            </p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>A leader in the water and sanitation sector</h3>
                            <p>As Co-founder and CEO of Water.org and WaterEquity, Gary leads the organizations to
                                create and execute market-driven solutions to the global water crisis. Gary&#x27;s
                                entrepreneurial vision drives innovations in the way water and sanitation projects are
                                delivered and financed, innovations that now serve as a model in the water and
                                sanitation sector.</p>
                            <p>From a makeshift office in his home, Gary has led Water.org to become an international
                                organization with more than 100 people changing lives in 13 countries around the world.
                            </p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="https://water.org/media/images/Waterorg_About-Us_Gary-White-Bio_Img-6.original.jpg"
                        alt="Gary White">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(https://water.org/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>Awards &amp; recognition</h3>
            <ul>
                <li>International Peace Award from Community of Christ – 2019</li>
                <li>Forbes 400 Lifetime Achievement Award for Social Entrepreneurship – 2017</li>
                <li>World Economic Forum’s Global Agenda Council on Water – 2014</li>
                <li>Schwab Foundation Social Entrepreneur – 2012</li>
                <li>TIME 100 list of the world’s most influential people – 2011</li>
                <li>Skoll Foundation Social Entrepreneur – 2009</li>
                <li>Philanthropy World Hall of Fame – 2008</li>
            </ul>
        </div>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>News, press &amp; perspectives</h3>
            <p>For more of the latest news and press releases about our work in the water and sanitation sector, visit
                our <a href="https://water.org/about-us/news-press/">New, Press &amp; Perspectives</a> page.</p>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="https://water.org/media/images/Waterorg_Solutions_Implementing-Partners_Img-4.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>An idea that is changing charity</h4>
                                <p>Our smart solution has proven that if you invest in women, they’ll change their
                                    world. Hear more from Gary White about why we created WaterCredit.</p>
                            </div>
                        </div>
                        <a href="https://water.org/about-us/news-press/idea-changing-charity/"
                            class="secondary-button multi-column-row__cta">Read Gary&#39;s perspective <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="https://water.org/media/images/Waterorg_Solutions_Global-Advocacy_Img-5.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>How to spend a billion bucks? The global water crisis</h4>
                                <p>In 2018 we celebrated an exciting milestone — we&#x27;ve helped mobilize $1 billion
                                    in capital to support small loans that bring access to safe water and sanitation to
                                    millions of people in need.</p>
                            </div>
                        </div>
                        <a href="https://water.org/about-us/news-press/skoll-foundation-how-spend-billion-bucks-global-water-crisis/"
                            class="secondary-button multi-column-row__cta">See what these billion dollars can do <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="https://water.org/media/images/Waterorg_AnnualReport2019_Img-1RV.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Make every day, water day</h4>
                                <p>In honor of World Water Day on March 22nd, Gary shares how investment on every
                                    possible level is what will end the water crisis and bring safe water and sanitation
                                    access to all.</p>
                            </div>
                        </div>
                        <a href="https://www.brinknews.com/theres-a-way-to-solve-the-global-water-crisis-investment/"
                            class="secondary-button multi-column-row__cta">Learn how <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Join Gary&#39;s vision of water and sanitation for all.</p>
            <a href="https://water.org/donate/" title="" class="tertiary-button--reversed callout-stripe__button">Donate
                today</a>
        </div>
    </div>
</main>