<main class="wide-container">
    <section class="page-header"
        style="background-image: url(https://water.org/media/images/Waterorg_Solutions_WaterCredit_Header.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Global Team</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="https://water.org/">Home</a></li>
                <li class="breadcrumbs__item"><a href="https://water.org/about-us/">About Us</a></li>
                <li class="breadcrumbs__item"><a href="https://water.org/about-us/founders-board-team/">Founders, Board
                        &amp; Team</a></li>
                <li class="breadcrumbs__item active">Global Team</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section">
        <div class="content-container">
            <div class="block-richtext">
                <div class="rich-text">
                    <h3>Our Team</h3>
                    <p>We currently have more than 100 talented, passionate team members based in 7 countries. Visit our
                        <a href="https://water.org/careers/">Careers</a> page if you&#x27;d like to join our team
                        that&#x27;s changing lives around the world.
                    </p>
                    <h3></h3>
                </div>
            </div>
            <div class="block-carousel">
                <section class="stripe-section">
                    <div class="content-container">
                        <div class="general-slider flexslider general-slider--timeline">
                            <ul class="slides">
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>Learning from the people we empower</h2>
                                            <div class="rich-text">
                                                <p>A woman in the Philippines shares her story with team members from
                                                    Water.org and our microfinance institution partner in the area.</p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers_Gallery_Img-2.original.jpg"
                                                alt="Water.org team members meet with partners in the Philippines">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>Bringing people together to share our smart solutions</h2>
                                            <div class="rich-text">
                                                <p>A few team members at the WaterCredit Forum we hosted in Lima, Peru.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers-Gallery_Img-8.original.jpg"
                                                alt="Water.org team members at the WaterCredit Forum in Lima, Peru">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>Celebrating access to safe water</h2>
                                            <div class="rich-text">
                                                <p>San Francisco office team members celebrate World Water Day.</p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers-Gallery_Img-7.original.jpg"
                                                alt="San Francisco office team members celebrate World Water Day">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>Working in Chennai</h2>
                                            <div class="rich-text">
                                                <p>Team members meet with partners and local staff in Chennai, India.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers_Gallery_Img-4.original.jpg"
                                                alt="Water.org team members meet with partners and local staff in Chennai, India">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>Taking notes to improve our work</h2>
                                            <div class="rich-text">
                                                <p>Meeting with people we empower in Kenya.</p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers_Gallery_Img-5.original.jpg"
                                                alt="Water.org team members meet with partners in Kenya">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>Sharing our knowledge to increase impact</h2>
                                            <div class="rich-text">
                                                <p>A couple team members speak on a panel at a financial inclusion
                                                    conference in Dhaka, Bangladesh</p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers_Gallery_Img-9.original.jpg"
                                                alt="Waterorg_Careers_Gallery_Img-9.jpg">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>A global organization</h2>
                                            <div class="rich-text">
                                                <p>Members of our International Programs team from around the world
                                                    gather in the Kansas City office.</p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers_Gallery_Img-1_RV.original.jpg"
                                                alt="Water.org country directors and staff">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="general-slide">
                                        <div class="general-slide__text text-block">
                                            <h2>A collaborative work environment</h2>
                                            <div class="rich-text">
                                                <p>Open offices at our headquarters promote collaboration among
                                                    Water.org team members.</p>
                                            </div>
                                        </div>
                                        <div class="general-slide__image">
                                            <img src="https://water.org/media/images/Waterorg_Careers_Gallery_Img-1.original.jpg"
                                                alt="Water.org headquarters in Kansas City, Missouri">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="callout-halves staff-lists">
            <div class="content-container">
                <div class="callout-halves__half">
                    <h6 class="staff-list__title">U.S. Staff</h6>
                    <div class="block-staff">
                        <ul class="ruled-list">
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Allison Pinkowski</p>
                                <p class="staff-list__subhead">Lead Marketing Associate</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Andrea Stephens</p>
                                <p class="staff-list__subhead">Senior Business Analyst</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Annie Tolbert</p>
                                <p class="staff-list__subhead">Project Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">April Davies</p>
                                <p class="staff-list__subhead">Senior Manager, Planning &amp; Performance</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Ashley Brown Morris</p>
                                <p class="staff-list__subhead">Donor Relations Manager</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Ben Mandell</p>
                                <p class="staff-list__subhead">Utility Services Expert</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Berni Hollis</p>
                                <p class="staff-list__subhead">Impact Intelligence Software Architect</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Brandan Deason</p>
                                <p class="staff-list__subhead">Senior Graphic Designer</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Brooke Brown</p>
                                <p class="staff-list__subhead">Learning and Development Manager</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Cara Lawrence</p>
                                <p class="staff-list__subhead">Director of Human Resources</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Casey Pessetto</p>
                                <p class="staff-list__subhead">Finance Lead, Fundraising &amp; Revenue Management</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Claire Lyons</p>
                                <p class="staff-list__subhead">Senior Manager, Sector Engagement</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Danielle Martinez</p>
                                <p class="staff-list__subhead">Executive Assistant, Office of the CEO</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Darren Miao</p>
                                <p class="staff-list__subhead">Global Investors Advisor</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">David Strivings</p>
                                <p class="staff-list__subhead">Impact Analyst</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Emmanuel Dorestan</p>
                                <p class="staff-list__subhead">Financial Institutions Global Technical Expert</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Erin Prock</p>
                                <p class="staff-list__subhead">Senior Marketing Associate</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Fernando Alandia</p>
                                <p class="staff-list__subhead">Chief Financial Officer</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Gabrielle Puz</p>
                                <p class="staff-list__subhead">Senior Business Solutions Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Gary White</p>
                                <p class="staff-list__subhead">CEO &amp; Co-founder</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Gina Zanolli</p>
                                <p class="staff-list__subhead">Chief of Staff</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Heather Arney</p>
                                <p class="staff-list__subhead">Senior Manager, Insights &amp; Innovation</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Janet Tinsley</p>
                                <p class="staff-list__subhead">Director, Office of the President</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Jennifer Paprotna</p>
                                <p class="staff-list__subhead">Senior Strategic Development Officer</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Jennifer Rueckert</p>
                                <p class="staff-list__subhead">Staff Accountant</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Jennifer Schorsch</p>
                                <p class="staff-list__subhead">President</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Jessica Jacobson</p>
                                <p class="staff-list__subhead">Senior Manager, Financial Institutions</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Joanna Thomas</p>
                                <p class="staff-list__subhead">Sector Engagement Analyst</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Josh Gunkel</p>
                                <p class="staff-list__subhead">Director of Technology</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Kat Faulkner</p>
                                <p class="staff-list__subhead">Lead Marketing Associate</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Katie Klaus</p>
                                <p class="staff-list__subhead">Planning &amp; Performance Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Katrina Green</p>
                                <p class="staff-list__subhead">Senior Analyst, Insights</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Kelly Braunegg</p>
                                <p class="staff-list__subhead">Salesforce Administrator</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Koko Lawson</p>
                                <p class="staff-list__subhead">Senior Project Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Laura Ralston</p>
                                <p class="staff-list__subhead">Financial Institutions Training Expert</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Lesley Pories</p>
                                <p class="staff-list__subhead">Sector Strategy Manager</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Leslie Walsh</p>
                                <p class="staff-list__subhead">Senior Manager, Global HR Operations</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Lina Bonova</p>
                                <p class="staff-list__subhead">Chief Revenue Officer</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Lori Galloway</p>
                                <p class="staff-list__subhead">Executive Assistant, Office of the President</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Madeleine Dy</p>
                                <p class="staff-list__subhead">Senior Business Solutions Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Maggie Goble</p>
                                <p class="staff-list__subhead">Senior Analyst, Global Standards Monitoring</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Margarita Salasyuk</p>
                                <p class="staff-list__subhead">Advisory Solutions Expert</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Matt Austin</p>
                                <p class="staff-list__subhead">Blended Finance Partnerships Advisor</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Matt Morrison</p>
                                <p class="staff-list__subhead">Senior Manager, Global Investors</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Melanie Mendrys</p>
                                <p class="staff-list__subhead">Director of Brand and Marketing</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Michael Mayernik</p>
                                <p class="staff-list__subhead">Senior Strategic Development Officer</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Morée Lambeth</p>
                                <p class="staff-list__subhead">Senior Content Creator</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Nancy Eslinger</p>
                                <p class="staff-list__subhead">Controller</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Nicole Wickenhauser</p>
                                <p class="staff-list__subhead">Director of Strategic Alliances</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Pablo Anton Diaz</p>
                                <p class="staff-list__subhead">Senior Financial Sector Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Porsha Finney</p>
                                <p class="staff-list__subhead">Senior Recruiter</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Rachel Briggeman</p>
                                <p class="staff-list__subhead">Senior HR Business Partner</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Rachel Comment</p>
                                <p class="staff-list__subhead">Senior Business Continuity Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Rachel Overton</p>
                                <p class="staff-list__subhead">Global Operations Director</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Rajash Sarin</p>
                                <p class="staff-list__subhead">Senior Manager, Global Implementation Solutions</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Rich Thorsten</p>
                                <p class="staff-list__subhead">Chief Insights Officer</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Rosemary Gudelj</p>
                                <p class="staff-list__subhead">Senior Advisor, Public Affairs</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Sandra Walker</p>
                                <p class="staff-list__subhead">Senior Accountant, Grants</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Sidd Durgavanshi</p>
                                <p class="staff-list__subhead">Financial Institutions Global Technical Expert</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Sonal Gaurishanker</p>
                                <p class="staff-list__subhead">Senior Advisory Solutions Specialist</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Tara Rowe</p>
                                <p class="staff-list__subhead">Accounting Clerk</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Tascha Alvarez von Gustedt</p>
                                <p class="staff-list__subhead">Research Lead, Strategic Alliances</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Tracy Jackson</p>
                                <p class="staff-list__subhead">Website Analyst</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Vince Carney</p>
                                <p class="staff-list__subhead">Software Architect</p>
                            </li>
                            <li class="ruled-list__item">
                                <p class="staff-list__headline">Zehra Shabbir</p>
                                <p class="staff-list__subhead">Senior Analyst, Knowledge</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="callout-halves__half">
                    <div class="staff-list">
                        <h6 class="staff-list__title">Africa Staff</h6>
                        <div class="block-staff">
                            <ul class="ruled-list">
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Alice Maina</p>
                                    <p class="staff-list__subhead">Financial Auditor/Accountant, Kenya</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Anthony Githinji</p>
                                    <p class="staff-list__subhead">Country Director, Kenya</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Caleb Metoh</p>
                                    <p class="staff-list__subhead">Office Assistant, Kenya</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Francis Musinguzi</p>
                                    <p class="staff-list__subhead">Regional Director, Africa</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Mary Ngunjiri</p>
                                    <p class="staff-list__subhead">Senior Program Manager, Kenya</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="staff-list">
                        <h6 class="staff-list__title">Asia Staff</h6>
                        <div class="block-staff">
                            <ul class="ruled-list">
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Abhishek Anand</p>
                                    <p class="staff-list__subhead">Senior Manager, Government Partnerships</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Abu Aslam</p>
                                    <p class="staff-list__subhead">Senior Programs Manager, Bangladesh</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Aldi Surianingrat</p>
                                    <p class="staff-list__subhead">Senior Program Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Alethea Ofreneo</p>
                                    <p class="staff-list__subhead">Senior Program Manager, Philippines</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Angelito Baljon</p>
                                    <p class="staff-list__subhead">Accountant, Philippines</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Anitta Mankhin</p>
                                    <p class="staff-list__subhead">Monitoring, Evaluation, Learning Manager, Bangladesh
                                    </p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Ann Carl Bailey</p>
                                    <p class="staff-list__subhead">Programs Manager, Philippines</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Arumugam Gurusamy</p>
                                    <p class="staff-list__subhead">Senior Manager, Business Operations, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Astha Bohra</p>
                                    <p class="staff-list__subhead">Senior HR and Admin Specialist, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Avudai Nayakam</p>
                                    <p class="staff-list__subhead">Senior Program Manager, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Chhaya Rajora</p>
                                    <p class="staff-list__subhead">WASH Capacity Development Specialist, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">D Buvaneswari</p>
                                    <p class="staff-list__subhead">Senior Manager, Microlending Partnership, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Dick Pajarillo</p>
                                    <p class="staff-list__subhead">Senior Programs Manager, Philippines</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Diwakar Das</p>
                                    <p class="staff-list__subhead">Senior Monitoring, Evaluation, Learning Manager,
                                        India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Don Johnston</p>
                                    <p class="staff-list__subhead">Senior Operations Director, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Dwinita Wulandini</p>
                                    <p class="staff-list__subhead">Programs Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Edgar Morbos</p>
                                    <p class="staff-list__subhead">WaterConnect Programs Manager, Philippines</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Elvira Yoanita</p>
                                    <p class="staff-list__subhead">WaterCredit Program Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Gaurav Agarawal</p>
                                    <p class="staff-list__subhead">Senior Program Manager, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Hariri Kahar</p>
                                    <p class="staff-list__subhead">Program Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Hendra Budhi Mulia</p>
                                    <p class="staff-list__subhead">Accountant, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Indra Bhuwono</p>
                                    <p class="staff-list__subhead">Programs Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Jasmine Barnabas</p>
                                    <p class="staff-list__subhead">Administrative Specialist, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Jaya Saputra</p>
                                    <p class="staff-list__subhead">Program Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Josephine Mendoza</p>
                                    <p class="staff-list__subhead">WaterCredit Programs Manager, Philippines</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Karishma Gulati</p>
                                    <p class="staff-list__subhead">Capacity Development Group Specialist, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Karthikeyan Somaganthan</p>
                                    <p class="staff-list__subhead">Staff Accountant, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Kiki Tazkiyah</p>
                                    <p class="staff-list__subhead">WaterCredit Analyst, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Kurien Varghese</p>
                                    <p class="staff-list__subhead">Senior Program Manager, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Manoj Gulati</p>
                                    <p class="staff-list__subhead">Managing Director, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Md. Sazzadul Hoque</p>
                                    <p class="staff-list__subhead">Administrative Officer, Bangladesh</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Myrna Peñas</p>
                                    <p class="staff-list__subhead">Administrative and Logistics Clerk, Philippines</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Neha Yadav</p>
                                    <p class="staff-list__subhead">Senior Manager, Capacity Development, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">PM Jose</p>
                                    <p class="staff-list__subhead">Senior Program Manager, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Pravin Samuel</p>
                                    <p class="staff-list__subhead">Project Accountant, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Rachmad Hidayad</p>
                                    <p class="staff-list__subhead">Senior Programs Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Rajeswari Pandiyarajan</p>
                                    <p class="staff-list__subhead">Administrative Assistant, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Ratna Diektikana</p>
                                    <p class="staff-list__subhead">Administrative Assistant, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Reaj Uddin</p>
                                    <p class="staff-list__subhead">Finance and Admin Manager, Bangladesh</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Renata Fauzia</p>
                                    <p class="staff-list__subhead">Program Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Reny Yuniawati</p>
                                    <p class="staff-list__subhead">Office Administrator, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Sabiha Mahboob</p>
                                    <p class="staff-list__subhead">Monitoring Evaluation Learning Specialist, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Sajid Amit</p>
                                    <p class="staff-list__subhead">Executive Director, Bangladesh</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Samreen Noor</p>
                                    <p class="staff-list__subhead">Program Manager, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Seshana Aviananda</p>
                                    <p class="staff-list__subhead">Programs Manager, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Sneha Karunanidhi</p>
                                    <p class="staff-list__subhead">WASH Capacity Development Specialist, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Sofie Ariani</p>
                                    <p class="staff-list__subhead">WaterCredit Officer, Indonesia</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Somashree Chattapadhya</p>
                                    <p class="staff-list__subhead">Program Officer, Bangladesh</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Sudhir Arya</p>
                                    <p class="staff-list__subhead">Senior Manager Banking Partnerships, India</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Vedika Bhandarkar</p>
                                    <p class="staff-list__subhead">Chief Global Impact Officer</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Widiyatmoko</p>
                                    <p class="staff-list__subhead">Programs Manager, Indonesia</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="staff-list">
                        <h6 class="staff-list__title">South America Staff</h6>
                        <div class="block-staff">
                            <ul class="ruled-list">
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Marion Chuquiyure-Ramos</p>
                                    <p class="staff-list__subhead">Administrative Assistant, Peru</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Victor Hugo Urcia</p>
                                    <p class="staff-list__subhead">Country Director, Peru</p>
                                </li>
                                <li class="ruled-list__item">
                                    <p class="staff-list__headline">Yanina Rumiche</p>
                                    <p class="staff-list__subhead">Senior Program Manager, Peru</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Your donation brings hope and opportunity. That&#39;s the power of water.
            </p>
            <a href="https://water.org/donate/" title=""
                class="tertiary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>