<main class="wide-container">
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../../../index.html">Home</a></li>
                <li class="breadcrumbs__item"><a href="../../index.html">About Us</a></li>
                <li class="breadcrumbs__item"><a href="../index.html">Founders, Board &amp; Team</a></li>
                <li class="breadcrumbs__item active">Jennifer Schorsch</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section divided-content divided-content--sidebar-first divided-content--condensed">
        <div class="content-container">
            <div class="divided-content__sidebar">
                <img src="../../../media/images/Waterorg_Founders-Board-Team_Profile-Photo__Sch.original_xirFIoK.jpg"
                    alt="Jennifer Schorsch">
            </div>
            <div class="divided-content__main">
                <div class="article-body staff-bio">
                    <div class="article-body__text text-block">
                        <h1 class="article-body__title">Jennifer Schorsch <span
                                class="article-body__title-modifier">President</span></h1>
                        <div class="rich-text">
                            <p>Jennifer oversees organizational strategy and growth and works with a global team to
                                accelerate impact.</p>
                            <p>Under Jennifer’s leadership and through her drive to expand and scale Water.org’s smart,
                                financial solutions, Water.org has empowered more than 31 million people and helped
                                mobilize $2.5 billion in capital through small loans that bring access to safe water and
                                sanitation to millions in need.</p>
                            <p>Prior to joining Water.org in 2011, Jennifer helped build Starbucks from a 150-store
                                regional company to a global brand. She began her career in management consulting at
                                Bain &amp; Company.</p>
                            <p>Jennifer graduated summa cum laude from Dartmouth College and attained a Master of
                                Business Administration degree from Harvard Business School.</p>
                        </div>
                        <blockquote>“I am passionate about empowering women and girls with the tools needed to reach
                            their full potential. Access to safe water and sanitation are the foundational resources
                            needed to turn lives of poverty into lives of possibility.”</blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>