<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../media/images/Waterorg_Our-Impact_Header_ZqbwK5H.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Our Impact</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item active">Our Impact</li>
            </ol>
        </div>
    </div>
    <div class="block-text_with_items">
        <section class="stripe-section divided-content  divided-content--sidebar-first  ">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Changing lives around the world with safe water and sanitation</h3>
                            <p>Today more than 31 million people around the world can turn on a tap and safely use a
                                toilet because small, affordable loans empowered them to get access to safe water and
                                sanitation at home.</p>
                            <p>We celebrate the lives transformed and realize there is more to be done as we continue
                                our work in 13 countries around the world. In pursuit of our vision of safe water and
                                sanitation for all, we are scaling impact – exploring new markets and financial
                                solutions to help end the global water crisis.</p>
                            <p>We invite you to see how your support changes lives by learning more about the people we
                                empower, where we work, the solutions driving our impact, and the magnitude of the
                                global water crisis.</p>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <div class="block-stat">
                        <figure class="text-stat">
                            <span class="text-stat__number">31 M</span>
                            <span class="text-stat__text">31 million lives changed with safe water or sanitation</span>
                        </figure>
                    </div>
                    <div class="block-stat">
                        <figure class="text-stat">
                            <span class="text-stat__number">13</span>
                            <span class="text-stat__text">13 countries where we are changing lives</span>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Our-Impact_Img-1RV2.original.jpg"
                        alt="Waterorg_Our-Impact_Img-1.jpg">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Meet the people we empower</h3>
                            <p>More than 31 million people in Africa, Asia, and Latin America now have access to safe
                                water and sanitation at home, and greater resilience to COVID-19 and other diseases.</p>
                            <p>Read their stories to see how, together, we have transformed lives.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../our-impact/all-stories/" class="secondary-button">Read stories of impact <span
                            class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-world_map">
        <div class="stripe-section">
            <div class="content-container">
                <div class="interactive-map__static">
                    <img src="../media/images/Waterorg-Our-Impact_Map-Mobile.original.jpg"
                        alt="Waterorg_Our-Impact_Map-Mobile.jpg">
                </div>
                <div class="interactive-map">
                    <div class="interactive-map__header interactive-map__header--is-hidden">
                        <p class="interactive-map__header__subhead">Latin America</p>
                        <p class="interactive-map__header__headline">Peru</p>
                    </div>
                    <div class="interactive-map__content">
                        <div class="interactive-map__sidebar">
                            <div class="interactive-map__details" data-section="1">
                                <div class="interactive-map__detail-content" data-country="Bangladesh">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">2 million</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">16</span>
                                        <span class="stacked-stat__text">partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Brazil">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">47,000</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">13,000</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Cambodia">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">1.4 million</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">334,000</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Ethiopia">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">256,000</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">$2 million</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Ghana">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">156,000</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">$3.2 million</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="India">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">13.6 million</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">37</span>
                                        <span class="stacked-stat__text">partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Indonesia">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">2.3 million</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">470,000</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Kenya">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">3.9 million</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">941,000</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Mexico">
                                    <p>Program Stats Coming Soon</p>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Peru">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">2.7 million</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">739,000</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Philippines">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">4.2 million</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">980,000</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Tanzania">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">45,000</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">$1.7 million</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Uganda">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">267,000</span>
                                        <span class="stacked-stat__text">people reached</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">$12.5 million</span>
                                        <span class="stacked-stat__text">loans disbursed by our partners</span>
                                    </div>
                                </div>
                            </div>
                            <div class="interactive-map__details interactive-map__details--wide" data-section="2">
                                <div class="interactive-map__detail-content" data-country="Bangladesh">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Waterorg_Our-Impact_All-stories_Ba.2e16d0ba.fill-630x350.jpg"
                                        alt="Play in Bangladesh">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Kids are playing in Baktarpur</p>
                                        <p>In the slums of the Bangladeshi capital, Dhaka, playtime can be a rarity. But
                                            when Shefaly installed a water system for her family and neighbors, her
                                            courtyard filled with smiles and laughter.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/kids-are-playing-baktarpur/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Brazil">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Waterorg_Our-Impact_All-Stoires_Wa.2e16d0ba.fill-630x350.jpg"
                                        alt="Waterorg_Our-Impact_All-Stoires_WaterCrisisBrazil_Header.jpg">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">How the water crisis affects families in
                                            Brazil</p>
                                        <p>Like 25 million Brazilians, Maria lacked access to adequate sanitation in her
                                            home, where she lives and works and helps raise her granddaughter. Read
                                            about how a small loan gave this mother and grandmother the resource needed
                                            to keep her family healthy.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/how-water-crisis-affects-families-brazil/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Cambodia">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/35450355130_963e8c1c80_k_oacJ5MD.2e16d0ba.fill-630x350.jpg"
                                        alt="Sophon">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Giving babies a healthy start with water
                                        </p>
                                        <p>For Sophon, there was nothing beautiful about the water-related burdens she
                                            endured much of her life in rural Cambodia. She wanted to end those burdens
                                            for her son.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/giving-babies-healthy-start-water/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Ethiopia">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Zenebech3.250a220c.fill-630x350.jpg" alt="Zenebech">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Zenebech&#39;s story</p>
                                        <p>Zenebech lives in a rural village a few hours south of Addis Ababa in
                                            Ethiopia. Among the other mud and thatch homes, Zenebech raises her six
                                            children with her husband. Zenebech is telling others in her village about
                                            how a small loan changed their world and it can change theirs too. &quot;I
                                            don’t want them to suffer any longer. I want them to be healthy like my
                                            kids&quot;. Read more about why she wants safe water for her neighbors.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/zenebechs-story/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Ghana">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Our-Impact_All-Stoires_WaterGivesC.2e16d0ba.fill-630x350.jpg"
                                        alt="Celebrations">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Give water credit for celebrations</p>
                                        <p>Whether in India, Haiti, Ethiopia, or Ghana, access to safe water is a reason
                                            to sing, and dance, and jump, and cheer.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/give-water-credit-celebrations/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="India">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/32377891207_96aab772a6_k.2e16d0ba.fill-630x350.jpg"
                                        alt="32377891207_96aab772a6_k.jpg">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">It&#39;s time for school</p>
                                        <p>Water makes time for school possible for kids in Rasulpur and around the
                                            world. When kids have access to safe water at home they can walk to school
                                            instead of walk to collect water.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/its-time-school/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Indonesia">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Mumina1.8dab2fb5.fill-630x350.jpg" alt="Mumina at home">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Mumina&#39;s family still has access to
                                            safe water</p>
                                        <p>When she’s not sewing to support her family&#39;s income, Mumina gardens a
                                            small vegetable bed, launders clothing, and cares for her children. This
                                            life—time to sew, water for clean laundry and fresh food, Mumina’s
                                            happiness—it is made possible by access to safe water. Something Mumina has
                                            known for a few years now, but at one time, she thought was impossible.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/muminas-family-still-has-access-safe-water/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Kenya">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Waterorg_Our-Impact_All-Stoires_Jo.2e16d0ba.fill-630x350.jpg"
                                        alt="Grace and Josh">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">For her farm and family</p>
                                        <p>Grace is wise and driven. She is recognized by many in her community, and
                                            across Kenya, as an exemplary farmer and businesswoman. Grace credits her
                                            success to financing and the opportunities small, affordable loans make
                                            possible - like safe water for her farm and family.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/her-farm-and-family/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Mexico">
                                    <p>Impact Story Coming Soon</p>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Peru">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/40807721901_8d2d98084d_k.46ff5016.fill-630x350.jpg"
                                        alt="39912752905_ec07278e71_k.jpg">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Nelly&#39;s heart</p>
                                        <p>Water is a smart investment. The best investment the world can make to reduce
                                            disease, increase income, keep kids in school, and change lives. Nelly
                                            believed this to be true, and now she knows it for a fact. Thanks to
                                            Water.org’s smart solution known as WaterCredit, the hardworking, loving,
                                            single mom who wanted to give her family safe water and a better life was
                                            able to do it.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/nellys-heart/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Philippines">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Waterorg_Our-Impact_All-stories_El.2e16d0ba.fill-630x350.jpg"
                                        alt="Elma in the Philippines">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Elma</p>
                                        <p>Elma’s courage gave her the strength to choose smiles over tears, to choose
                                            love over pain, and to champion safe water for her family, even when the
                                            battle seemed impossible.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/elma/" class="interactive-map__card-cta">Read
                                        more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Tanzania">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/bakari-1.2e16d0ba.fill-630x350.jpg" alt="bakari-1.jpg">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Water for his family and his village</p>
                                        <p>Bakari is a young man who lives in rural Tanzania south of Dar es Salaam with
                                            his parents and siblings. Growing up in this region Bakari is all too
                                            familiar with the water crisis. Read more about how Bakari solve his
                                            family&#39;s water crisis and that of many in his village.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/water-his-family-and-his-village/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Uganda">
                                    <p class="interactive-map__detail__headline">Featured story</p>
                                    <img src="../media/images/Waterorg_Our-Impact_All-Stories_Na.2e16d0ba.fill-630x350.jpg"
                                        alt="Namulondo">
                                    <div class="interactive-map__detail__card">
                                        <p class="interactive-map__story-title">Health and hope are flowing</p>
                                        <p>Namulondo is a hardworking health assistant at a local hospital and a loving
                                            single mom who has dedicated her life to caring for her children. A small,
                                            affordable loan helped Namulondo pay for a rain storage tank, providing her
                                            family with enough water for several months.</p>
                                    </div>
                                    <a href="../our-impact/all-stories/health-and-hope-are-flowing/"
                                        class="interactive-map__card-cta">Read more</a>
                                </div>
                            </div>
                            <div class="interactive-map__details" data-section="3">
                                <div class="interactive-map__detail-content" data-country="Bangladesh">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">2 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">48 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Brazil">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">3 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">24 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Cambodia">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">3 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">5 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Ethiopia">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">33 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">89 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Ghana">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">3 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">9 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="India">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">88 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">910 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Indonesia">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">24 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">38 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Kenya">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">16 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">24 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Mexico">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">904,000</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">3 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Peru">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">2.5 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">5 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Philippines">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">5 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">9 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Tanzania">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">4 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">30 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                                <div class="interactive-map__detail-content" data-country="Uganda">
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">8 million</span>
                                        <span class="stacked-stat__text">People lack access to safe water</span>
                                    </div>
                                    <div class="stacked-stat">
                                        <span class="stacked-stat__number">27 million</span>
                                        <span class="stacked-stat__text">People lack access to improved
                                            sanitation</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="interactive-map__map">
                            <img src="../static/img/map-shape.b7ec0016653b.png">
                            <div class="interactive-map__markers">
                                <div class="interactive-map__marker interactive-map__marker--bangladesh"
                                    data-region="Asia" data-country="Bangladesh">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Bangladesh</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--brazil"
                                    data-region="Latin America" data-country="Brazil">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Brazil</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--cambodia"
                                    data-region="Asia" data-country="Cambodia">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Cambodia</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--ethiopia"
                                    data-region="Africa" data-country="Ethiopia">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Ethiopia</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--ghana" data-region="Africa"
                                    data-country="Ghana">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Ghana</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--india" data-region="Asia"
                                    data-country="India">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">India</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--indonesia"
                                    data-region="Asia" data-country="Indonesia">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Indonesia</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--kenya" data-region="Africa"
                                    data-country="Kenya">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Kenya</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--mexico"
                                    data-region="Latin America" data-country="Mexico">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Mexico</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--peru"
                                    data-region="Latin America" data-country="Peru">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Peru</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--philippines"
                                    data-region="Asia" data-country="Philippines">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Philippines</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--tanzania"
                                    data-region="Africa" data-country="Tanzania">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Tanzania</span>
                                </div>
                                <div class="interactive-map__marker interactive-map__marker--uganda"
                                    data-region="Africa" data-country="Uganda">
                                    <span class="interactive-map__marker-dot"></span>
                                    <span class="interactive-map__marker-name">Uganda</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="interactive-map__footer">
                        <a href="#" class="interactive-map__nav-link" data-section="1">Program Stats</a>
                        <a href="#" class="interactive-map__nav-link" data-section="2">Impact Stories</a>
                        <a href="#" class="interactive-map__nav-link" data-section="3">Crisis Facts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>We work in 13 countries on four continents</h3>
                            <p>In 13 countries on four continents around the world, we are turning your generosity into
                                opportunity.</p>
                            <p>Learn more about where we work and why.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../our-impact/where-we-work/" class="secondary-button">See where we work <span
                            class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Our-Impact_Img-2RV2.original.jpg"
                        alt="Waterorg_Our-Impact_Img-2.jpg">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-1.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Our-Impact_Img-4RV.original.jpg" alt="Our Impact - new">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Our solutions break down financial barriers and help people get safe water at home</h3>
                            <p>For millions around the world, access to funds stands between them and safe water and
                                sanitation in their home. Water.org offers a portfolio of smart solutions that break
                                down the financial barriers between people living in poverty and access to safe water
                                and sanitation.</p>
                            <p>Our solutions are working! More than half of our total impact — 15 million people — was
                                achieved in the past two years alone.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../solutions/" class="secondary-button">Learn about our smart solutions <span
                            class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>Accelerating impact in three ways</h3>
            </div>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_About-Us_Icon-4.original.png" class="multi-column-row__image"
                            style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Partnering directly with institutions that serve people living in poverty</h4>
                                <p>We partner with local financial institutions by providing technical assistance,
                                    connections and small grants, where needed, so they can provide small, affordable
                                    loans to people in need of water and sanitation at home. We also partner with water
                                    and sanitation providers to enhance their capacity to obtain financing and improve
                                    service delivery for their customers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_About-Us_Icon-3.original.png" class="multi-column-row__image"
                            style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Expanding partnerships to accelerate access</h4>
                                <p>We work with partners across sectors, including water and sanitation and financial
                                    services, and other international development organizations to expand access to
                                    affordable financing for water and sanitation. We provide technical assistance,
                                    share best practices, and collaborate with stakeholders so they can develop,
                                    implement and scale effective solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Partners-Overview_Icon-2.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Strengthening the environment for water and sanitation solutions at a systems level
                                </h4>
                                <p>We work with governments, sector institutions, and other partners at a systems-level
                                    to influence public policy and practice changes that increase the flow of capital
                                    for household water and sanitation solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section
            class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right  featured-callout--has-bubble ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>We serve people living in poverty</h3>
                            <p>Our solutions resonate with people living in poverty — specifically people who have
                                enough income potential to take out a water or sanitation loan, but who often cannot
                                access the funds at an affordable rate or pay for facilities and services upfront.</p>
                            <p>Millions of people who live in the countries where we work live on less than $3.20 a day
                                and spend significant portions of their income to buy water. These are the people we
                                work every day to empower.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Our-Impact_Img-3RV3.original.jpg"
                        alt="Waterorg_Our-Impact_Img-3.jpg">
                    <figure class="bubble-stat">
                        <div class="bubble-stat__content">
                            <span class="bubble-stat__number">$3.20</span>
                            <figcaption class="bubble-stat__text">We empower people living on less than $3.20 a day
                            </figcaption>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-1.original.png);"></div>
        </section>
    </div>
    <div class="block-stats_line">
        <section class="stripe-section stripe-stats">
            <div class="content-container">
                <figure class="text-stat">
                    <span class="text-stat__number">785 M</span>
                    <span class="text-stat__text">785 million people lack access to safe water</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">2 B</span>
                    <span class="text-stat__text">2 billion people lack access to improved sanitation</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">1 M</span>
                    <span class="text-stat__text">1 million people die each year from water-related diseases</span>
                </figure>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Our-Impact_Img-5.original.jpg"
                        alt="Waterorg_Our-Impact_Img-5.jpg">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>The global water crisis affects billions of people</h3>
                            <p>Today, 1 in 9 people lack access to safe water and 1 in 3 people lack access to a toilet.
                                We give our everything every day to change this because we believe in the <a
                                    href="../about-us/why-water/">power of water</a>. Access to safe water and
                                sanitation can quickly turn problems into potential – empowering people with time for
                                school and work, and contributing to improved health for women, children, and families
                                around the world.</p>
                            <p>We will achieve <a href="../about-us/our-vision/">our vision</a> of safe water and
                                sanitation for all by continuing to unlock more funding than what is currently dedicated
                                to help solve the global water crisis — removing the financial barriers that stand
                                between people in need and access to safe water and sanitation at home.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../our-impact/water-crisis/" class="secondary-button">Learn about the global water crisis
                        <span class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">$25 helps one family get access to safe water.</p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>