<main class="wide-container">
    <section class="page-header" style="background-image: url(//media/images/Waterorg_Financials_Header.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Financials</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="///">Home</a></li>
                <li class="breadcrumbs__item"><a href="//">About Us</a></li>
                <li class="breadcrumbs__item active">Financials</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section columned-content wow fadeIn">
        <div class="content-container">
            <div class="columned-content__main">
                <div class="rich-text">
                    <h3>Making a global impact</h3>
                    <p></p>
                </div>
                <div class="stat-columns">
                    <div class="stat-columns__column">
                        <figure class="text-stat">
                            <span class="text-stat__number">8 M</span>
                            <span class="text-stat__text">8 million people empowered with safe water and sanitation in
                                2019 alone</span>
                        </figure>
                    </div>
                    <div class="stat-columns__column">
                        <figure class="text-stat">
                            <span class="text-stat__number">31 M</span>
                            <span class="text-stat__text">31 million people reached to date</span>
                        </figure>
                    </div>
                </div>
                <div class="rich-text">
                    <p>Our impact is measured in millions – millions of dollars, people and opportunities. With your
                        support, and that of our many in-country partners, our smart solution to solving the water
                        crisis is changing lives around the world. $2.5 billion in loans for water and sanitation have
                        been disbursed to families in need across 13 countries.</p>
                    <p>Together, we can continue to break down barriers and help millions more break the cycle of
                        poverty through access to safe water and sanitation.</p>
                    <p></p>
                </div>
                <div>
                    <a href="2019-annual-report//" class="secondary-button">
                        See the impact we made together in 2019 <span class="icon-cta-arrow">
                    </a>
                </div>
                <div class="rich-text">
                    <h3></h3>
                    <h3></h3>
                    <h3>Recognized and awarded for financial transparency</h3>
                </div>
                <div class="stat-columns">
                    <div class="stat-columns__column">
                        <figure class="text-stat">
                            <span class="text-stat__number">81%</span>
                            <span class="text-stat__text">of funds directly support our programs</span>
                        </figure>
                    </div>
                    <div class="stat-columns__column">
                        <figure class="text-stat">
                            <span class="text-stat__number">100%</span>
                            <span class="text-stat__text">accountability and transparency rating from Charity
                                Navigator</span>
                        </figure>
                    </div>
                </div>
                <div class="rich-text">
                    <p>Safe water is transparent, and so are we. We believe in, and practice, transparency, ethical
                        accounting, and donor stewardship. We&#x27;re received the highest rating from <a
                            href="https://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=8875">Charity
                            Navigator</a> for 10 consecutive years and are recognized as an accredited charity with the
                        <a
                            href="https://www.give.org/charity-reviews/national/Human-Services/Cleanwater.org-in-Kansas-City-mo-3948">Better
                            Business Bureau&#x27;s Wise Giving Alliance</a>.
                    </p>
                    <p>We invite you to read through our annual reports and financial statements to get a full
                        understanding of the reach and results that your support helps make possible.</p>
                </div>
                <div class="link-columns">
                    <div class="link-columns__column">
                        <h5 class="link-columns__title">Annual Reports</h5>
                        <ul class="link-columns__links">
                            <li class="link-columns__link-item">
                                <a href="//documents/171/Cleanwater.org_2019_annual_report.pdf" target="_blank">2019</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="//documents/139/Cleanwater.org_2018_Annual_Report.pdf" target="_blank">2018</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="//documents/91/2017_Cleanwater.org_Annual_Report_ixBKWqX.pdf"
                                    target="_blank">2017</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="//documents/44/2016_Annual_Report.pdf" target="_blank">2016</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="//documents/20/2015_Annual_Report.pdf" target="_blank">2015</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="//documents/9/2014_Annual_Report.pdf" target="_blank">2014</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="//documents/11/2013_Annual_Report.pdf" target="_blank">2013</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/12/2012_Annual_Report.pdf" target="_blank">2012</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/13/2011_Annual_Report.pdf" target="_blank">2011</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/14/2010_Annual_Report.pdf" target="_blank">2010</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/15/2009_Annual_Report.pdf" target="_blank">2009</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/16/2008_Annual_Report.pdf" target="_blank">2008</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-columns__column">
                        <h5 class="link-columns__title">Audited Financials</h5>
                        <ul class="link-columns__links">
                            <li class="link-columns__link-item">
                                <a href="/documents/169/FY19_Cleanwater.org_Consolidated_Financial_Report.pdf"
                                    target="_blank">2019</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/140/Cleanwater.org_2018_Consolidated_Financial_Report_Final.pdf"
                                    target="_blank">2018</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/89/Final_Public_Inspection_Copy_FY17_Consolidated_Financial_Report_with_Cover_doc.pdf"
                                    target="_blank">2017</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/21/2016_Audit.pdf" target="_blank">2016</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/22/2015_Audit.pdf" target="_blank">2015</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/23/2014_Audit.pdf" target="_blank">2014</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/24/2013_Audit.pdf" target="_blank">2013</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/25/2012_Audit.pdf" target="_blank">2012</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/26/2011_Audit.pdf" target="_blank">2011</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/27/2010_Audit.pdf" target="_blank">2010</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/28/2009_Audit.pdf" target="_blank">2009</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/29/2008_Audit.pdf" target="_blank">2008</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-columns__column">
                        <h5 class="link-columns__title">Tax Returns (Form 990)</h5>
                        <ul class="link-columns__links">
                            <li class="link-columns__link-item">
                                <a href="/documents/170/FY19_Cleanwater.org_Tax_Return.pdf" target="_blank">2019</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/141/2018_Tax_Return.pdf" target="_blank">2018</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/90/Final_Public_Inspection_Copy_2016_Return.pdf"
                                    target="_blank">2017</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/32/2016_Tax_Return.pdf" target="_blank">2016</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/33/2015_Tax_Return.pdf" target="_blank">2015</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/34/2014_Tax_Return.pdf" target="_blank">2014</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/35/2013_Tax_Return.pdf" target="_blank">2013</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/36/2012_Tax_Return.pdf" target="_blank">2012</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/39/2011_Tax_Return_aqdHaI3.pdf" target="_blank">2011</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/38/2010_Tax_Return.pdf" target="_blank">2010</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/40/2009_Tax_Return.pdf" target="_blank">2009</a>
                            </li>
                            <li class="link-columns__link-item">
                                <a href="/documents/41/2008_Tax_Return.pdf" target="_blank">2008</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="stripe-section">
                    <div class="text-block">
                        <p>Cleanwater.org is a registered 501(c)(3) non-profit organization. Our fiscal year runs
                            October through September and we post our audited financials and annual report as early as
                            March each year.</p>
                    </div>
                </div>
                <div class="stripe-section">
                    <div class="block-rich_text">
                        <div class="rich-text">
                            <h4>Accelerating innovation</h4>
                            <p>From the beginning, we have been innovators, connecting big ideas and resources to
                                maximize impact. The New Ventures Fund served as our principal source of funding to
                                research, develop and explore new approaches to solving the water crisis.</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="block-cta_link">
                        <div>
                            <a href="/about-us/financials/new-ventures/" class="secondary-button">
                                See the impact of the New Ventures Fund <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="columned-content__sidebar">
                <div class="sidebar-section sidebar-featured-links">
                    <article class="sidebar-featured-links__link-item">
                        <div class="text-block--condensed">
                            <img src="/media/images/Waterorg_Financials_2019-AnnualReport_Cover.original.jpg"
                                alt="Waterorg_Financials_2019-AnnualReport_Cover.jpg">
                            <h5>Annual Report</h5>
                            <a href="/documents/171/Cleanwater.org_2019_annual_report.pdf" class="secondary-button"
                                target="_blank">Download <span class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <article class="sidebar-featured-links__link-item">
                        <div class="stacked-stat">
                            <span class="stacked-stat__number">95.75</span>
                            <span class="stacked-stat__text">Charity Navigator overall score</span>
                            <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=8875"
                                class="secondary-button" target="_blank">Learn More <span
                                    class="icon-cta-arrow"></span></a>
                        </div>
                    </article>
                    <div class="block-logo">
                        <article class="sidebar-featured-links__link-item">
                            <div class="text-block--condensed">
                                <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=8875"
                                    target="_blank">
                                    <img src="/media/images/Logo-1RV3.original.original.jpg"
                                        alt="Logo-Charity Navigator">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="block-logo">
                        <article class="sidebar-featured-links__link-item">
                            <div class="text-block--condensed">
                                <a href="https://www.guidestar.org/Profile/7909852" target="_blank">
                                    <img src="/media/images/2020_Platinum_Seal_-_crop_7tuyuKy.original.png"
                                        alt="Logo-GuideStar2020">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="block-logo">
                        <article class="sidebar-featured-links__link-item">
                            <div class="text-block--condensed">
                                <a href="https://www.charitywatch.org/charities/waterorg" target="_blank">
                                    <img src="/media/images/Logo-4RV3.original.original.jpg" alt="Logo-Charity Watch">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="block-logo">
                        <article class="sidebar-featured-links__link-item">
                            <div class="text-block--condensed">
                                <a href="https://www.best-charities.org/find/charitypage.php?id=11&amp;ein=58-2060131"
                                    target="_blank">
                                    <img src="/media/images/Logo-5RV3.original.original.jpg"
                                        alt="Logo-America&#39;s Best Charities">
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Your donation brings hope and opportunity. That&#39;s the power of water.
            </p>
            <a href="/donate/" title="" class="tertiary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>