<main class="wide-container">
    <section class="page-header"
        style="background-image: url(/media/images/Waterorg_About-Us_Overview_Header_Vxb7LBi.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">About Us</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item active">About Us</li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_About-Us_Overview_Img-1.original.jpg" alt="About Us">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>We believe in water</h3>
                            <p>Water.org is a global nonprofit organization working to bring water and sanitation to the
                                world. We want to make it safe, accessible, and cost-effective.</p>
                            <p>We help people get access to safe water and sanitation through affordable financing, such
                                as small loans. We give our everything every day to empower people in need with these
                                life-changing resources – giving women hope, children health and families a bright
                                future.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <figure class="text-stat">
                        <span class="text-stat__number">31 M</span>
                        <figcaption class="text-stat__text">31 million lives changed with safe water or sanitation
                        </figcaption>
                    </figure>
                    <a href="ways-donate/" class="secondary-button">Give water today <span class="icon-cta-arrow"></a>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-two_column_text">
        <section class="stripe-section columned-callouts stripe-section--has-pattern">
            <div class="content-container">
                <div class="columned-callouts__columns">
                    <div class="columned-callouts__column">
                        <div class="text-block text-block">
                            <div class="block-richtext">
                                <div class="rich-text">
                                    <h3>Access to water turns poverty into possibility</h3>
                                    <p>Today 785 million people — 1 in 9 — lack access to safe water at home. And 2
                                        billion — 1 in 3 people — don&#x27;t have access to a toilet. The <a
                                            href="/our-impact/water-crisis//">water crisis</a> negatively
                                        impacts the health and livelihood of more than one-third of our global
                                        population. We exist to change this.</p>
                                    <p>For millions of women, children, and communities, access to safe water can turn
                                        problems into potential — unlocking education, economic opportunity and improved
                                        health.</p>
                                </div>
                            </div>
                            <div class="block-cta_link">
                                <div>
                                    <a href="why-water//" class="secondary-button">
                                        How access to water changes everything <span class="icon-cta-arrow">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columned-callouts__column">
                        <div class="text-block text-block">
                            <div class="block-richtext">
                                <div class="rich-text">
                                    <p></p>
                                    <div style="padding-bottom: 56.25%;" class="responsive-object">
                                        <iframe width="480" height="270"
                                            src="https://www.youtube.com/embed/VxU9gSQdW1I?feature=oembed"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_About-Us_Overview_Img-2.original.jpg"
                        alt="Waterorg_About-Us_Overview_Img-2RV.jpg">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Founded on passion and experience</h3>
                            <p>For more than 25 years, we&#x27;ve made it our mission to bring water and sanitation to
                                the world. Founded by <a href="founders-board-team/gary-white//">Gary White</a>
                                and <a href="founders-board-team/matt-damon//">Matt Damon</a>, we pioneer
                                market-driven financial solutions to the global water crisis.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="founders-board-team//" class="secondary-button">Meet our team <span
                            class="icon-cta-arrow"></a>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Our approach is proven and powerful</h3>
                            <p>Expanding upon the success of <a href="/solutions/watercredit//">WaterCredit</a>,
                                Water.org offers a
                                portfolio of smart solutions that break down the financial barriers between people
                                living in poverty and access to safe water and sanitation. We work with and through
                                partners to increase access to financing for those who need it most. This will help
                                achieve safe water and sanitation for all.</p>
                            <p>As we face the COVID-19 pandemic, now more than ever access to safe water is critical to
                                the health of families around the world. We play an important role in helping to meet
                                this urgent need.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="/solutions//" class="secondary-button">Our smart solutions <span
                            class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="/media/images/Waterorg_About-Us_Overview_Img-3RV.original.jpg" alt="About Us">
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_About-Us_Map.original.jpg" alt="Waterorg_About-Us_Map.jpg">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Scaling impact around the world</h3>
                            <p>We’ve empowered more than 31 million people in 17 countries with access to safe water,
                                sanitation, and the hope, health and opportunities they bring. And we are expanding our
                                work and reaching more people in need, faster.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="/our-impact//" class="secondary-button">Our global impact <span class="icon-cta-arrow"></a>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-timeline">
        <section class="stripe-section">
            <div class="content-container">
                <div class="general-slider flexslider general-slider--timeline">
                    <ul class="slides">
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__bubble">
                                    <div class="general-slide__bubble-content">
                                        1990
                                    </div>
                                </div>
                                <div class="general-slide__text text-block">
                                    <h3>A humble beginning</h3>
                                    <div class="rich-text">
                                        <p>Gary creates WaterPartners International, a forerunner to Water.org, to help
                                            Latin American communities impacted by the water crisis.</p><img
                                            alt="Waterorg_WaterPartners_Logo.jpg" class="richtext-image full-width"
                                            height="228" src="/media/images/Waterorg_WaterPartners_Logo.width-800.jpg"
                                            width="800">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Timeline_Img-1.original.jpg"
                                        alt="Woman carries a water vessel in Honduras">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__bubble">
                                    <div class="general-slide__bubble-content">
                                        2003
                                    </div>
                                </div>
                                <div class="general-slide__text text-block">
                                    <h3>A new solution</h3>
                                    <div class="rich-text">
                                        <p>The <a href="/solutions/watercredit//">WaterCredit
                                                Initiative®</a> is created, making loans for water and sanitation more
                                            accessible to families living in developing countries around the world.</p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Timeline_Img-2.original.jpg"
                                        alt="Water.org Co-founder Gary White in India">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__bubble">
                                    <div class="general-slide__bubble-content">
                                        2009
                                    </div>
                                </div>
                                <div class="general-slide__text text-block">
                                    <h3>Water.org is born</h3>
                                    <div class="rich-text">
                                        <p>After meeting at an international summit on global poverty, <a
                                                href="founders-board-team/gary-white//">Gary</a> and <a
                                                href="founders-board-team/matt-damon//">Matt</a> discovered
                                            their approaches and strengths complemented each other - and Water.org was
                                            born.</p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Timeline_Img-3.original.jpg"
                                        alt="Water.org Co-founders Matt Damon and Gary White in India">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="general-slide">
                                <div class="general-slide__bubble">
                                    <div class="general-slide__bubble-content">
                                        2020
                                    </div>
                                </div>
                                <div class="general-slide__text text-block">
                                    <h3>Scaling our impact</h3>
                                    <div class="rich-text">
                                        <p>Our smart solutions are working and scaling at an unprecedented rate.
                                            We&#x27;ve now reached more than 31 million people, more than 8 million in
                                            the past year alone.</p>
                                    </div>
                                </div>
                                <div class="general-slide__image">
                                    <img src="/media/images/Waterorg_Timeline_Img-4.original.jpg"
                                        alt="Woman holds a water vessel in India">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_About-Us_Icon-10.original.png" class="multi-column-row__image"
                            style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Committed to financial transparency</h4>
                                <p>As experts in finance, we are dedicated to doing the most good with your donations.
                                    We have a <a
                                        href="https://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=8875">4-star
                                        Charity Navigator rating</a> and publish an <a
                                        href="financials/2019-annual-report//">annual report</a> that details
                                    how and where your donations are making a difference.</p>
                            </div>
                        </div>
                        <a href="financials//" class="secondary-button multi-column-row__cta">Our financials
                            <span class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_About-Us_Icon-5_85ujm6I.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Share our vision</h4>
                                <p>We envision a day when everyone, everywhere has access to safe water and sanitation.
                                    We seek to do more, faster, and in partnership with others to unlock the flow of
                                    financing for water and sanitation.</p>
                            </div>
                        </div>
                        <a href="our-vision//" class="secondary-button multi-column-row__cta">Our vision <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="/media/images/Waterorg_About-Us_Icon-6.original.png" class="multi-column-row__image"
                            style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>News, press and perspectives</h4>
                                <p>As leaders in the water and sanitation sector, Water.org works around the world to
                                    educate, influence, and empower. Go here for timely information on topics related to
                                    our work.</p>
                            </div>
                        </div>
                        <a href="news-press//" class="secondary-button multi-column-row__cta">Articles and more
                            <span class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="bottom-image">
        <img src="/media/images/Waterorg_About-Us_Footer.original.jpg" alt="Boy walks street in Kirigu, Kenya">
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Give the gift of safe water today.</p>
            <a href="/donate/" title="" class="tertiary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>