<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../../media/images/Waterorg_About-Us_Why-Water_Header-1.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Why Water?</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../../index.html">Home</a></li>
                <li class="breadcrumbs__item"><a href="../index.html">About Us</a></li>
                <li class="breadcrumbs__item active">Why Water?</li>
            </ol>
        </div>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%;" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/rAqxp5IqZmE?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>Water connects every aspect of life</h3>
                            <p>Access to safe water can protect and save lives, just because it&#x27;s there. Access to
                                safe water has the power to turn time spent into time saved, when it&#x27;s close and
                                not hours away.</p>
                            <p>For millions of women, children, and communities, access to safe water can turn problems
                                into potential — unlocking education, economic opportunity and improved health.</p>
                        </div>
                        <div>
                            <a href="../../our-impact/water-crisis/index.html" class="secondary-button">
                                The global water crisis <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="stripe-section__pattern"
                    style="background-image:url(../../media/images/pattern-large-2.original.png);"></div>
            </div>
        </section>
    </div>
    <div class="block-stats_line">
        <section class="stripe-section stripe-stats">
            <div class="content-container">
                <figure class="text-stat">
                    <span class="text-stat__number">785 M</span>
                    <span class="text-stat__text">785 million people living without access to safe water</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">2 B</span>
                    <span class="text-stat__text">2 billion people living without improved sanitation</span>
                </figure>
            </div>
        </section>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--4">
                    <div class="multi-column-row__col">
                        <img src="../../media/images/Waterorg_About-Us_Why-Water_Img-2RV2.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Women’s empowerment</h4>
                                <p>Empowering women is critical to solving the water crisis. When women have access to
                                    safe water at home, they can pursue more beyond water collection.</p>
                            </div>
                        </div>
                        <a href="../../our-impact/water-crisis/womens-crisis/index.html"
                            class="secondary-button multi-column-row__cta">How access to safe water affects women <span
                                class="icon-cta-arrow"></span></a>

                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../media/images/Waterorg_About-Us_Why-Water_Img-3RV.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Health</h4>
                                <p>Access to safe water and sanitation contributes to improved health and helps prevent
                                    the spread of infectious disease. It means reduced child and maternal mortality
                                    rates. It means reduced physical injury from constant lifting and carrying heavy
                                    loads of water.</p>
                            </div>
                        </div>
                        <a href="../../our-impact/water-crisis/health-crisis/index.html"
                            class="secondary-button multi-column-row__cta">How access to water can improve health <span
                                class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../media/images/Waterorg_About-Us_Why-Water_Img-4.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Education</h4>
                                <p>Reductions in time spent collecting water have been found to increase school
                                    attendance, especially for girls. Access to safe water gives children time for
                                    school and the opportunity for a bright future.</p>
                            </div>
                        </div>
                        <a href="../../our-impact/water-crisis/childrens-and-education-crisis/index.html"
                            class="secondary-button multi-column-row__cta">How access to water affects children and
                            their education <span class="icon-cta-arrow"></span></a>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../media/images/Waterorg_About-Us_Why-Water_Img-5.original.jpg"
                            class="multi-column-row__image">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Economic potential</h4>
                                <p>Access to safe water and sanitation at home turns time spent into time saved — giving
                                    families more time to pursue education and work opportunities that will help them
                                    break the cycle of poverty.</p>
                            </div>
                        </div>
                        <a href="../../our-impact/water-crisis/economic-crisis/index.html"
                            class="secondary-button multi-column-row__cta">How access to water increases economic
                            potential <span class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Water is a smart investment</h3>
                            <p>Water is the best investment the world can make to reduce disease, increase family
                                income, keep girls in school, and change lives.</p>
                            <p>A donation to Water.org is a smart investment too. Our solution provides families with a
                                sustainable water or sanitation solution for their home, rather than a temporary fix —
                                giving hope, health, and opportunity to those who need it most.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../our-work/watercredit/index.html" class="secondary-button">How we change lives through
                        WaterCredit <span class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../../media/images/Waterorg_About-Us_Why-Water_Img-6.original.jpg" alt="Why Water?">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../../media/images/Waterorg_About-Us_Why-Water_Img-7_Gg8Cwgt.original.jpg"
                        alt="Why Water?">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-blockquote">
                        <blockquote>We&#39;ve empowered more than 31 million people with safe water or sanitation and
                            together we can empower millions more.</blockquote>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Invest in one of the world’s most powerful resources today.</p>
            <a href="../../donate/index.html" title=""
                class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>