<main class="wide-container">
    <section class="page-header"
        style="background-image: url(///media/images/Waterorg_Our-Impact_Water-Crisis_Economic.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">An Economic Crisis</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="///index.html">Home</a></li>
                <li class="breadcrumbs__item"><a href="//index.html">Our Impact</a></li>
                <li class="breadcrumbs__item"><a href="/index.html">The Water Crisis</a></li>
                <li class="breadcrumbs__item active">An economic crisis</li>
            </ol>
        </div>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.49999999999999%;" class="responsive-object">
                            <iframe width="200" height="113"
                                src="https://www.youtube.com/embed/46MvN8KaGx4?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>How does the water crisis affect the economy? </h3>
                            <p>Time spent collecting water or seeking a safe place to go accounts for billions of
                                dollars in lost economic opportunities. There are 785 million people in the world who
                                lack access to safe water, and of them, women are generally tasked with water
                                collection. They spend hours, multiple times per day, waiting in long lines at community
                                water kiosks or walking to distant sources like rivers and ponds to find it. This is
                                time spent, and income not earned. An estimated $260 billion is lost globally each year
                                due to lack of basic water and sanitation.</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Access to safe water and sanitation increases economic return</h3>
                            <p>Improving household water and sanitation access impacts household finances and ultimately
                                the economy at a macro level. For instance, access to safe water and a toilet at home
                                can reduce a family’s health care expenses. Universal access to basic water and
                                sanitation would result in $18.5 billion in economic benefits each year from avoided
                                deaths alone. Every $1 invested in water and sanitation provides a $4 economic return
                                from lower health costs, more productivity and fewer premature deaths. </p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="///media/images/Waterorg__Our-Impact_Water-Crisis_Economics_Img.original.jpg"
                        alt="Economics">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-block_quote">
        <blockquote>&quot;People living in poverty are often the hardest hit by water scarcity and these are the people
            Water.org helps.&quot; Matt Damon, Co-founder</blockquote>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg-Leneriza.original.jpg" alt="Leneriza Infographic">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Empowering families through small, affordable loans </h3>
                            <p>Safe water at home empowers women and their families to explore their income-generating
                                potential. Instead of walking to find water, they have time to earn money by doing
                                things like sewing, farming, and teaching. It is with income from these activities they
                                can break the cycle of poverty.</p>
                            <p>Leneriza lives in the Philippines. Until recently, she didn&#x27;t have access to safe
                                water at home. She purchased water from a vendor for about $60 a month. This amount was
                                more than 20% of her monthly income. A small, affordable loan changed Leneriza&#x27;s
                                life. With the loan she connected her home to the local water utility. Now Leneriza pays
                                a utility bill of about $4.50 a month. <br /></p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="/our-impact/all-stories/cost-lenerizas-water-then-and-now/" class="secondary-button">See
                        how a small, affordable loan changed Leneriza&#39;s finances and her life <span
                            class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-references">
        <section class="stripe-section references">
            <div class="content-container">
                <div class="references-text">
                    <h2>References</h2>
                    <ul>
                        <li>
                            World Health Organization and UNICEF. (2016).
                            <a href="http://www.prographic.com/wp-content/uploads/2016/11/UNICEF-SafelyMngDrinkWater-2016-11-18-web.pdf"
                                target="_blank">Safely managed drinking water</a>
                        </li>
                        <li>
                            World Health Organization and UNICEF Joint Monitoring Programme (JMP). (2017).
                            <a href="http://www.who.int/water_sanitation_health/publications/jmp-2017/en/"
                                target="_blank">Progress on Drinking Water and Sanitation, 2017 Update and MDG
                                Assessment.</a>
                        </li>
                        <li>
                            World Health Organization. Hutton. (2012).
                            <a href="http://www.who.int/water_sanitation_health/publications/2012/globalcosts.pdf"
                                target="_blank">Global Costs and Benefits of Drinking Water Supply and Sanitation
                                Interventions.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Empower families around the world to break the cycle of poverty and look
                forward to bright futures.</p>
            <a href="/donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>