<main class="wide-container">
  <section class="page-header" style="
          background-image: url(/media/images/Waterorg_Water-Crisis_Header.original.jpg);
        ">
    <div class="content-container">
      <div class="page-header__content">
        <h1 class="page-header__headline">The Water Crisis</h1>
      </div>
    </div>
  </section>
  <div class="breadcrumbs-stripe">
    <div class="content-container">
      <ol class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/">Home</a></li>
        <li class="breadcrumbs__item">
          <a href="/our-impact/">Our Impact</a>
        </li>
        <li class="breadcrumbs__item active">The Water Crisis</li>
      </ol>
    </div>
  </div>
  <div class="block-video">
    <section
      class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
      <div class="content-container">
        <div class="featured-callout__image-container featured-callout__image-container--left">
          <div class="embed-container">
            <div style="padding-bottom: 56.25%" class="responsive-object">
              <iframe width="480" height="270" src="https://www.youtube.com/embed/LSqan1xmMpY?feature=oembed"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="featured-callout__text-block">
          <div class="text-block">
            <div class="rich-text">
              <h3>The power of water</h3>
              <p>
                Water connects every aspect of life. Access to safe water
                and sanitation can quickly turn problems into potential
                – empowering people with time for school and work, and
                contributing to improved health for women, children, and
                families around the world. 
              </p>
              <p>
                Today, 785 million people – 1 in 9 – lack access to safe
                water and 2 billion people – 1 in 3 – lack access to a
                toilet. These are the people we empower.
              </p>
              <p>
                <a href="/our-impact/water-crisis/global-water-crisis/"><b>Learn more about the global water crisis
                    &gt;</b></a>
              </p>
              <p>
                <a href="/our-impact/water-crisis/global-sanitation-crisis/"><b>Learn more about the global sanitation
                    crisis &gt;</b></a>
              </p>
            </div>
            <div></div>
          </div>
        </div>
        <div class="stripe-section__pattern" style="
                background-image: url(/media/images/pattern-large-2.original.png);
              "></div>
      </div>
    </section>
  </div>
  <div class="block-stats_line">
    <section class="stripe-section stripe-stats">
      <div class="content-container">
        <figure class="text-stat">
          <span class="text-stat__number">785 M</span>
          <span class="text-stat__text">785 million people lack access to safe water</span>
        </figure>
        <figure class="text-stat">
          <span class="text-stat__number">2 B</span>
          <span class="text-stat__text">2 billion people lack access to improved sanitation</span>
        </figure>
      </div>
    </section>
  </div>
  <div class="block-featured_callout">
    <section
      class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right featured-callout--has-bubble">
      <div class="content-container">
        <div class="featured-callout__text-block text-block">
          <div class="block-richtext">
            <div class="rich-text">
              <h3>A women&#x27;s crisis</h3>
              <p>
                Women are disproportionately affected by the water crisis,
                as they are often responsible for collecting water. This
                takes time away from work, school and caring for family. The
                lack of water and sanitation locks women in a cycle of
                poverty. 
              </p>
              <p>
                Empowering women is critical to solving the water crisis.
                When women have access to safe water at home, they can
                pursue more beyond water collection and their traditional
                roles. They have time to work and add to their household
                income. 
              </p>
              <p>
                <a href="/our-impact/water-crisis/womens-crisis/"><b>Learn how the water crisis affects women
                    &gt;</b></a>
              </p>
            </div>
          </div>
          <div></div>
          <figure class="text-stat">
            <span class="text-stat__number">266 M</span>
            <figcaption class="text-stat__text">
              Women and girls spend 266 million hours every day finding a
              place to go
            </figcaption>
          </figure>
        </div>
        <div class="featured-callout__image-container featured-callout__image-container--right">
          <img src="/media/images/Waterorg_Water-Crisis_Img-1.original.jpg"
            alt="A woman carries a water vessel in Hyderabad, India" />
          <figure class="bubble-stat">
            <div class="bubble-stat__content">
              <span class="bubble-stat__number">200 M</span>
              <figcaption class="bubble-stat__text">
                Women and girls spend 200 million hours every day collecting
                water
              </figcaption>
            </div>
          </figure>
        </div>
      </div>
    </section>
  </div>
  <div class="block-featured_callout">
    <section
      class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left featured-callout--has-bubble">
      <div class="content-container">
        <div class="featured-callout__image-container featured-callout__image-container--left">
          <img src="/media/images/Waterorg_Our-Impact_WaterCrisis_Img-4.original.jpg" alt="Water Crisis" />
          <figure class="bubble-stat">
            <div class="bubble-stat__content">
              <span class="bubble-stat__number">1 M</span>
              <figcaption class="bubble-stat__text">
                1 million people die each year from water, sanitation and
                hygiene-related diseases
              </figcaption>
            </div>
          </figure>
        </div>
        <div class="featured-callout__text-block text-block">
          <div class="block-richtext">
            <div class="rich-text">
              <h3>A health crisis</h3>
              <p>
                The water crisis is a health crisis. Nearly 1 million people
                die each year from water, sanitation and hygiene-related
                diseases which could be reduced with access to safe water or
                sanitation. Every 2 minutes a child dies from a
                water-related disease. Access to safe water and sanitation
                contributes to improved health and helps prevent the spread
                of infectious disease. It means reduced child and maternal
                mortality rates. It means reduced physical injury from
                constant lifting and carrying heavy loads of water. As we
                face the COVID-19 pandemic, now more than ever access to
                safe water is critical to the health of families around the
                world.
              </p>
              <p>
                <a href="/our-impact/water-crisis/health-crisis/"><b>Read why the water crisis is a health crisis
                    &gt;</b></a>
              </p>
            </div>
          </div>
          <div></div>
          <figure class="text-stat">
            <span class="text-stat__number">2 min</span>
            <figcaption class="text-stat__text">
              Every 2 minutes a child dies from a water-related disease
            </figcaption>
          </figure>
        </div>
      </div>
    </section>
  </div>
  <div class="block-featured_callout">
    <section
      class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right featured-callout--has-bubble">
      <div class="content-container">
        <div class="featured-callout__text-block text-block">
          <div class="block-richtext">
            <div class="rich-text">
              <h3>A children&#x27;s and education crisis</h3>
              <p>
                Children are often responsible for collecting water for
                their families. This takes time away from school and play.
                Access to safe water and sanitation changes this. Reductions
                in time spent collecting water have been found to increase
                school attendance, especially for girls. Access to safe
                water gives children time to play and opportunity for a
                bright future.<br />
              </p>
              <p>
                <a href="/our-impact/water-crisis/childrens-and-education-crisis/"><b>See how the water crisis affects
                    children and their
                    education &gt;</b></a>
              </p>
              <p></p>
            </div>
          </div>
          <div></div>
          <figure class="text-stat">
            <span class="text-stat__number">3rd</span>
            <figcaption class="text-stat__text">
              leading cause of child death is diarrhea
            </figcaption>
          </figure>
        </div>
        <div class="featured-callout__image-container featured-callout__image-container--right">
          <img src="/media/images/Waterorg_Water-Crisis_Img-2.original.jpg" alt="Paulo does homework in Lima, Peru" />
          <figure class="bubble-stat">
            <div class="bubble-stat__content">
              <span class="bubble-stat__number">1 in 3</span>
              <figcaption class="bubble-stat__text">
                schools lacks access to basic water and sanitation
              </figcaption>
            </div>
          </figure>
        </div>
      </div>
    </section>
  </div>
  <div class="block-featured_callout">
    <section
      class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left featured-callout--has-bubble">
      <div class="content-container">
        <div class="featured-callout__image-container featured-callout__image-container--left">
          <img src="/media/images/Waterorg_Water-Crisis_Img-3.original.jpg"
            alt="A woman works in a town near Mysore, India" />
          <figure class="bubble-stat">
            <div class="bubble-stat__content">
              <span class="bubble-stat__number">$260 B</span>
              <figcaption class="bubble-stat__text">
                $260 billion is lost globally each year due to lack of basic
                water and sanitation
              </figcaption>
            </div>
          </figure>
        </div>
        <div class="featured-callout__text-block text-block">
          <div class="block-richtext">
            <div class="rich-text">
              <h3>An economic crisis</h3>
              <p>
                Time spent gathering water or seeking safe sanitation
                accounts for billions in lost economic opportunities. $260
                billion is lost globally each year due to lack of basic
                water and sanitation. Access to safe water and sanitation at
                home turns time spent into time saved, giving families more
                time to pursue education and work opportunities that will
                help them break the cycle of poverty.
              </p>
              <p>
                <a href="/our-impact/water-crisis/economic-crisis/"><b>Learn more about how the water crisis is an
                    economic
                    crisis &gt;</b></a>
              </p>
            </div>
          </div>
          <div></div>
          <figure class="text-stat">
            <span class="text-stat__number">$18.5 B</span>
            <figcaption class="text-stat__text">
              Universal access to basic water and sanitation would result in
              $18.5 billion in economic benefits each year from avoided
              deaths alone.
            </figcaption>
          </figure>
        </div>
      </div>
    </section>
  </div>
  <div class="block-references">
    <section class="stripe-section references">
      <div class="content-container">
        <div class="references-text">
          <h2>References</h2>
          <ul>
            <li>
              World Health Organization and UNICEF Joint Monitoring
              Programme. (2017).
              <a href="http://www.who.int/water_sanitation_health/publications/jmp-2017/en/" target="_blank">Progress on
                Drinking Water and Sanitation, 2017 Update and
                MDG Assessment.</a>
            </li>
            <li>
              World Health Organization and UNICEF Joint Monitoring
              Programme. (2015).
              <a href="http://www.who.int/water_sanitation_health/publications/jmp-2015-update/en/"
                target="_blank">Progress on Drinking Water and Sanitation, 2015 Update and
                MDG Assessment.</a>
            </li>
            <li>
              World Health Organization. (2016).
              <a href="http://www.who.int/news-room/fact-sheets/detail/children-reducing-mortality"
                target="_blank">“Children: Reducing Mortality.” World Health Organization,
                Sept. 2016.</a>
            </li>
            <li>
              World Health Organization and UNICEF. (2016).
              <a href="http://www.prographic.com/wp-content/uploads/2016/11/UNICEF-SafelyMngDrinkWater-2016-11-18-web.pdf"
                target="_blank">Safely managed drinking water services - thematic report on
                drinking water</a>
            </li>
            <li>
              Graham, Hirai, Kim. (2016).
              <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0155981" target="_blank">An
                Analysis of Water Collection Labor among Women and
                Children</a>
            </li>
            <li>
              WaterAid. (2012).
              <a href="https://allafrica.com/download/resource/main/main/idatcs/00050801:cea37cff071b7254febb0307904f07d6.pdf"
                target="_blank">Briefing note - 1 in 3 women lack access to safe toilets</a>
            </li>
            <li>
              Gonsalves, G.S., Kaplan, E.H., &amp; Paltiel, A.D. (2015).
              <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0122244"
                target="_blank">Reducing Sexual Violence by Increasing the Supply of
                Toilets</a>
            </li>
            <li>
              The World Bank. Nauges and Strand. (2013).
              <a href="http://documents.worldbank.org/curated/en/406001468032642724/pdf/wps6443.pdf"
                target="_blank">Water Hauling and Girls&#39; School Attendance</a>
            </li>
            <li>
              World Health Organization. Hutton. (2012).
              <a href="http://www.who.int/water_sanitation_health/publications/2012/globalcosts.pdf"
                target="_blank">Global Costs and Benefits of Drinking-Water Supply and
                Sanitation Interventions</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="callout-stripe">
    <div class="content-container">
      <p class="callout-stripe__text">
        The water crisis affects millions around the world. Make an impact
        today.
      </p>
      <a href="/donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
    </div>
  </div>
</main>