<main class="wide-container">
    <section class="page-header"
        style="background-image: url(/media/images/Waterorg_Our-Impact_Water-Crisis_Women-RV.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">A Women&#39;s Crisis</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item"><a href="/our-impact/">Our Impact</a></li>
                <li class="breadcrumbs__item"><a href="/our-impact/water-crisis/">The Water Crisis</a></li>
                <li class="breadcrumbs__item active">A women&#39;s crisis</li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section
            class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left  featured-callout--has-bubble ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_Our-Impact_Water-Crisis_Women_Img-1.jp.original.jpg" alt="Women">
                    <figure class="bubble-stat">
                        <div class="bubble-stat__content">
                            <span class="bubble-stat__number">200 M</span>
                            <figcaption class="bubble-stat__text">Women and children spend 200 million hours every day
                                collecting water</figcaption>
                        </div>
                    </figure>
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>How does the world water crisis affect women and girls?</h3>
                            <p>For women, the water crisis is personal. They are responsible for finding a resource
                                their families need to survive - for drinking, cooking, sanitation and hygiene. They may
                                stand in line and wait for water, they may walk long distances to collect water, or they
                                may pay exorbitant amounts of money to secure water. In their efforts to get water for
                                their families, they often face an impossible choice - certain death without water or
                                possible death due to illness from dirty water. <br /></p>
                            <p>Today, women around the world will spend a collective 200 million hours collecting water.
                                In addition to time spent collecting water, millions may also spend significant amounts
                                of time finding a place to go. This makes up an additional 266 million hours of time
                                each day lost because they have no toilet at home. </p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <figure class="text-stat">
                        <span class="text-stat__number">266M</span>
                        <figcaption class="text-stat__text">Women and girls spend 266 million hours every day finding a
                            place to go</figcaption>
                    </figure>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Time, health, and safety</h3>
                            <p>Water collection and finding a safe place to go are major activities of the day for
                                millions of women. They are left with little to no time for work, school or to care for
                                family. Without water or toilets at home, women cannot live up to their full potential. 
                            </p>
                            <p>Access to safe water is critical to the health of women and their babies during pregnancy
                                and after. Walking to collect water and carrying heavy vessels of water can be dangerous
                                for a pregnant woman. Further, the consumption of unsafe water can be harmful to the
                                health of both mom and her baby. From maintaining a healthy pregnancy to nourishing a
                                newborn child, women need safe water at home.</p>
                        </div>
                    </div>
                    <div class="block-blockquote">
                        <blockquote>Women and children bear the primary responsibility for water collection.
                        </blockquote>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="/media/images/Waterorg_Homepage_Aisyah.original.jpg" alt="Meet Aisyah">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(/media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="/media/images/Waterorg_Our-Impact_Water-Crisis_Women_Img-3.original.jpg" alt="Women">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Empower a woman with water and she can change her world</h3>
                            <p>Access to clean water at home empowered <a
                                    href="/our-impact/all-stories/safe-water-and-pregnancy/">Grace</a> with the health
                                and strength she needed to carry her baby to term in Ethiopia.<br /></p>
                            <p>Like Grace, when women are empowered with safe water and toilets at home they are
                                empowered to change their world. No longer burdened by the water crisis, they can care
                                for their families. They can start small businesses, adding to their household income.
                                They have the time and water to garden and cook food for their families. And, they no
                                longer face unsafe situations when defecating in the open or walking to distant sources
                                for water.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="/our-impact/all-stories/" class="secondary-button">Meet the women we empower <span
                            class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_links">
        <section class="divided-content featured-links stripe-section  divided-content--sidebar-first ">
            <div class="content-container">
                <div class="divided-content__main featured-links__link-items">
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Meet Manjula</h4>
                            <p>For women like Manjula, few things are more valuable than time.</p>
                            <a href="/our-impact/all-stories/few-things-are-more-valuable-time/"
                                class="secondary-button">Read her story <span class="icon-cta-arrow"></a>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Juleha&#39;s story</h4>
                            <p>From Jennifer Schorsch, President of Water.org, read how we are empowering women like
                                Juleha with access to safe water.</p>
                            <a href="/about-us/news-press/water-crisis-womens-crisis/" class="secondary-button">Read
                                the story <span class="icon-cta-arrow"></a>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Meet Sabina</h4>
                            <p>Sabina is a farmer and a single mom living in a rural village in Kenya.</p>
                            <a href="/our-impact/all-stories/sabina/" class="secondary-button">Read how water at home
                                changed everything <span class="icon-cta-arrow"></a>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Rose, then and now</h4>
                            <p>We met Rose in Uganda four years ago. Read what she is doing now that she has water at
                                home.</p>
                            <a href="/our-impact/all-stories/roses-story-then-and-now/" class="secondary-button">Read
                                more <span class="icon-cta-arrow"></a>
                        </div>
                    </article>
                </div>
                <div class="divided-content__sidebar featured-links__image">
                    <img src="/media/images/Waterorg_Our-Impact_Water-Crisis_Women_Img-4.original.jpg" alt="Women">
                </div>
            </div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-right stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h4>For women, the water crisis is personal</h4>
                            <p>They are responsible for finding a resource their families need to survive. These women
                                are inspiring. Their strength transforms communities. Their efforts allow their children
                                to stay in school, to learn and to dream. At Water.org, we are bringing women together,
                                helping them get access to safe water.</p>
                            <p>Join us and empower more women to help their families and communities, because they are
                                not trying to change the world, but they will.</p>
                        </div>
                        <div>
                            <a href="/donate/" class="secondary-button">
                                Empower a woman with water <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%;" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/vHWQ6c1oDpk?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <figcaption class="article-figure__caption">
                        <div class="rich-text">
                            <p>Narrated by Jodie Foster, see how the water crisis is a women&#x27;s crisis.</p>
                        </div>
                    </figcaption>
                </div>
            </div>
        </section>
    </div>
    <div class="block-references">
        <section class="stripe-section references">
            <div class="content-container">
                <div class="references-text">
                    <h2>References</h2>
                    <ul>
                        <li>
                            Gonsalves, G.S., Kaplan, E.H., &amp; Paltiel, A.D. (2015).
                            <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0122244"
                                target="_blank">Reducing Sexual Violence by Increasing the Supply of Toilets in
                                Khayeltisha, South Africa</a>
                        </li>
                        <li>
                            Graham, Hirai, Kim. (2016).
                            <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0155981"
                                target="_blank">An Analysis of Water Collection Labor among Women and Children</a>
                        </li>
                        <li>
                            Unilever Domestos, WaterAid and WSSCC (2013).
                            <a href="https://washmatters.wateraid.org/uk/sites/g/files/jkxoof256/files/we cant wait.pdf"
                                target="_blank">We can&#39;t wait: A report on sanitation and hygiene for women and
                                girls.</a>
                        </li>
                        <li>
                            WaterAid. (2012).
                            <a href="https://allafrica.com/download/resource/main/main/idatcs/00050801:cea37cff071b7254febb0307904f07d6.pdf"
                                target="_blank">Briefing Note - 1 in 3 women lack access to safe toilets</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Empower a woman with water and she can change her world.</p>
            <a href="/donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>