<main class="wide-container">
    <section class="page-header" style="
        background-image: url(../media/images/Waterorg_About-Us_Our-Vision_Header.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Evidence Base</h1>
                <div class="page-header__body">
                    <div class="rich-text">
                        <p>
                            Evidence, research and publications that support the use of
                            financing for water and sanitation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item">
                    <a href="../solutions/">Solutions</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../solutions/monitoring-evaluation/">Monitoring &amp; Evaluation</a>
                </li>
                <li class="breadcrumbs__item active">Evidence Base</li>
            </ol>
        </div>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>Evidence proves that financing works</h3>
            <p>
                Our strong evidence base proves that more lives can be changed
                through access to affordable financing for water and sanitation.
                Read this body of work supporting the use of financing to achieve
                universal access to safe water and sanitation.
            </p>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="../media/images/Strategy_overview_cover.original.jpg" class="multi-column-row__image"
                            style="max-width: 240px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>
                                    Unleashing capital to make safe water and sanitation
                                    available for all
                                </h4>
                                <h5><b>Water.org strategy through 2022</b></h5>
                                <p>
                                    By 2022, Water.org aspires to change 60 million lives with
                                    access to safe water and sanitation. To do this, Water.org
                                    joins forces with others to increase financing for water
                                    and sanitation, including partnering directly with
                                    institutions that serve the base of the economic pyramid,
                                    partnering to accelerate impact, and strengthening the
                                    enabling environment with and through others.
                                </p>
                                <p>
                                    <a href="../documents/187/2020-11-13_Waterorg_Strategy_Overview.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Closing-Financ.original.jpg"
                            class="multi-column-row__image" style="max-width: 240px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Closing the financing gap for water and sanitation</h4>
                                <h5>
                                    Water.org and WaterEquity&#x27;s current efforts to
                                    increase access to safe water and sanitation
                                </h5>
                                <p>
                                    Closing the financing gap for water and sanitation is
                                    critical to achieving universal, sustainable, and
                                    equitable access to water and sanitation. Water.org and
                                    WaterEquity address this significant capital barrier
                                    through access to affordable financing, tapping global
                                    capital markets to attract greater resources and enabling
                                    household-level loans for water and sanitation.
                                </p>
                                <p>
                                    <a
                                        href="../documents/66/Closing_the_financing_gap_for_safe_water_and_sanitation.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Mobilising-Fin.original.jpg"
                            class="multi-column-row__image" style="max-width: 240px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Getting the Foundation Right Working Paper</h4>
                                <h5>
                                    Water.org-IRC-World Bank working paper, “Mobilising
                                    finance for WASH: getting the foundation right”
                                </h5>
                                <p>
                                    Water.org collaborated with Netherlands-based IRC and the
                                    World Bank Water Global Practice to highlight that new
                                    financial mechanisms designed to mobilise finance for
                                    water and sanitation are not enough to ensure that
                                    solutions and investments made now will be sustainable
                                    over time. Without addressing foundational issues in the
                                    sector, any finance mechanism, whether public, private or
                                    blended, will be a short-term, band-aid solution and the
                                    sector will continue the cycle of dependency on external
                                    assistance rather than fixing the root causes and building
                                    self-sufficiency. (March 2019)
                                </p>
                                <p>
                                    <a href="../documents/134/Getting_the_Foundation_Right_FINAL_March_2019.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Financing-SDG6.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Financing SDG 6 Position Paper</h4>
                                <h5>
                                    Water.org-IRC position paper, “Financing WASH: how to
                                    increase funds for the sector while reducing inequities:
                                    Position paper for the Sanitation and Water for All
                                    Finance Ministers Meeting, April 20, 2017”
                                </h5>
                                <p>
                                    Water.org collaborated with Netherlands-based IRC to
                                    highlight issues critical to achieving sustainable access
                                    to water and sanitation, including: strengthening the
                                    enabling environment; utilizing micro and blended finance
                                    to their full potential; and resolving inequities in
                                    financing allocation. These recommendations support
                                    Ministers of Finance as they develop effective financing
                                    plans for their country, furthering progress toward
                                    achieving Sustainable Development Goal 6. (April 2017)
                                </p>
                                <p>
                                    <a href="../documents/48/Water.org_Financing_SDG_Position_Paper_April_2017.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_A-Future-That-.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>A future that leaves no one behind</h4>
                                <h5>
                                    Huffpost OpEd reflecting on growing momentum for
                                    innovative financing for water and sanitation
                                </h5>
                                <p>
                                    In April 2017, Water.org Co-Founders Matt Damon and Gary
                                    White participated in the World Bank High Level Meetings
                                    on financing SDG 6 to discuss the financing gap between
                                    existing funding and what it will take to achieve
                                    universal access to safely-managed water and sanitation.
                                </p>
                                <p>
                                    <a
                                        href="https://www.huffpost.com/entry/world-bank-spring-meetings-all-about-a-future-that_b_5910e2ede4b0f7118072477f?guccounter=1"><b>Visit
                                            HuffPost.com &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Water-Equity.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>WaterEquity</h4>
                                <h5>Investing to end the global water crisis</h5>
                                <p>
                                    WaterEquity is an innovation of Water.org that creates the
                                    opportunity for social impact investors to put their
                                    capital to work to achieve powerful social impact with
                                    financial returns. WaterEquity scales proven Water.org
                                    solutions, increasing the availability of small,
                                    affordable loans to meet the tremendous market demand for
                                    water and sanitation.
                                </p>
                                <p>
                                    <a
                                        href="../documents/67/WaterEquity-Investing_To_End_The_Global_Water_Crisis_In_Our_Lifetime-Ebook_HaYVw8D.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Helping-India-.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>
                                    Working with government to achieve its national and global
                                    goals
                                </h4>
                                <h5>
                                    Summary document of how Water.org has supported
                                    India&#x27;s largest sanitation campaign
                                </h5>
                                <p>
                                    Unlocking financial flows for water and sanitation in a
                                    country cannot be achieved in a vacuum. Engaging with
                                    various levels of government and altering regulations to
                                    be more supportive – creating an ‘enabling environment’
                                    for water and sanitation outcomes – is a critical piece of
                                    the puzzle. “Helping India become open defecation-free:
                                    Swachh Bharat Abhiyan and Water.org” outlines how
                                    Water.org collaborated with various ministries and other
                                    actors in support of India’s massive sanitation campaign
                                    to help the country make serious inroads towards its goal
                                    of becoming open defecation free by 2019.
                                </p>
                                <p>
                                    <a href="../documents/73/HelpingIndiaBecomeOpenDefecationFreeSBM.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Taps-And-Toile.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Stanford Social Innovations Review</h4>
                                <h5>&quot;Taps and Toilets for All&quot;</h5>
                                <p>
                                    Globally, 844 million people still lack basic water
                                    service—a drinking water source that is accessible within
                                    a 30-minute round trip from their home. Even more people,
                                    2.3 billion, still do not have access to basic
                                    sanitation—a toilet or latrine that is not shared with
                                    other households. Many people who lack access to water and
                                    sanitation know exactly how to solve their problems. They
                                    may just need to connect to an existing water system, buy
                                    a toilet, or set up a rainwater harvesting system using
                                    readily available labor, technology, and materials. Their
                                    solutions are in plain sight if the appropriate financial
                                    tool was in place to assist them. This article reviews the
                                    rationale behind Water.org’s innovative financing
                                    mechanism to facilitate affordable access to water and
                                    sanitation services for all, especially those at the Base
                                    of the Economic Pyramid (Spring 2018).
                                </p>
                                <p>
                                    <a href="../documents/97/SSIR_Spring_2018_Taps__Toilets_for_All.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_A-Better-World.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>A Better World, Volume 3</h4>
                                <h5>
                                    “Accelerating towards universal access to clean water and
                                    sanitation – WaterCredit and beyond”
                                </h5>
                                <p>
                                    At three times current investment levels, the amount of
                                    funding needed to achieve SDG 6 is massive. Sole reliance
                                    on government and donor financing limit the pace at which
                                    the required investments can be made. New ways of
                                    harnessing domestic capital are needed at multiple levels.
                                    One approach is to mobilize more of the poor to invest in
                                    their own solutions: while the upfront cost of a toilet or
                                    a piped water connection can easily equal a household’s
                                    entire monthly income, many are willing to invest if they
                                    can spread that cost over time. This article looks at the
                                    WaterCredit approach to mobilizing finance to work for the
                                    world’s poor as well as additional ways of supporting the
                                    services that provide water and sanitation to the base of
                                    the economic pyramid. (March 2018)
                                </p>
                                <p>
                                    <a href="../documents/86/A_Better_World_-_Tudor_Rose.pdf"><b>Download &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Global-Learnin.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Global Learning Note</h4>
                                <h5>
                                    “Financing Water and Sanitation for the Poor: The role of
                                    microfinance institutions in addressing the water and
                                    sanitation gap”
                                </h5>
                                <p>
                                    Water and sanitation financing shows strong promise of
                                    supporting the ambitious Sustainable Development Goal 6 to
                                    end open defecation and ensure basic access to water and
                                    safe sanitation by 2030. Water.org and the Water and
                                    Sanitation Program of the World Bank’s Water Global
                                    Practice spotlight the positive impacts microfinance for
                                    water and sanitation provides households, microfinance
                                    institutions, governments, and low-income borrowers and
                                    their families. (October 2015)
                                </p>
                                <p>
                                    <a
                                        href="../documents/49/Water.org_Global_Learning_Note_-_financing_sanitation_for_the_poor.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_India-Learning.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>India Learning Note</h4>
                                <h5>
                                    “Financing Sanitation for the Poor: Household level
                                    financing to address the sanitation gap in India”
                                </h5>
                                <p>
                                    Financial institutions in India pioneered household level
                                    water and sanitation lending and have a strong track
                                    record of disbursing a large volume of toilet loans and
                                    working closely with local government and nongovernmental
                                    organization programs for social marketing and
                                    demand-generation. Water.org and the Water and Sanitation
                                    Program of the World Bank’s Water Global Practice
                                    cooperated on this Learning Note to highlight evidence and
                                    lessons learned for the Government of India and
                                    development partners to further integrate household level
                                    financing into the Clean India Campaign. (September 2015)
                                </p>
                                <p>
                                    <a
                                        href="../documents/50/Water.org_India_Learning_Note_-_financing_sanitation_for_the_poor.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_WSS-loans-inco.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>WSS loans as income-enabling</h4>
                                <h5>
                                    “Income-enabling, Not Consumptive: Association of
                                    Household Socio-economic Conditions with Safe Water and
                                    Sanitation”
                                </h5>
                                <p>
                                    In some countries, Water.org has observed that financial
                                    institutions are less interested in offering microloans
                                    for water and sanitation because they are perceived to be
                                    more risky than income-generating loans. That perception
                                    does not consider how household access to water and
                                    sanitation assets enable household incomes to rise through
                                    increased availability of productive time. This paper,
                                    originally presented at 2015 Stockholm World Water Week,
                                    draws upon Water.org data to highlight the how water and
                                    sanitation microloans indirectly affect household income.
                                    (July 2016)
                                </p>
                                <p>
                                    <a href="../documents/71/WSS_loans_as_income-enabling.pdf"><b>Download &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Impact-Assessm.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Impact Assessment</h4>
                                <h5>
                                    “Water and Sanitation Microfinance Operations in India: An
                                    Assessment of Challenges &amp; Determinants of Success”
                                </h5>
                                <p>
                                    The role microfinance can play in improving access to safe
                                    water supply and sanitation among low-income populations
                                    is gaining attention, especially in light of conversations
                                    around financing the achievement of Sustainable
                                    Development Goal 6. Despite this increased attention,
                                    knowledge gaps remain regarding factors that hinder and
                                    facilitate the scale and sustainability of water and
                                    sanitation microfinance operations. This study examines
                                    the enablers and constraints that have shaped the
                                    performance of Water.org partner organizations in India
                                    between 2011 and 2015. (October 2016)
                                </p>
                                <p>
                                    <a href="../documents/59/PEP2_Impact_Assessment_October_2016.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_GLAAS-2019.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>GLAAS ESA overview</h4>
                                <h5>About Water.org</h5>
                                <p>
                                    This overview, published in the biannual UN-Water Global
                                    Analysis and Assessment of Sanitation and Drinking-Water,
                                    presents Water.org’s achievements to date in empowering
                                    millions of people living in poverty to access drinking
                                    water and sanitation through the availability of
                                    affordable, targeted finance. (April 2019)
                                </p>
                                <p>
                                    <a href="../documents/172/GLAAS_Water.org_ESA_2019.pdf"><b>Download &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Operating-Prin.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>
                                    International Finance Corporation &quot;Operating
                                    Principles for Impact Management&quot;
                                </h4>
                                <h5>Water.org Disclosure Statement</h5>
                                <p>
                                    As a signatory, Water.org is aligned with the Operating
                                    Principles for Impact Management, which provides a
                                    reference point against which impact management systems of
                                    funds and institutions may be assessed. The Principles
                                    draw on emerging best practices and provide a framework
                                    for the development of strategic impact objectives,
                                    contributions and management of impact achievement, as
                                    well as the monitoring and assessment of impact. (May
                                    2020)
                                </p>
                                <p>
                                    <a
                                        href="../documents/166/2020-05-08_IFC_Impact_Principles_-_Disclosure_Statement.pdf"><b>Download
                                            &gt;</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_Evidence-Base_Hilton-Ethiopi.original.jpg"
                            class="multi-column-row__image" style="max-width: 260px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Evaluation of WaterCredit Program in Ethiopia</h4>
                                <h5>
                                    Launching WaterCredit in Ethiopia for the first time
                                    thanks to a generous grant from the Conrad N. Hilton
                                    Foundation.
                                </h5>
                                <p>
                                    The WaterCredit program helped demonstrate to the
                                    Ethiopian government that financing for water supply and
                                    sanitation was not only scalable, but necessary to
                                    achieving universal and equitable access to safe water and
                                    sanitation for all Ethiopians. At the time of the
                                    evaluation, US$1.54 million in capital had been mobilized
                                    and 59,859 people across four regions in Ethiopia had been
                                    reached with access to water and sanitation.
                                </p>
                                <p>
                                    <a href="../documents/167/2020-04-20_Hilton_Ethiopia_Evaluation_Brief.pdf">Download
                                        &gt;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>