<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../../../media/images/Waterorg_Solutions_Implementing-WaterCredit_Hea.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Lending for Water and Sanitation</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item"><a href="../solutions/">Solutions</a></li>
                <li class="breadcrumbs__item"><a href="../solutions/watercredit/">WaterCredit</a></li>
                <li class="breadcrumbs__item active">Lending for Water and Sanitation</li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section
            class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left  featured-callout--has-bubble ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solutions_Implementing-WaterCredit_Img.original.jpg"
                        alt="Implementing WaterCredit">
                    <figure class="bubble-stat">
                        <div class="bubble-stat__content">
                            <span class="bubble-stat__number">6.8 M</span>
                            <figcaption class="bubble-stat__text">Our partners have disbursed 6.8 million loans for
                                water and sanitation</figcaption>
                        </div>
                    </figure>
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Our partners are changing lives</h3>
                            <p>Water.org works with our partners to break down the financial barriers between people in
                                need and access to safe water and sanitation solutions. We combine our international
                                experience with in-depth local research to support financial institutions to effectively
                                create, launch and scale loan products that will prosper in the local market and drive
                                social impact.</p>
                            <p>More than 160 partners around the world have joined our effort and share our vision to
                                end the global water crisis, bringing expertise, market insights, passion and results.
                                Our partners have mobilized $2.5 billion in capital to support small loans that bring
                                access to safe water and sanitation to millions of people in need.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <figure class="text-stat">
                        <span class="text-stat__number">$2.5 B</span>
                        <figcaption class="text-stat__text">Our partners have disbursed $2.5 billion in water and
                            sanitation loans</figcaption>
                    </figure>
                    <a href="../solutions/watercredit/local-partners/" class="secondary-button">Meet some of our
                        partners <span class="icon-cta-arrow"></a>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>The value of lending for water and sanitation</h3>
                            <p>Water.org provides a water and sanitation loan solution that is easy to maintain,
                                sustain, and is good for your bottom line. Adding water and sanitation lending to your
                                portfolio can help attract and retain clients, grow your business and change lives.</p>
                            <p>Here are a few benefits:</p>
                            <ul>
                                <li>Enter new markets and get new clients: In Uganda, approximately 40% of WaterCredit
                                    borrowers are estimated to be new clients while the remaining 60% were existing loan
                                    borrowers.</li>
                                <li>Increase existing client loyalty: Offering new products is a cost-effective option
                                    for deepening engagement with existing clients and increasing revenue.</li>
                                <li>Cross-selling: Water and sanitation lending can lead clients to think about
                                    borrowing funds for other parts of their house or business, and can be an entry into
                                    housing finance.</li>
                                <li>Diversify portfolios at low risk: When products for water and sanitation are well
                                    designed, they are no riskier than the typical microenterprise loan, and WaterCredit
                                    repayment rates are 99% globally.</li>
                                <li>Increase profitability: People are willing to repay at market interest rates because
                                    the cost of living without improved water and sanitation is often higher.</li>
                                <li>Contribute to a social mission: Financing for water and sanitation can complement
                                    social responsibility activities.</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Solutions_Implementing-WaterCredit_Img.original_7JGeIQU.jpg"
                        alt="Implementing WaterCredit">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-right stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>How we can work together</h3>
                            <p>Water.org has more than a decade of experience helping partners lend for water and
                                sanitation. Water.org provides expert training and technical assistance to develop and
                                scale successful water and sanitation lending products.</p>
                            <p>We provide a proven water and sanitation lending solution and offer support for
                                integrating it into your loan portfolios, including a deployable training program to
                                guide your team in the development of successful water and sanitation lending products.
                                This can connect you to large, untapped markets in need of financing for water and
                                sanitation.</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%;" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/d-5sE4-ZQBo?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-text_with_image">
        <section class="stripe-section divided-content  divided-content--sidebar-first  ">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Want to work with us?</h3>
                            <p>Help those in need of access to safe water and sanitation in your community. If you are a
                                financial institution interested in offering loans for water and sanitation, take a look
                                at some of the resources we provide to our partners and contact us.</p>
                        </div>
                    </div>
                    <div class="block-cta_link">
                        <div>
                            <a href="../solutions/watercredit/lending-for-water-sanitation/watercredit-toolkits/"
                                class="secondary-button">
                                Get toolkits <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                    <div class="block-cta_link">
                        <div>
                            <a href="../solutions/watercredit/lending-for-water-sanitation/watercredit-interest-inquiry/"
                                class="secondary-button">
                                Contact us <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <img src="../media/images/Waterorg_Solutions_Implementing-WaterCredit_Img.original_EahLxVM.jpg"
                        alt="Implementing WaterCredit">
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Help someone in need get access to a small, affordable loan for water.</p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>