<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../media/images/Waterorg_Solutions_MEL_Header.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Driving Impact Through Evidence</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item"><a href="../solutions/">Solutions</a></li>
                <li class="breadcrumbs__item active">Monitoring &amp; Evaluation</li>
            </ol>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solutions_MEL_Img-2.original.jpg"
                        alt="Monitoring and Evaluation">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Dedicated to credible monitoring<br /> and evaluation</h3>
                            <p>Data and evidence inform our work and contribute to the strength of our impact. We are
                                committed to rigorously monitoring and evaluating the performance of our solutions, and
                                learning from the results. By doing this we can scale lasting, sustainable solutions
                                that bring safe water and sanitation to all.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--4">
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_MEL_Icon-1.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Monitor</h4>
                                <p>We measure and track progress and impact metrics to inform and improve how we work,
                                    making sure our dollars go further.</p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_MEL_Icon-4.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Validate</h4>
                                <p>We conduct due diligence to confirm results to inform current and future strategies.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_MEL_Icon-3.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Learning</h4>
                                <p>We synthesize learnings and incorporate best practices to improve performance through
                                    efficient adaptation and uptake for future solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../media/images/Waterorg_Solutions_MEL_Icon-2.original.png"
                            class="multi-column-row__image" style="max-width: 110px;">
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Evidence</h4>
                                <p>We build an objective and credible evidence base to instill confidence in our work
                                    through data analysis, program tracking, result measurements, research, and business
                                    case studies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Turning insights into impact</h3>
                            <p>We carefully track our impact by analyzing monthly partner reports and progress,
                                conducting household visits and viability assessments, and performing rigorous research.
                                We use these methods to evaluate the outcomes of our solutions, improve how we work and
                                change more lives with safe water.</p>
                            <p>These methods also ensure we use our donor dollars wisely and efficiently, enabling us to
                                bring smart, lasting solutions to the global water crisis. We are accountable to the
                                people we serve, to our partners, and to you.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../our-impact/" class="secondary-button">How these solutions are making an impact around
                        the world <span class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Solutions_MEL_Img-1.original.jpg"
                        alt="Monitoring and Evaluation">
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solutions_MEL_Img-3RV2.original.jpg"
                        alt="Monitoring and Evaluation">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Evidence proves that financing works</h3>
                            <p>Our strong evidence base proves that more lives can be changed through access to
                                affordable financing for water and sanitation.</p>
                            <p>Read our body of work supporting the use of financing to achieve universal access to safe
                                water and sanitation.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../solutions/monitoring-evaluation/evidence-base/" class="secondary-button">Supporting
                        materials about financing for water and sanitation <span class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Help us change more lives with safe water and sanitation.</p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>