<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../media/images/Waterorg_Solutions_Overview_Header_7hC0oVs.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Solutions</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item active">Solutions</li>
            </ol>
        </div>
    </div>
    <div class="block-text_with_items">
        <section class="stripe-section divided-content  divided-content--sidebar-first   stripe-section--has-pattern ">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Smart solutions in action</h3>
                            <p>For millions around the world, access to funds stands between them and safe water and
                                sanitation in their home. Water.org offers a portfolio of smart solutions that break
                                down the financial barriers between people living in poverty and access to safe water
                                and sanitation.</p>
                            <p>Our unique solutions are market-driven and adapt to the 13 countries in Asia, Africa and
                                Latin America where we work. With more than 25 years of experience and insight, and in
                                collaboration with our partners, we are developing more efficient, scalable solutions
                                and using financing as a tool to help people living in poverty get access to safe water
                                and sanitation.</p>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <div class="block-quote">
                        <blockquote>
                            Our solutions break down the financial barriers between people in need and access to safe
                            water and sanitation.
                            <cite>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solutions_Overview_Img-1.original.jpg" alt="Solutions">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>WaterCredit: Small loans, big impact</h3>
                            <p>The WaterCredit Initiative ® is our core solution. WaterCredit helps bring small loans to
                                those who need access to affordable financing, and expert resources to make household
                                water and toilet solutions a reality. It is a pay-it-forward system that makes it
                                possible to help more people in ways that will last.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../solutions/watercredit/" class="secondary-button">About WaterCredit <span
                            class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Access to financing is solving the water crisis for millions</h3>
                            <p>We use access to affordable financing to bring safe water and sanitation to the world,
                                and it is working. Through years of experience, we found that millions of people were
                                paying high prices for water from vendors or collecting water from unsafe natural
                                sources. Both options cost families in time, money, opportunities and health.</p>
                            <p>For millions of people, financing makes sense. Small, affordable loans offer families the
                                ability to purchase long-term safe water and sanitation solutions that solve their
                                immediate need and over time will cost less than continuing to pay for temporary fixes.
                            </p>
                            <p>Water.org believes that access to capital is the most important barrier to overcome in
                                order to solve the global water crisis. We have broadened our efforts and joined forces
                                with others to increase financing for water and sanitation, helping even more people in
                                need.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../solutions/financing-works/" class="secondary-button">Why financing works <span
                            class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Solutions_Overview_Img-2RV.original.original.jpg"
                        alt="Solutions">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_links">
        <section class="divided-content featured-links stripe-section  divided-content--sidebar-first ">
            <div class="content-container">
                <div class="divided-content__main featured-links__link-items">
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Partnering to accelerate access</h4>
                            <p>Water.org works with partners across sectors, including financial institutions and water
                                service providers, to expand access to affordable financing for water and sanitation. We
                                provide technical assistance, share best practices, and collaborate with stakeholders to
                                develop, implement and scale effective solutions.</p>
                            <a href="../solutions/watercredit/local-partners/" class="secondary-button">Working with our
                                partners to change lives <span class="icon-cta-arrow"></a>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Increasing access to financing at a systems level</h4>
                            <p>As leaders in financing for water and sanitation, we are committed to working with
                                development agencies, governments and other partners to influence public policy and
                                practice changes that make more funds available for water and sanitation solutions, at
                                local, national and global levels.</p>
                            <a href="../solutions/global-engagement/" class="secondary-button">Making connections to
                                change lives <span class="icon-cta-arrow"></a>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Driving impact through evidence</h4>
                            <p>We use data and evidence to drive innovation and impact. We are dedicated to generating a
                                credible evidence base for influencing action to bring safe water and sanitation to all.
                            </p>
                            <a href="../solutions/monitoring-evaluation/" class="secondary-button">How our insights are
                                critical to success <span class="icon-cta-arrow"></a>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Scaling our solution through WaterEquity</h4>
                            <p>We established WaterEquity, the first-ever impact investment manager dedicated to ending
                                the global water crisis, with an exclusive focus on raising and deploying capital to
                                water and sanitation enterprises throughout Asia, Africa and Latin America.</p>
                            <a href="../solutions/waterequity/" class="secondary-button">About WaterEquity <span
                                    class="icon-cta-arrow"></a>
                        </div>
                    </article>
                </div>
                <div class="divided-content__sidebar featured-links__image">
                    <img src="../media/images/Waterorg_Solutions_Overview_Img-3.original.jpg" alt="Solutions">
                </div>
            </div>
        </section>
    </div>
    <div class="block-full_width_image">
        <section class="stripe-section bleeding-image"
            style="background-image:url(../media/images/Waterorg_Solutions_Implementing-Partners_Footer.original.jpg);">
            <div class="content-container">
                <div class="bleeding-image__text">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>Changing millions of lives</h3>
                            <p>We&#x27;ve empowered more than 31 million people with access to safe water or sanitation,
                                and greater resilience to COVID-19 and other diseases. Read the personal stories of the
                                people whose lives have been changed thanks to your support.</p>
                        </div>
                        <div>
                            <a href="../our-impact/" class="secondary-button">
                                See the impact and read their stories <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Support our work by donating to Water.org today.</p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>