<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../../media/images/Waterorg_Solutions_WaterCredit_Header.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">WaterCredit</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../..//">Home</a></li>
                <li class="breadcrumbs__item"><a href="..//">Solutions</a></li>
                <li class="breadcrumbs__item active">WaterCredit</li>
            </ol>
        </div>
    </div>
    <div class="block-video">
        <section
            class="stripe-section video-callout featured-callout featured-callout--image-left stripe-section--has-pattern">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <div class="embed-container">
                        <div style="padding-bottom: 56.25%;" class="responsive-object">
                            <iframe width="480" height="270"
                                src="https://www.youtube.com/embed/teGT62lv6Ug?feature=oembed" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="featured-callout__text-block">
                    <div class="text-block">
                        <div class="rich-text">
                            <h3>Small loans, big impact: the power of WaterCredit</h3>
                            <p>One of the major barriers to safe water and sanitation is affordable financing. We
                                created the WaterCredit Initiative® to address this barrier head-on. WaterCredit helps
                                bring small loans to those who need access to affordable financing and expert resources
                                to make household water and toilet solutions a reality.</p>
                            <p>With millions affected across the world, there is not a one-size-fits-all solution to the
                                global water crisis. Our approach is market-driven and people-driven. We have changed
                                more than 31 million lives through our WaterCredit Initiative and with your support, we
                                can empower even more people with safe water and sanitation solutions that last.</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-stats_line">
        <section class="stripe-section stripe-stats">
            <div class="content-container">
                <figure class="text-stat">
                    <span class="text-stat__number">31 M</span>
                    <span class="text-stat__text">31 million lives changed across 13 countries</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">6.8 M</span>
                    <span class="text-stat__text">6.8 million loans for water and sanitation disbursed through
                        WaterCredit</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">$2.5 B</span>
                    <span class="text-stat__text">$2.5 billion in loans disbursed by our partners for water and
                        sanitation</span>
                </figure>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>People already pay for water, but it&#x27;s costly</h3>
                            <p>People in need already pay high prices for water, in both time and money. The truth is
                                that many of these families can get a water or sanitation solution in their home for a
                                fraction of their annual water costs. All they need is access to affordable financing to
                                make this a reality. We believed that if given a choice and an opportunity to pay for
                                water and sanitation improvements over a reasonable period of time, millions of people
                                living in poverty would finance long-term solutions versus struggle day-to-day to find
                                that next liter of water.</p>
                            <p>Many financial institutions in developing countries weren’t offering loans for water and
                                sanitation to people in need. We brought resources and consulting expertise to these
                                organizations, equipping them to successfully add water and sanitation loans to their
                                portfolios of offerings. Through WaterCredit, we are making water and sanitation loans
                                accessible to those who need them the most. And the results are astounding.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../financing-works//" class="secondary-button">Why financing works <span
                            class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../../media/images/Waterorg_Solutions_WaterCredit_Img-2.original.jpg" alt="WaterCredit">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>How it works</h3>
                            <p>WaterCredit is a powerful solution and the first to put microfinance tools to work in the
                                water and sanitation sector. WaterCredit helps bring small loans to those who need
                                access to affordable financing and expert resources to make household water and toilet
                                solutions a reality.</p>
                            <p><b>Here’s how it works:</b></p>
                            <ul>
                                <li>We identify a region where people need access to water and sanitation and that is
                                    ready for a microfinance solution.</li>
                                <li>We partner with carefully selected institutions to provide affordable financing for
                                    water and sanitation to families in need.</li>
                                <li>These microfinance partners establish water and sanitation loans in their portfolio
                                    of offerings. We support them by providing technical assistance, connections and
                                    resources to get them started.</li>
                                <li>People in need use these small, affordable loans to put a tap or toilet in their
                                    homes and access local resources to do the work.</li>
                                <li>Every repaid loan can be lent to another family in need of safe water or sanitation.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../../media/images/Waterorg_Solutions_WaterCredit_Infographic.original.png"
                        alt="WaterCredit">
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solutions_WaterCredit_Img-3.original.jpg" alt="WaterCredit">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>A proven, powerful solution</h3>
                            <p>After more than 15 years in action, WaterCredit is a proven, powerful solution. More than
                                31 million people in 13 countries now have access to safe water and sanitation.</p>
                            <p>Together with our 160 partners around the world, we&#x27;ve catalyzed $2.5 billion in
                                capital to support small loans that bring access to safe water and sanitation to
                                millions of people living in poverty.</p>
                            <p>Our solution is in high demand, sustainable, and reaching people in need. 87% of
                                borrowers are women – those most impacted by the water crisis – and the majority of
                                households borrowing the loans live on less than $3.20 a day.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../our-impact/" class="secondary-button">See the impact <span class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-stats_line">
        <section class="stripe-section stripe-stats">
            <div class="content-container">
                <figure class="text-stat">
                    <span class="text-stat__number">99%</span>
                    <span class="text-stat__text">of loans through WaterCredit are paid back</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">87%</span>
                    <span class="text-stat__text">of borrowers are women</span>
                </figure>
                <figure class="text-stat">
                    <span class="text-stat__number">$363</span>
                    <span class="text-stat__text">is the average loan size</span>
                </figure>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>A long-term solution for families in need</h3>
                            <p>It’s smart, simple and sustainable. More importantly, it helps the people we empower
                                solve their immediate need and continues to enrich their lives long after the original
                                loan has been repaid. This solution works because it recognizes people as consumers with
                                autonomy and empowers people to define their own futures.</p>
                            <p>Through WaterCredit, women who previously spent hours each day collecting safe water have
                                time to pursue education, work and keep their families safe and healthy. That’s the
                                power of water.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../our-impact/all-stories/" class="secondary-button">Meet the people we empower <span
                            class="icon-cta-arrow"></a>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Solutions_WaterCredit_Img-4.original.jpg" alt="WaterCredit">
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solutions_WaterCredit_Img-5RV.original.jpg" alt="WaterCredit">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>A smart investment</h3>
                            <p>Our smart solutions are efficient, reaching more people at a lower cost. With Water.org,
                                every dollar donated will have the greatest impact.</p>
                            <p>The truth is, WaterCredit is a catalyst. With support from Water.org, our 160 partners
                                can attract capital, giving out more loans to bring access to safe water and sanitation
                                to millions.</p>
                            <p>Loan repayment rates average 99%, and every repaid loan means another family can get safe
                                water at home. It’s a cycle that continues to reach more people, creating new
                                opportunities for families around the world.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                    <a href="../solutions/watercredit/increasing-value-1-increase-impact/" class="secondary-button">How
                        far $1 of support can go <span class="icon-cta-arrow"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Reaching more people, faster</h3>
                            <p>Current efforts to solve the global water crisis are not reaching people fast enough, so
                                we created WaterCredit to help close the gap. WaterCredit is scaling and the impact is
                                accelerating. A few years ago we were able to reach one million people in a year. Now we
                                reach this many people in a matter of months.</p>
                            <p>We’ve empowered more than 31 million people with access to safe water and sanitation
                                through small, affordable loans, more than 8 million people in the last year alone.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Solutions_WaterCredit_Img-6.original.jpg" alt="WaterCredit">
                </div>
            </div>
            <div class="stripe-section__pattern"
                style="background-image:url(../media/images/pattern-large-2.original.png);"></div>
        </section>
    </div>
    <div class="block-two_column_text">
        <section class="stripe-section columned-callouts stripe-section--has-pattern">
            <div class="content-container">
                <div class="columned-callouts__columns">
                    <div class="columned-callouts__column">
                        <div class="text-block text-block">
                            <div class="block-richtext">
                                <div class="rich-text">
                                    <h3>Partners make our work possible</h3>
                                    <p>We work with and through local partners to make WaterCredit self-sustaining,
                                        helping set-up a system that lasts long after our involvement ends. Once
                                        organizations start lending for water and sanitation, they are set up to
                                        continue lending. It’s a cycle that continues to reach more people.</p>
                                </div>
                            </div>
                            <div class="block-cta_link">
                                <div>
                                    <a href="../solutions/watercredit/local-partners/" class="secondary-button">
                                        Local partners implementing our solutions <span class="icon-cta-arrow">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columned-callouts__column">
                        <div class="text-block text-block">
                            <div class="block-richtext">
                                <div class="rich-text">
                                    <h3>Become a lending partner</h3>
                                    <p>We work with local financial institutions and other partners who understand the
                                        needs of their communities and are invested in their success. We provide
                                        technical assistance, connections, and small grants, as needed, so they can
                                        provide small loans to people in need of water and sanitation at home.</p>
                                </div>
                            </div>
                            <div class="block-cta_link">
                                <div>
                                    <a href="../solutions/watercredit/lending-for-water-sanitation/"
                                        class="secondary-button">
                                        About lending for water and sanitation <span class="icon-cta-arrow">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="bottom-image">
        <img src="../media/images/Waterorg_Solutions_WaterCredit_Footer.original.jpg" alt="WaterCredit">
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Help us change more lives through WaterCredit.</p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>