<main class="wide-container">
    <section class="page-header"
        style="background-image: url(../media/images/Waterorg_Our-Solutions_WaterEquity_Header.original.jpg)">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">WaterEquity</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="../">Home</a></li>
                <li class="breadcrumbs__item"><a href="../solutions/">Solutions</a></li>
                <li class="breadcrumbs__item active">WaterEquity</li>
            </ol>
        </div>
    </div>
    <div class="block-text_with_items">
        <section class="stripe-section divided-content  divided-content--sidebar-first  ">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>WaterEquity scales our solution</h3>
                            <p>WaterEquity is another way to fuel our work to empower families in need with access to
                                financing solutions, such as small loans, for household water connections and sanitation
                                facilities. Proven and powerful, this solution is in high demand and set to scale.
                                That&#x27;s where WaterEquity comes in — putting more money into a system that is
                                working and changing lives.</p>
                        </div>
                    </div>
                    <div class="block-cta_link">
                        <div>
                            <a href="http://www.waterequity.org/" class="secondary-button" target="_blank">
                                Visit the WaterEquity website <span class="icon-cta-arrow">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <div class="block-quote">
                        <blockquote>
                            WaterEquity provides socially-conscious investors the opportunity to connect with those in
                            need.
                            <cite>
                                <span class="cite__name">Gary White</span>
                                <span class="cite__title">Water.org Co-founder &amp; CEO</span>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left ">
            <div class="content-container">
                <div class="featured-callout__image-container featured-callout__image-container--left">
                    <img src="../media/images/Waterorg_Solutions_WaterEquity_Infographic-2.original.png"
                        alt="WaterEquity">
                </div>
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Leveraging impact investing</h3>
                            <p>Water.org established WaterEquity to harness the power of impact investing to provide
                                more funding for water and sanitation loans. By investing in water and sanitation
                                enterprises, WaterEquity mobilizes capital to accelerate our impact — so we can reach
                                more people, faster.</p>
                        </div>
                    </div>
                    <div class="block-blockquote">
                        <blockquote>WaterEquity is the first-ever impact investment manager dedicated to ending the
                            global water crisis.</blockquote>
                    </div>
                    <div class="block-richtext">
                        <div class="rich-text">
                            <p>WaterEquity&#x27;s funds invest in a portfolio of water and sanitation enterprises to
                                increase the availability and affordability of the capital needed to support
                                life-changing loans.</p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right ">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>More capital means more life-changing loans</h3>
                            <p>There is an increasing demand for water and sanitation loans. Our solution is
                                sustainable, and in partnership with financial institutions across 13 countries, we are
                                reaching the people that need it most. These institutions need more, affordable capital
                                to scale their loan portfolios and meet the increasing demand. WaterEquity provides that
                                capital. </p>
                            <p>Here’s how it works: </p>
                            <p></p>
                            <ul>
                                <li>Accredited investors invest in WaterEquity&#x27;s funds.</li>
                                <li>WaterEquity funds deploy capital to enterprises including microfinance institutions,
                                    increasing access to water and sanitation solutions for people in need.</li>
                                <li>The investor gets a moderate return or may re-invest to further their social impact.
                                </li>
                                <li>The result is more people get access to safe water and sanitation, turning a life of
                                    poverty into a life of possibility.</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../media/images/Waterorg_Solutions_WaterEquity_Infographic-1.original.png"
                        alt="Waterorg_Solutions_WaterEquity_Infographic-1.png">
                </div>
            </div>
        </section>
    </div>
    <div class="bottom-image">
        <img src="../media/images/Waterorg_Our-Work_Footer.original.jpg" alt="Children ride bicycles in Cambodia">
    </div>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Your donation brings hope and opportunity. That&#39;s the power of water.
            </p>
            <a href="../donate/" title="" class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>