<main class="wide-container">
    <section class="page-header" style="
        background-image: url(../../../media/images/Waterorg_Cause-Marketing_Header-RV.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Cause Marketing</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="../../../index.html">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../../index.html">About Us</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../index.html">Ways to Donate</a>
                </li>
                <li class="breadcrumbs__item active">Cause Marketing</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section columned-content">
        <div class="content-container">
            <div class="columned-content__main">
                <div class="form-text-block">
                    <div class="rich-text">
                        <p></p>
                        <h3>Your business can help change lives with safe water</h3>
                        <p>
                            There are billions of people living without safe water and
                            sanitation around the world. Your business can help change
                            this. 
                        </p>
                        <p>
                            Here&#x27;s how:  You register. We provide photos, videos and
                            messages to help you communicate your support. You donate — a
                            set amount annually, a percentage of sales quarterly, or
                            anything in between. And together, we can empower families
                            with access to safe water so they can change their world.
                        </p>
                        <p><br /></p>
                        <hr />
                        <p></p>
                        <img alt="Cause Marketing Process Infographic" class="richtext-image full-width" height="207"
                            src="../../../media/images/Waterorg_Cause-Marketing_Infographic-Process_R.width-800.png"
                            width="800" />
                        <p></p>
                        <hr />
                        <h3><br /></h3>
                        <h4></h4>
                        <img alt="Cause Marketing" class="richtext-image left" height="586"
                            src="../../../media/images/Waterorg_Cause-Marketing_Img-1RV7.width-500.jpg" width="500" />
                        <h4>Doing good is good for business</h4>
                        <p></p>
                        <p>
                            More than 90 percent of consumers would switch to a brand
                            supporting a good cause, and nearly 50 percent would pay extra
                            for products and services from companies committed to positive
                            social and environmental impact. By supporting Water.org and
                            the people we empower with safe water, you show your customers
                            and employees that your company is committed to making a
                            difference in the world.<br /><br />
                        </p>
                        <p></p>
                        <h4>Helping you tell the story</h4>
                        <p></p>
                        <p>
                            We provide resources to help you communicate your support and
                            impact, including facts about the global water crisis, stories
                            of the people whose lives have been transformed by safe water,
                             photos, videos, graphics and more. To show our appreciation
                            after your first donation, we will add your business to our
                            <a href="../shop-support/index.html">Shop to Support page</a>
                            and may recognize your business through thankful messaging on
                            our communication channels.
                        </p>
                        <p></p>
                        <h3><br /></h3>
                        <h3>
                            Let&#x27;s work together to make the power of water available
                            to all. <br />
                        </h3>
                        <p>
                            Big or small, multinational or locally-owned — your business
                            can empower women like Semambo in Uganda with access to safe
                            water, giving hope, health and the opportunity for a bright
                            future to people around the world. 
                        </p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <form class="form-text-block" action="../about-us/ways-donate/cause-marketing/registration/">
                    <input type="submit" value="Register as a business supporter" />
                </form>
                <div class="form-text-block"></div>
                <section class="stripe-section references">
                    <div class="content-container">
                        <div class="references-text">
                            <h2>References</h2>
                            <ul>
                                <li>
                                    Cone Communications, LLC. (2017)
                                    <a href="http://www.conecomm.com/news-blog/2017/5/15/americans-willing-to-buy-or-boycott-companies-based-on-corporate-values-according-to-new-research-by-cone-communications"
                                        target="_blank">Americans Willing To Buy Or Boycott Companies Based On
                                        Corporate Values, According To New Research</a>
                                </li>
                                <li>
                                    The Nielsen Company, LLC. (2015)
                                    <a href="http://www.nielsen.com/us/en/insights/news/2015/sustainable-selections-how-socially-responsible-companies-are-turning-a-profit.html"
                                        target="_blank">Sustainable Selections: How Socially Responsible
                                        Companies are Turning a Profit</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <aside class="columned-content__sidebar">
                <div class="sidebar-section sidebar-featured-links">
                    <article class="sidebar-featured-links__link-item">
                        <div class="text-block--condensed">
                            <h5>Shop to Support</h5>
                            <p>
                                We feature businesses on our Shop to Support page to connect
                                our friends and followers to businesses that support our
                                work.
                            </p>
                            <a href="../shop-support/index.html" class="secondary-button">
                                Check it out <span class="icon-cta-arrow"></span>
                            </a>
                        </div>
                    </article>
                    <article class="sidebar-featured-links__link-item">
                        <div class="text-block--condensed">
                            <h5>Questions?</h5>
                            <p>
                                If you have questions about our cause marketing program,
                                email us.
                            </p>
                            <a href="../../../contact-us/index.html" class="secondary-button">
                                Email us <span class="icon-cta-arrow"></span>
                            </a>
                        </div>
                    </article>
                    <article class="sidebar-featured-links__link-item">
                        <div class="text-block--condensed">
                            <h5>Ready to donate?</h5>
                            <p>
                                To make things easy, there are several different ways you
                                can give.
                            </p>
                            <a href="making-your-business-donation/index.html" class="secondary-button">
                                View options <span class="icon-cta-arrow"></span>
                            </a>
                        </div>
                    </article>
                </div>
            </aside>
        </div>
    </section>
    <div class="bottom-image">
        <img src="../../../media/images/Waterorg_Ways-Donate_Footer.original.jpg" alt="Trees behind a home in Kenya" />
    </div>
</main>