<main class="wide-container">
    <section class="page-header" style="
        background-image: url(///media/images/Planned-Giving_Header.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Planned Giving</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="/">Home</a></li>
                <li class="breadcrumbs__item">
                    <a href="/about-us/">About Us</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="/about-us/ways-donate/">Ways to Donate</a>
                </li>
                <li class="breadcrumbs__item active">Planned Giving</li>
            </ol>
        </div>
    </div>
    <div class="block-rich_text">
        <div class="rich-text">
            <h3>Leaving a legacy of safe water</h3>
            <p>
                Leaving a legacy gift to Water.org benefits you and your loved ones
                through tax benefits and also helps to bring safe water to those
                most in need around the world. When you leave a legacy gift, you
                will know that your generosity is helping to ensure bright futures
                for generations to come.
            </p>
            <p>
                After completing your estate planning, we invite you to send us a
                copy of the relevant section of your will or trust documents that
                outline your bequest to Water.org. This helps us with our planning
                and also enables us to keep you up to date on our work and impact.
                Any information you share with Water.org is kept with strict
                confidence. 
            </p>
            <p>
                By becoming a member of the Water.org bequest family, you are making
                a commitment to helping us get closer to safe water and sanitation
                for all.
            </p>
            <h4>Bequests</h4>
            <p>
                Bequests are one of the most common (and most simple) ways to leave
                a legacy gift. Here are ways you can leave a bequest to Water.org:
            </p>
            <p></p>
            <ul>
                <li>
                    Specific Bequest - Designate the amount of money or specific asset
                    (property, securities, etc.) you wish to donate.
                </li>
                <li>
                    Percentage Bequest - Designate the percentage of your estate you
                    want distributed to Water.org.
                </li>
                <li>
                    Residuary Bequest - Instruct that any remaining part of your
                    estate be distributed to Water.org after distributions are made to
                    family, friends, etc.
                </li>
                <li>
                    Contingent Bequest - Instruct that Water.org receive assets in the
                    event that a beneficiary in your will is no longer living.
                </li>
            </ul>
            <p></p>
            <p><i>Sample bequest language:</i><br /></p>
            <p>
                <i>I give and bequeath the sum of $ _____ (or __% of my estate) to
                    Water.org to be used in support of its general philanthropic
                    purposes.</i>
            </p>
            <p>
                If you would like to make a charitable bequest, our Federal Tax
                Exempt Number is 58-2060131.
            </p>
            <h4>Gifts of Life Insurance</h4>
            <p>
                Another simple way to leave a legacy of safe water is to name
                Water.org as a beneficiary of any individual or group life insurance
                policy. You will get an estate tax deduction for insurance proceeds
                that go to Water.org upon your death.
            </p>
            <h4>Charitable Lead Trusts</h4>
            <p>
                With a charitable lead trust, you transfer cash or appreciated
                property to a trust, which makes payments to Water.org for a period
                of time after which the assets of the trust are transferred to your
                beneficiaries. These trusts are particularly useful for managing
                capital gains and gift taxes for assets that have appreciated in
                value.
            </p>
            <h4>Retirement Plans and Other Investments</h4>
            <p>
                An IRA, 401(K), 403(b) or another qualified retirement plan has tax
                benefits for accumulating assets, but at death they may be subject
                to income and estate taxes. Without planning, over 60% of the value
                of your tax-deferred accounts may go to taxes. Gifting these
                accounts makes use of the full value of the assets. To leave your
                IRA or other retirement plan to Water.org (either as primary or
                contingent beneficiary), contact your retirement plan company to
                request a change in beneficiary designation form.
            </p>
            <h4>Questions?</h4>
            <p>
                For more information, please email
                <a href="/cdn-cgi/l/email-protection#34505b5a5b46575546517443554051461a5b4653"><span
                        class="__cf_email__"
                        data-cfemail="31555e5f5e43525043547146504554431f5e4356">[email&#160;protected]</span></a>
                or call 816-877-8451.
            </p>
            <p>
                Please let us know if you have included Water.org in your will, life
                insurance, or estate plans so that we may thank you for your
                generous commitment to Water.org and our mission of safe water and
                the dignity of a toilet for all.
            </p>
            <p>
                The information on our planned giving page is for informational
                purposes only. As with any decision involving your financial or
                estate plans, we strongly advise you to seek the advice of your
                financial advisor for your estate planning.
            </p>
        </div>
    </div>
</main>