<main class="wide-container">

    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="///index.html">Home</a></li>
                <li class="breadcrumbs__item"><a href="//index.html">About Us</a></li>
                <li class="breadcrumbs__item"><a href="/index.html">Ways to Donate</a></li>
                <li class="breadcrumbs__item active">Shop to Support</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section">
        <div class="content-container">
            <div class="text-block">
                <h3>Shop to Support</h3>
            </div>
        </div>
        <div class="block-featured_callout">
            <section
                class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-left  featured-callout--has-bubble ">
                <div class="content-container">
                    <div class="featured-callout__image-container featured-callout__image-container--left">
                        <img src="///media/images/memobottle.original.jpg" alt="memobottle.jpg">
                        <figure class="bubble-stat">
                            <div class="bubble-stat__content">
                                <figcaption class="bubble-stat__text">Every memobottle sold helps provide two months of
                                    access to safe water for one person</figcaption>
                            </div>
                        </figure>
                    </div>
                    <div class="featured-callout__text-block text-block">
                        <div class="block-richtext">
                            <div class="rich-text">
                                <h4>Shop. Give water. Change lives. </h4>
                                <p>From socks to concert tickets to workout equipment to carpet cleaning – your
                                    purchases will help change lives. A portion of the proceeds is donated to support
                                    our work to empower families around the world with access to safe water and
                                    sanitation. </p>
                                <p>Do you have a business that wants to give back?  Check out our <a
                                        href="/cause-marketing/index.html">cause marketing program</a>.</p>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="stripe-section">
        <div class="content-container">
            <div class="text-block sorting-intro">
                <h4>Available Goods and Services</h4>
                <div class="sorting-select">
                    Sort by:
                    <div class="styled-select">
                        <select id="product-category-selector">
                            <option value="" selected>View All</option>
                            <option value="apparel + accessories">Apparel + Accessories</option>
                            <option value="lifestyle">Lifestyle</option>
                            <option value="beauty">Beauty</option>
                            <option value="home">Home</option>
                            <option value="technology">Technology</option>
                            <option value="food + beverage">Food + Beverage</option>
                            <option value="entertainment + creative">Entertainment + Creative</option>
                            <option value="services">Services</option>
                            <option value="for businesses">For Businesses</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="sortable-pods">
                <article class="sortable-pods__pod product" data-product-category="home">
                    <a href="///stellaartois/index.html">
                        <img src="///media/images/Waterorg_Shop-Support_StellaArtois.2e16d0ba.fill-630x350.jpg"
                            alt="Stella Artois chalice" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Stella Artois</h5>
                        <p class="article-pod__subhead">5 years of clean water</p>
                        <div class="rich-text">
                            <p>Purchase a <a href="///stellaartois/index.html">custom chalice</a> and Stella
                                Artois will donate $3.13 to support our work to help provide 5 years of clean water to
                                someone in the developing world.</p>
                        </div>
                        <a href="///stellaartois/index.html" class="secondary-button sortable-pods__cta">Shop on
                            Amazon&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://consciousstep.com/collections/water-org">
                        <img src="///media/images/Waterorg_Shop-Support_ConciousStep.2e16d0ba.fill-630x350.jpg"
                            alt="Conscious Step" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Conscious Step</h5>
                        <p class="article-pod__subhead">18 months of access to safe water</p>
                        <div class="rich-text">
                            <p>Conscious Step is on a mission to create a sustainable and equitable world for all beings
                                through Fairtrade, organic cotton socks. For each pair of <a
                                    href="https://consciousstep.com/collections/water-org">water-themed socks </a>sold,
                                Conscious Step donates to empower one person in need with 18 months of access to safe
                                water.</p>
                        </div>
                        <a href="https://consciousstep.com/collections/water-org"
                            class="secondary-button sortable-pods__cta">Shop on ConsciousStep.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://drinkdstil.com/shop/">
                        <img src="///media/images/Waterorg_Shop-Support_dstil.2e16d0ba.fill-630x350.jpg" alt="d.stil"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>d.stil</h5>
                        <p class="article-pod__subhead">1% of proceeds to Water.org</p>
                        <div class="rich-text">
                            <p>d.stil supports Water.org to help change lives - with every <a
                                    href="https://drinkdstil.com/shop/">water bottle</a> sold, d.stil donates 1% of
                                proceeds to help end the water crisis.</p>
                        </div>
                        <a href="https://drinkdstil.com/shop/" class="secondary-button sortable-pods__cta">Shop on
                            drinkdstil.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="http://musealab.com/">
                        <img src="///media/images/Waterorg_Shop-Support_MuseaLab.2e16d0ba.fill-630x350.jpg"
                            alt="MUSEA Lab" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>MUSEA Lab</h5>
                        <p class="article-pod__subhead">1% of sales donated</p>
                        <div class="rich-text">
                            <p>MUSEA Lab offers <a href="http://musealab.com/">custom, museum-quality printing, matting
                                    and framing</a> services. You get high quality prints and they donate 1% of sales to
                                help provide safe water to a person in need.</p>
                        </div>
                        <a href="http://musealab.com/" class="secondary-button sortable-pods__cta">Shop on
                            MuseaLab.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="home">
                    <a
                        href="https://www.mersea.com/collections/water-org-sea-change/products/sea-change-sandbag-candle?variant=37711102721">
                        <img src="///media/images/Waterorg_Shop-Support_MerSea.2e16d0ba.fill-630x350.jpg"
                            alt="MerSea candle" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Mer-Sea &amp; Co.</h5>
                        <p class="article-pod__subhead">100% of profits from the Sea Change candle</p>
                        <div class="rich-text">
                            <p>100% of profits from Mer-Sea &amp; Co.&#x27;s  <a
                                    href="https://www.mersea.com/collections/water-org-sea-change/products/sea-change-sandbag-candle?variant=37711102721">Sea
                                    Change candle</a> support Water.org. Its aquatic scent will fill your home, and
                                every time you smell it, you can think of someone that now has access to water.</p>
                        </div>
                        <a href="https://www.mersea.com/collections/water-org-sea-change/products/sea-change-sandbag-candle?variant=37711102721"
                            class="secondary-button sortable-pods__cta">Shop on MerSea.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="technology">
                    <a href="https://tab.gladly.io/">
                        <img src="///media/images/Waterorg_Shop-Support_TabCause.2e16d0ba.fill-630x350.jpg"
                            alt="Tab for a Cause" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Tab for a Cause</h5>
                        <p class="article-pod__subhead">Every tab opened raises donations</p>
                        <div class="rich-text">
                            <p><a href="http://tab.gladly.io/">Tab for a Cause</a> is a browser extension that raises
                                money for charity as you surf the web - for every new tab you open, Tab for a Cause
                                donates to Water.org.</p>
                        </div>
                        <a href="https://tab.gladly.io/" class="secondary-button sortable-pods__cta">Download at
                            Tab.Gladly.io&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://www.wedrinkwater.com/collections/goods">
                        <img src="///media/images/Waterorg_Shop-Support_DrinkWater.2e16d0ba.fill-630x350.jpg"
                            alt="Drink Water" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>We Drink Water</h5>
                        <p class="article-pod__subhead">10% of profits</p>
                        <div class="rich-text">
                            <p>An initiative, a brand, a movement - encouraging people to drink more water and helping
                                bring access to those without. For every <a
                                    href="https://www.wedrinkwater.com/collections/goods">Drink Water gear</a> purchase,
                                10% of profits are donated to Water.org. </p>
                        </div>
                        <a href="https://www.wedrinkwater.com/collections/goods"
                            class="secondary-button sortable-pods__cta">Shop on WeDrinkWater.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://www.memobottle.com/">
                        <img src="///media/images/Waterorg_Shop-Support_MemoBottle.2e16d0ba.fill-630x350.jpg"
                            alt="Memo Bottle" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>memobottle</h5>
                        <p class="article-pod__subhead">2 months of access to safe water</p>
                        <div class="rich-text">
                            <p>The flat water bottle designed to fit in your bag, and every <a
                                    href="https://www.memobottle.com/">memobottle</a> sold helps provide two months of
                                access to safe water for one person.</p>
                        </div>
                        <a href="https://www.memobottle.com/" class="secondary-button sortable-pods__cta">Shop on
                            memobottle.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="http://www.hydrow.com/">
                        <img src="///media/images/Waterorg_ShopSupport_Crew.2e16d0ba.fill-630x350.jpg" alt="Hydrow"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Hydrow</h5>
                        <p class="article-pod__subhead">Every 60 days rowed Hydrow donates to Water.org</p>
                        <div class="rich-text">
                            <p>Hydrow is the live outdoor reality rower.  It connects you with world-class trainers,
                                fellow athletes, and the outdoors, so you can row in real-time with sessions streaming
                                live from the water. Every 60 days rowed helps provide life-changing access to safe
                                water through Water.org. </p>
                        </div>
                        <a href="http://www.hydrow.com/" class="secondary-button sortable-pods__cta">Shop on
                            Hydrow.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="home">
                    <a href="https://www.discountfilters.com/">
                        <img src="///media/images/Waterorg_Shop-Support_DiscountFilt.2e16d0ba.fill-630x350.jpg"
                            alt="Discount Filters" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Discount Filters</h5>
                        <p class="article-pod__subhead">Round up your purchase to donate</p>
                        <div class="rich-text">
                            <p><a href="https://www.discountfilters.com/">DiscountFilters.com</a> is the leading online
                                retailer of refrigerator water filters and air filters for the home. Every purchase can
                                be rounded to the nearest dollar to help provide safe water. </p>
                        </div>
                        <a href="https://www.discountfilters.com/" class="secondary-button sortable-pods__cta">Shop on
                            DiscountFilters.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="food + beverage">
                    <a href="https://gargoylewineclub.com/">
                        <img src="///media/images/Gargoyle.2e16d0ba.fill-630x350.png" alt="Gargoyle.png"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Gargoyle</h5>
                        <p class="article-pod__subhead">1 year of access to safe water</p>
                        <div class="rich-text">
                            <p>Turn wine into water with Gargoyle. When you join Gargoyle, you join the thousands of
                                members that are on a mission to Drink Better. Every bottle you receive from Gargoyle
                                helps give one person a year of safe water.</p>
                        </div>
                        <a href="https://gargoylewineclub.com/" class="secondary-button sortable-pods__cta">Shop on
                            GargoyleWineClub.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="food + beverage">
                    <a href="https://www.amazon.com/dp/B08HJT1HT3?ref=myi_title_dp">
                        <img src="///media/images/H2O_Happiness_horizontal.2e16d0ba.fill-630x350.jpg"
                            alt="H2O Happiness horizontal.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>H2O Happiness 2 Others Thermal</h5>
                        <p class="article-pod__subhead">20 years of access to safe water</p>
                        <div class="rich-text">
                            <p>With the purchase of this H2O thermal bottle, not only will you get a great taste for the
                                liquid of your choice, but every sale helps provide one person with access to safe water
                                for 20 years. So every time you take a sip from this bottle, have a toast for helping
                                bring Happiness 2 Others.</p>
                        </div>
                        <a href="https://www.amazon.com/dp/B08HJT1HT3?ref=myi_title_dp"
                            class="secondary-button sortable-pods__cta">Shop on Amazon.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://italeau.com/">
                        <img src="///media/images/Italeau.2e16d0ba.fill-630x350.jpg" alt="Italeau"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>ITALEAU</h5>
                        <p class="article-pod__subhead">$12.50 donated per purchase</p>
                        <div class="rich-text">
                            <p>ITALEAU is a soulful, passionately designed and produced footwear with waterproof leather
                                and construction, luxuriously handcrafted from the old-world heritage of artisan
                                shoemakers. Every online purchase from ITALEAU will help to provide long-term clean
                                water access to a person in need.</p>
                        </div>
                        <a href="https://italeau.com/" class="secondary-button sortable-pods__cta">Shop on
                            Italeau.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a href="https://creekbaby.com/collections/all">
                        <img src="///media/images/Waterorg_Shop-Support_CreekBaby.2e16d0ba.fill-630x350.jpg"
                            alt="Creek Baby" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Creek Baby</h5>
                        <p class="article-pod__subhead">10% of profits</p>
                        <div class="rich-text">
                            <p>CreekBaby is the newest thing in <a href="https://creekbaby.com/collections/all">organic
                                    all-natural skin care and cosmetics</a>. Simple, safe and completely unscented, the
                                beauty brand donates 10% of profits to give safe water. </p>
                        </div>
                        <a href="https://creekbaby.com/collections/all" class="secondary-button sortable-pods__cta">Shop
                            on CreekBaby.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://www.happybombs.com/products/the-water-activist-tshirt">
                        <img src="///media/images/Happybombs.2e16d0ba.fill-630x350.png" alt="Happybombs.png"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Happy Bombs</h5>
                        <p class="article-pod__subhead">50% of sales</p>
                        <div class="rich-text">
                            <p>Looking for iconic shareable, stickable, pinnable, hangable designs that make an impact?
                                HappyBombs donates 50% of sales from The Water Collection products to Water.org.</p>
                        </div>
                        <a href="https://www.happybombs.com/products/the-water-activist-tshirt"
                            class="secondary-button sortable-pods__cta">Shop on HappyBombs.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://ps821.com/">
                        <img src="///media/images/Waterorg_ShopSupport_PS821.2e16d0ba.fill-630x350.jpg" alt="PS821"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>PS821</h5>
                        <p class="article-pod__subhead">8.21% of purchase price donated</p>
                        <div class="rich-text">
                            <p>The PS821® mission is to do something that’s never been done before — produce luxury
                                items in limited runs with only 100 to 500 pairs of each sneaker style in
                                existence. PS821 champions the power of choice to affect change, which is why 8.21% of
                                the purchase price from every sale will be donated to Water.org. </p>
                        </div>
                        <a href="https://ps821.com/" class="secondary-button sortable-pods__cta">Shop on
                            PS821.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="https://www.facebook.com/pg/mammothlive/events/?ref=page_internal">
                        <img src="///media/images/Waterorg_Shop-Support_Mammoth.2e16d0ba.fill-630x350.jpg" alt="Mammoth"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Mammoth Live</h5>
                        <p class="article-pod__subhead">$0.50 per purchase</p>
                        <div class="rich-text">
                            <p>Looking for concerts in the Midwest? Check out Mammoth&#x27;s <a
                                    href="https://www.facebook.com/pg/mammothlive/events/?ref=page_internal">upcoming
                                    events</a>! For every ticket sold, Mammoth gives $0.50 to support our work. </p>
                        </div>
                        <a href="https://www.facebook.com/pg/mammothlive/events/?ref=page_internal"
                            class="secondary-button sortable-pods__cta">Check out upcoming events&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://www.mukama.com/en/water-org">
                        <img src="///media/images/Waterorg_Shop-Support_Mukama.2e16d0ba.fill-630x350.jpg" alt="Mukama"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Mukama</h5>
                        <p class="article-pod__subhead">1 year of access to safe water</p>
                        <div class="rich-text">
                            <p>When you buy a <a href="https://www.mukama.com/en/water-org">water bottle</a> from
                                Mukama&#x27;s online store, your purchase will help provide access to safe water to one
                                person for one year.</p>
                        </div>
                        <a href="https://www.mukama.com/en/water-org" class="secondary-button sortable-pods__cta">Shop
                            on Mukama.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="home">
                    <a href="http://www.o-care.com/">
                        <img src="///media/images/Waterorg_Shop-Support__OCare.2e16d0ba.fill-630x350.jpg" alt="O-care"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>O-Care</h5>
                        <p class="article-pod__subhead">$2 per purchase</p>
                        <div class="rich-text">
                            <p>For every box of <a href="http://www.o-care.com/">spa water care product</a> purchased,
                                O-Care donates $2 to support our work and help provide access to safe water and
                                sanitation.</p>
                        </div>
                        <a href="http://www.o-care.com/" class="secondary-button sortable-pods__cta">Shop on
                            O-Care.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="services">
                    <a href="https://www.oxifresh.com/">
                        <img src="///media/images/Waterorg_Shop-Support_OxiFresh.2e16d0ba.fill-630x350.jpg"
                            alt="OxiFresh" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Oxi Fresh Carpet Cleaning</h5>
                        <p class="article-pod__subhead">$1 for every online booking</p>
                        <div class="rich-text">
                            <p>Schedule your <a href="https://www.oxifresh.com/water-org">Oxi Fresh Carpet Cleaning
                                    service</a> online and a portion of the fee goes to Water.org to help end the water
                                crisis.</p>
                        </div>
                        <a href="https://www.oxifresh.com/" class="secondary-button sortable-pods__cta">Schedule on
                            OxiFresh.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="food + beverage">
                    <a href="https://www.getblk.com/">
                        <img src="///media/images/Waterorg_Shop-Support_BLK.2e16d0ba.fill-630x350.jpg" alt="Blk. Water"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>blk. water</h5>
                        <p class="article-pod__subhead">A portion of sales donated</p>
                        <div class="rich-text">
                            <p>Nutrient-rich fulvic and humic minerals give natural, flavorful benefits to every bottle
                                of blk. purified alkaline water. And every purchase helps provide access to safe water
                                to people in need. </p>
                        </div>
                        <a href="https://www.getblk.com/" class="secondary-button sortable-pods__cta">Shop on
                            getblk.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a href="https://klobeauty.com/product-category/our-products/">
                        <img src="///media/images/Waterorg_ShopSupport_Klo.2e16d0ba.fill-630x350.jpg"
                            alt="Klo organic beauty" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Klo Organic Beauty</h5>
                        <p class="article-pod__subhead">6 months of access to safe water</p>
                        <div class="rich-text">
                            <p>Organic, unrefined, and handcrafted, <a
                                    href="https://klobeauty.com/product-category/our-products/">Klo Organic
                                    Beauty</a> oils are made with high quality ingredients to enhance natural
                                beauty. Every online purchase helps give 6 months of access to safe water.</p>
                        </div>
                        <a href="https://klobeauty.com/product-category/our-products/"
                            class="secondary-button sortable-pods__cta">Shop on KloBeauty.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="food + beverage">
                    <a href="https://www.kaffebox.no/scandinavian-nordic-roast-coffee-subscription/">
                        <img src="///media/images/Waterorg_Shop-Support_KaffeBox.2e16d0ba.fill-630x350.jpg"
                            alt="Kaffe Box" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>KaffeBox</h5>
                        <p class="article-pod__subhead">3 months of access to safe water</p>
                        <div class="rich-text">
                            <p><a
                                    href="https://www.kaffebox.no/scandinavian-nordic-roast-coffee-subscription/">KaffeBox</a> is
                                a monthly specialty coffee subscription featuring the top roasters in Scandinavia. 
                                Every bag of beans you receive through KaffeBox helps provide 3 months of access to safe
                                water.</p>
                        </div>
                        <a href="https://www.kaffebox.no/scandinavian-nordic-roast-coffee-subscription/"
                            class="secondary-button sortable-pods__cta">Shop on KaffeBox.no&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="home">
                    <a href="https://flushie.com/">
                        <img src="///media/images/Shop_image.2e16d0ba.fill-630x350.jpg" alt="Flushie"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Flushie</h5>
                        <p class="article-pod__subhead">1% of profits</p>
                        <div class="rich-text">
                            <p><a href="https://flushie.com/">Flushie Pre-Toilet Sprays</a> are the solution for
                                eliminating stinky bathroom odors. Made from natural ingredients, just a few sprays
                                before you sit traps all toilet odors in the water. Once you flush, a fresh scent is
                                left behind. Flushie donates 1% of profits in support of clean water.</p>
                        </div>
                        <a href="https://flushie.com/" class="secondary-button sortable-pods__cta">Shop on
                            Flushie.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://www.boldb.com.au/t/aqua-collection?sorting=ascend_by_slug">
                        <img src="///media/images/Waterorg_Shop-Support_BoldB.2e16d0ba.fill-630x350.jpg" alt="BoldB"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>BoldB</h5>
                        <p class="article-pod__subhead">1 year of access to safe water</p>
                        <div class="rich-text">
                            <p>Hand-crafted jewelry inspired by the land and sea, every piece of BoldB&#x27;s <a
                                    href="https://www.boldb.com.au/t/aqua-collection?sorting=ascend_by_slug">Aqua
                                    Collection</a> helps provide 1 year of access to safe water to one person in need. 
                            </p>
                        </div>
                        <a href="https://www.boldb.com.au/t/aqua-collection?sorting=ascend_by_slug"
                            class="secondary-button sortable-pods__cta">Shop on BoldB.com.au&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://www.copperh2o.com/">
                        <img src="///media/images/Waterorg_ShopSupport_CopperH20.2e16d0ba.fill-630x350.jpg"
                            alt="Copper H2O" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Copper H2O</h5>
                        <p class="article-pod__subhead">15% of profits donated</p>
                        <div class="rich-text">
                            <p>Enjoy some good karma by purchasing a <a href="https://www.copperh2o.com/">copper water
                                    bottle</a> by Copper H2O. 15% of profit is donated to charities that work to supply
                                clean drinking water in developing countries.</p>
                        </div>
                        <a href="https://www.copperh2o.com/" class="secondary-button sortable-pods__cta">Shop on
                            copperh2o.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://www.habituco.com/">
                        <img src="///media/images/Habitu.2e16d0ba.fill-630x350.jpg" alt="Habitu.jpg"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Habitu Co.</h5>
                        <p class="article-pod__subhead">A portion of sales donated</p>
                        <div class="rich-text">
                            <p>Habitu Co. creates phone cases and accessories that are beautiful, functional, and
                                mindfully-designed, which make you feel good and help to change the lives of others. A
                                portion of every product sold is donated to help provide families around the world with
                                access to safe water and sanitation.</p>
                        </div>
                        <a href="https://www.habituco.com/" class="secondary-button sortable-pods__cta">Shop on
                            habituco.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://www.divinityla.com/collections/divinity-world/products/bluddha">
                        <img src="///media/images/Waterorg_Shop-Support_DivinityLA.2e16d0ba.fill-630x350.jpg"
                            alt="Divinity LA" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Divinity LA</h5>
                        <p class="article-pod__subhead">10% of each purchase donated</p>
                        <div class="rich-text">
                            <p>Purchasing this <a
                                    href="https://www.divinityla.com/collections/divinity-world/products/bluddha">Bluddah
                                    bracelet</a> from Divinity LA will encourage balance in your life and donate 10% of
                                your purchase to support our work.</p>
                        </div>
                        <a href="https://www.divinityla.com/collections/divinity-world/products/bluddha"
                            class="secondary-button sortable-pods__cta">Buy on DivinityLA.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="http://bebottle.com/">
                        <img src="///media/images/Be_Bottle_Black_Bottle_10B-4_Wtlyc.2e16d0ba.fill-630x350.jpg"
                            alt="Be Bottle" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Be Bottle</h5>
                        <p class="article-pod__subhead">1 year of access to safe water</p>
                        <div class="rich-text">
                            <p><a href="http://bebottle.com/">Be Bottle</a> is a better alternative to single-use
                                plastic bottles – a stainless steel, double-wall insulated bottle with a game-changing
                                design that includes a built-in infuser and easy-to-clean removable bottom. Every Be
                                Bottle purchased helps provide 1 year of access to safe water.</p>
                        </div>
                        <a href="http://bebottle.com/" class="secondary-button sortable-pods__cta">Shop on
                            bebottle.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://www.societyb.com/">
                        <img src="///media/images/Waterorg_Shop-Support_SocietyB.2e16d0ba.fill-630x350.jpg"
                            alt="Society B" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Society B</h5>
                        <p class="article-pod__subhead">10% of sales donated</p>
                        <div class="rich-text">
                            <p>Select Water.org as your charity of choice when you purchase apparel, jewelry and other
                                goods from <a href="https://www.societyb.com/">Society B</a> and 10% from your purchase
                                will go to support our work.</p>
                        </div>
                        <a href="https://www.societyb.com/" class="secondary-button sortable-pods__cta">Shop on
                            SocietyB.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="for businesses">
                    <a href="https://ecopro-products.myshopify.com/">
                        <img src="///media/images/Waterorg_Shop-Support_EcoPro.2e16d0ba.fill-630x350.jpg" alt="EcoPro"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>EcoPro Products</h5>
                        <p class="article-pod__subhead">1% of sales donated</p>
                        <div class="rich-text">
                            <p><a href="https://ecopro-products.myshopify.com/">EcoPro Pillow Covers</a> are pillowcase
                                replacements designed to be sprayed or wiped clean. Created by health professionals for
                                health professionals, each Pillow Cover donates 1% to help provide safe water.</p>
                        </div>
                        <a href="https://ecopro-products.myshopify.com/"
                            class="secondary-button sortable-pods__cta">Purchase on Shopify.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://www.donabelashreds.com/collections/shreds">
                        <img src="///media/images/Waterorg_Shop-Support_DonaBela.2e16d0ba.fill-630x350.jpg"
                            alt="Dona Bela Shreds" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Dona Bela Shreds</h5>
                        <p class="article-pod__subhead">10% of each sale donated</p>
                        <div class="rich-text">
                            <p>Dona Bela Shreds upcycles textile remnants and designs them into <a
                                    href="https://www.donabelashreds.com/collections/shreds">unique fashion
                                    accessories</a>. All Shreds are handmade in the USA and donates 10% per purchase to
                                Water.org.</p>
                        </div>
                        <a href="https://www.donabelashreds.com/collections/shreds"
                            class="secondary-button sortable-pods__cta">Shop on DonaBelaShreds.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="services">
                    <a href="https://theyesgirls.com/">
                        <img src="///media/images/Waterorg_Shop-Support_YesGirls.2e16d0ba.fill-630x350.jpg"
                            alt="The Yes Girls" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>The Yes Girls</h5>
                        <p class="article-pod__subhead">10% of sales donated</p>
                        <div class="rich-text">
                            <p><a href="https://theyesgirls.com/">The Yes Girls®</a> is a team of creative, passionate
                                and experienced proposal and romantic event planners. The Yes Girls have created over
                                3000 one-of-a-kind experiences for their clients, offer thoughtful gifts from their
                                engagement <a href="http://www.theyesgirls.com/shop">shop</a>, and donate 10% of sales
                                to Water.org. </p>
                        </div>
                        <a href="https://theyesgirls.com/" class="secondary-button sortable-pods__cta">Shop on
                            TheYesGirls.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="technology">
                    <a href="http://smile.amazon.com/">
                        <img src="///media/images/Waterorg_Shop-Support_Amazon.2e16d0ba.fill-630x350.jpg"
                            alt="Shop-Support_Img-23.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Amazon Smile</h5>
                        <p class="article-pod__subhead">0.5% of all qualifying purchases donated</p>
                        <div class="rich-text">
                            <p>Support Water.org with purchases you make at <a
                                    href="http://smile.amazon.com/">Smile.Amazon.com</a>. Select Water.org as your
                                charity and 0.5% of all qualifying purchases will be donated to help give access to safe
                                water.<br /></p>
                        </div>
                        <a href="http://smile.amazon.com/" class="secondary-button sortable-pods__cta">Shop on
                            Smile.Amazon.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://thebetterfarmco.com/collections/farm-favourites/products/copper-water-bottle">
                        <img src="///media/images/Waterorg_ShopSupport_BetterFarmCo.2e16d0ba.fill-630x350.jpg"
                            alt="The Better Farm Co" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>The Better Farm Co.</h5>
                        <p class="article-pod__subhead">$1 per bottle purchased</p>
                        <div class="rich-text">
                            <p>The Better Farm Co. is a low-waste lifestyle brand selling thoughtfully designed products
                                to help you live a more sustainable lifestyle. Each <a
                                    href="https://thebetterfarmco.com/collections/farm-favourites/products/copper-water-bottle">hand-crafted
                                    Copper Water Bottle</a> sold helps provide one year of access to safe water for
                                someone in need.</p>
                        </div>
                        <a href="https://thebetterfarmco.com/collections/farm-favourites/products/copper-water-bottle"
                            class="secondary-button sortable-pods__cta">Shop on thebetterfarmco.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://marcskid.com/">
                        <img src="///media/images/Waterorg_ShopSupport_Marc-Skid-RV.2e16d0ba.fill-630x350.jpg"
                            alt="Marc Skid" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Marc Skid</h5>
                        <p class="article-pod__subhead">$4 donated for every pair</p>
                        <div class="rich-text">
                            <p>Made with the finest cotton in the world, Organic Pima, and one up-cycled water bottle in
                                each waistband, <a
                                    href="https://marcskid.com/collections/organic-cotton-underwear-for-sale">Marc
                                    Skid</a> will donate $4 for each pair purchased.</p>
                        </div>
                        <a href="https://marcskid.com/" class="secondary-button sortable-pods__cta">Shop on
                            marcskid.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="https://karmafy.com/water-org">
                        <img src="///media/images/Waterorg_ShopSupport_Karmafy.2e16d0ba.fill-630x350.jpg" alt="Karmafy"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Karmafy</h5>
                        <p class="article-pod__subhead">10% of revenue</p>
                        <div class="rich-text">
                            <p>When playing a game with <a href="https://karmafy.com/">Karmafy</a>, 10% of the revenue
                                generated from ads and in-app purchases by Karmafy players go to charity. Make sure to
                                choose to support Water.org to Play &amp; Do Good.</p>
                        </div>
                        <a href="https://karmafy.com/water-org" class="secondary-button sortable-pods__cta">Find games
                            on Karmafy.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://okoh2o.com/">

                        <img src="///media/images/Waterorg_ShopSupport_OKO.2e16d0ba.fill-630x350.jpg" alt="OKO H2O"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>OKO H2O</h5>
                        <p class="article-pod__subhead">$0.50 from each bottle sold</p>
                        <div class="rich-text">
                            <p>ÖKO applies NASA technology used in the International Space Station to water filtration,
                                which may be used in over 140 countries worldwide. ÖKO donates $0.50 from proceeds of
                                each bottle sold online.</p>
                        </div>
                        <a href="https://okoh2o.com/" class="secondary-button sortable-pods__cta">Shop on
                            okoh2o.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="https://www.emilyrandolph.com/">
                        <img src="///media/images/Waterorg_ShopSupport_Randolph.2e16d0ba.fill-630x350.jpg"
                            alt="Emily Randolph Art" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Mixed Media Art</h5>
                        <p class="article-pod__subhead">$60 per purchase</p>
                        <div class="rich-text">
                            <p>For each of Emily M Randolph Fine Art sales over $500 — whether independently or through
                                her representing galleries — Emily donates $60 to Water.org, helping to empower a family
                                in the developing world with access to safe water or sanitation.</p>
                        </div>
                        <a href="https://www.emilyrandolph.com/" class="secondary-button sortable-pods__cta">Shop on
                            EmilyRandolph.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="https://karmafy.com/dancing-with-the-stars-water-org">
                        <img src="///media/images/website-support-graphic.2e16d0ba.fill-630x350.png"
                            alt="Dancing with the Stars" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Dancing with the Stars</h5>
                        <p class="article-pod__subhead">10% of revenue</p>
                        <div class="rich-text">
                            <p>You&#x27;ve seen the show, now live the life! Join thousands of DWTS fans giving access
                                to safe water simply by playing the game. Make sure to select Water.org to Play &amp; Do
                                Good through Karmafy.</p>
                        </div>
                        <a href="https://karmafy.com/dancing-with-the-stars-water-org"
                            class="secondary-button sortable-pods__cta">Play Dancing with the Stars&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="http://hiddenwordscoloring.com/">
                        <img src="///media/images/Coloring_book.2e16d0ba.fill-630x350.jpg" alt="Hidden Words Coloring"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Hidden Words Coloring</h5>
                        <p class="article-pod__subhead">$1 for each book purchased</p>
                        <div class="rich-text">
                            <p>Hidden Words Coloring is the first ever word search-coloring book, with words hidden in
                                the beautifully illustrated pages. Every book purchased helps give safe water to a
                                person living without it. </p>
                        </div>
                        <a href="http://hiddenwordscoloring.com/" class="secondary-button sortable-pods__cta">Purchase
                            on HiddenWordsColoring.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="http://www.clarityhandbags.com/">
                        <img src="///media/images/Shop_to_Support_image.2e16d0ba.fill-630x350.jpg"
                            alt="Clarity Handbags" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Clarity Handbags</h5>
                        <p class="article-pod__subhead">10% of net profits annually</p>
                        <div class="rich-text">
                            <p>Clarity Handbags are fashionable, clear handbags for game days, concerts and wherever
                                your adventures take you. Clarity Handbags helps provide safe water solutions to people
                                across the globe through an annual 10% net profit donation.</p>
                        </div>
                        <a href="http://www.clarityhandbags.com/" class="secondary-button sortable-pods__cta">Shop on
                            clarityhandbags.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a href="https://to112.com/collections/body/products/body-lotion">
                        <img src="///media/images/Waterorg_ShopSupport_TO.2e16d0ba.fill-630x350.jpg" alt="TO112"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>TO112</h5>
                        <p class="article-pod__subhead">$1 from every lotion sale is donated</p>
                        <div class="rich-text">
                            <p>TO112 is an honest, conscious lifestyle brand created to inspire harmony in hair, body,
                                and space. Proudly cruelty-free with no parabens, DEA, SLS, or fillers, every lotion
                                purchased from TO112 helps to bring safe water and sanitation to someone in need.</p>
                        </div>
                        <a href="https://to112.com/collections/body/products/body-lotion"
                            class="secondary-button sortable-pods__cta">Shop at to112.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://www.lulasgarden.com/">
                        <img src="///media/images/Shop_to_Support_image_kvAjncT.2e16d0ba.fill-630x350.jpg"
                            alt="Lula&#39;s Garden.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Lula&#39;s Garden</h5>
                        <p class="article-pod__subhead">6 months of access to safe water</p>
                        <div class="rich-text">
                            <p>Lula’s Garden is an eco-friendly succulent gifting company. Fresh, hand-picked succulents
                                in memorable gift box planters bring the outdoors in – thoughtful gifts that keep on
                                giving. Each garden sold helps provide six months of access to safe water for one person
                                in the developing world.</p>
                        </div>
                        <a href="https://www.lulasgarden.com/" class="secondary-button sortable-pods__cta">Shop at
                            Lula&#39;s Garden&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="http://www.lilsouls.com/">
                        <img src="///media/images/lilsoulsclothing40of195.2e16d0ba.fill-630x350.jpg"
                            alt="Lil&#39; Souls" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Lil&#39; Souls</h5>
                        <p class="article-pod__subhead">1 year of access to safe water</p>
                        <div class="rich-text">
                            <p>Lil&#x27; Souls creates beautiful handmade baby clothes and vegan leather shoes that help
                                provide families all over the world with access to safe water.</p>
                        </div>
                        <a href="http://www.lilsouls.com/" class="secondary-button sortable-pods__cta">Shop on
                            LilSouls.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="http://www.jeanadore.com/">
                        <img src="///media/images/Waterorg_ShopSupport_JeanAdore.2e16d0ba.fill-630x350.jpg"
                            alt="Waterorg_ShopSupport_JeanAdore.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>JeanAdore</h5>
                        <p class="article-pod__subhead">$1 per purchase donated</p>
                        <div class="rich-text">
                            <p>JeanAdore is a collection of diverse denim and mixed fabric denim items for women. An
                                array of items from jeans, jackets and dresses, to shorts, skirt and shoes. $1 will be
                                donated for each denim item purchased and $1.50 for each JeanAdore tshirt.</p>
                        </div>
                        <a href="http://www.jeanadore.com/" class="secondary-button sortable-pods__cta">Shop on
                            JeanAdore.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="home">
                    <a href="https://soakepools.com/">
                        <img src="///media/images/Waterorg_ShopSupport_SoakePools.2e16d0ba.fill-630x350.jpg"
                            alt="Waterorg_ShopSupport_SoakePools.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Soake Pools</h5>
                        <p class="article-pod__subhead">Donates $100 for every pool sold</p>
                        <div class="rich-text">
                            <p>Soake Pools are small pools with big benefits! <a href="https://soakepools.com/">Pre-cast
                                    concrete luxury plunge pools</a> are making people happy by changing and enhancing
                                outdoor living opportunities. And every pool purchased supports Water.org to help
                                provide people in need with access to safe water.</p>
                        </div>
                        <a href="https://soakepools.com/" class="secondary-button sortable-pods__cta">Shop on
                            SoakePools.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://katiescottagebarn.com/collections/bracelets/products/water-is-life-collection">
                        <img src="///media/images/Water_is_Life.2e16d0ba.fill-630x350.jpg"
                            alt="Katie&#39;s Cottage Barn Shop to Support" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Katie&#39;s Cottage Barn</h5>
                        <p class="article-pod__subhead">Every &#39;Water is Life&#39; bracelet donates 25% of profits
                        </p>
                        <div class="rich-text">
                            <p>Katie&#x27;s ‘Give Back Collection’ of colorful, gemstone beaded bracelets are specially
                                designed with impactful causes in mind. 25% of profits for every aqua agate ‘Water is
                                Life’ bracelet will be donated to Water.org.</p>
                        </div>
                        <a href="https://katiescottagebarn.com/collections/bracelets/products/water-is-life-collection"
                            class="secondary-button sortable-pods__cta">Shop on KatiesCottageBarn.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="services">
                    <a href="https://www.wikihow.com/Make-Distilled-Water">
                        <img src="///media/images/Waterorg_Shop-Support_WikiHow-RV.2e16d0ba.fill-630x350.jpg"
                            alt="WikiHow" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>WikiHow</h5>
                        <p class="article-pod__subhead">$0.01 donated for every read</p>
                        <div class="rich-text">
                            <p><a href="http://www.wikihow.com/">wikiHow</a> is the world&#x27;s leading how-to site on
                                the Internet. Friendly, accessible how-to guides teach every person how to do anything.
                                Translated into 17 different languages and read in nearly every country in the world,
                                this article helps support Water.org.</p>
                        </div>
                        <a href="https://www.wikihow.com/Make-Distilled-Water"
                            class="secondary-button sortable-pods__cta">Learn something at wikiHow.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://lakeborn.ca/">
                        <img src="///media/images/Waterorg_ShopSupport_LakeBorn.2e16d0ba.fill-630x350.jpg"
                            alt="Lakeborn" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Lakeborn</h5>
                        <p class="article-pod__subhead">20% of profits donated</p>
                        <div class="rich-text">
                            <p>Lakeborn is a lifestyle apparel brand that strives to raise awareness &amp; combat the
                                global water crisis. All high-quality, ethically-sourced garments are produced in Canada
                                and help change lives with safe water.</p>
                        </div>
                        <a href="https://lakeborn.ca/" class="secondary-button sortable-pods__cta">Shop on
                            Lakeborn.ca&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="http://www.awesomlife.com/book">
                        <img src="///media/images/AwesomLife.2e16d0ba.fill-630x350.jpg" alt="AwesomLife.jpg"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>AwesOm Life</h5>
                        <p class="article-pod__subhead">100% of ebook sales donated</p>
                        <div class="rich-text">
                            <p>AwesOm Life is dedicated to sharing a positive message with the world through their
                                inspirational books, posters and prints. Craig Kolavo, founder of AwesOm Life and author
                                of ‘Awaken the Sleeping Giant’ is donating 100% of ebook sales to Water.org.</p>
                        </div>
                        <a href="http://www.awesomlife.com/book" class="secondary-button sortable-pods__cta">Shop on
                            AwesOmLife.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="technology">
                    <a href="https://www.couponbirds.com/">
                        <img src="///media/images/CouponBirds_2.2e16d0ba.fill-630x350.png" alt="CouponBirds_2.png"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>CouponBirds</h5>
                        <p class="article-pod__subhead">100% of donations pledged to Water.org</p>
                        <div class="rich-text">
                            <p>Shop with CouponBirds to save, earn cash and support Water.org. Choose Water.org when you
                                shop and 100% of donations raised from the CouponBirds community will go to help change
                                lives with safe water.</p>
                        </div>
                        <a href="https://www.couponbirds.com/" class="secondary-button sortable-pods__cta">Shop on
                            CouponBirds.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a
                        href="https://pharmacopia.net/collections/citrus-collection/products/pharmacopia-citrus-shampoo-16oz">
                        <img src="///media/images/Pharmacopia.2e16d0ba.fill-630x350.png" alt="Pharmacopia.png"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Pharmacopia</h5>
                        <p class="article-pod__subhead">$1 donated for every Citrus Shampoo purchase</p>
                        <div class="rich-text">
                            <p>Clean water is something we take for granted, in our showers, kitchens, and bathrooms.
                                Millions of people around the world are without clean water and sanitation, with women
                                and children disproportionately affected. Pharmacopia will donate $1 from the sale of
                                every Citrus Shampoo to Water.org to help families around the world get access to safe
                                water.</p>
                        </div>
                        <a href="https://pharmacopia.net/collections/citrus-collection/products/pharmacopia-citrus-shampoo-16oz"
                            class="secondary-button sortable-pods__cta">Shop on Pharmacopia.net&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="lifestyle">
                    <a href="https://www.vodapodlife.com/">
                        <img src="///media/images/vodapod_bottle.2e16d0ba.fill-630x350.jpg" alt="vodapod bottle.jpg"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>VODAPOD</h5>
                        <p class="article-pod__subhead">1 year of access to safe water</p>
                        <div class="rich-text">
                            <p>VODAPOD is an outdoor loving and health-focused bottle brand born in Denver, Colorado.
                                With their line of products, they strive to achieve a unique blend of fashion, function,
                                and quality while giving back to the communities who need it the most. Each bottle sold
                                gives one year of access to safe water.<br /></p>
                        </div>
                        <a href="https://www.vodapodlife.com/" class="secondary-button sortable-pods__cta">Shop on
                            VodapodLife.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="food + beverage">
                    <a href="https://goldenmadekafe.com/">
                        <img src="///media/images/Golden_Made_Kafe.2e16d0ba.fill-630x350.jpg" alt="Golden Made Kafe.jpg"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Golden Made Kafé</h5>
                        <p class="article-pod__subhead">5% of proceeds donated</p>
                        <div class="rich-text">
                            <p>Golden Made Kafé is a coffee supplier headquartered in Houston, TX providing exclusive
                                blends inspired by American, French, and African recipes to kickstart and give you a
                                productive day. Golden Made Kafé donates 5% of proceeds to help change lives with safe
                                water.</p>
                        </div>
                        <a href="https://goldenmadekafe.com/" class="secondary-button sortable-pods__cta">Shop on
                            Goldenmadekafe.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a href="https://shaveaware.com/shop/">
                        <img src="///media/images/ShaveAware_RefineYourRoutine.2e16d0ba.fill-630x350.jpg"
                            alt="ShaveAware_RefineYourRoutine.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>ShaveAware</h5>
                        <p class="article-pod__subhead">10% of sales donated</p>
                        <div class="rich-text">
                            <p>ShaveAware is on a mission to change the way people shave with their Refined Routine and
                                first-of-its-kind RAZCLE blade cleaner. The ShaveAware Refined Routine uses up to 85%
                                less water than traditional shaving routines, dramatically reduces plastic shaving
                                waste, and gives a closer, better shave. ShaveAware donates 10% of sales to Water.org.
                            </p>
                        </div>
                        <a href="https://shaveaware.com/shop/" class="secondary-button sortable-pods__cta">Shop on
                            Shaveaware.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="apparel + accessories">
                    <a href="https://ommyeah.com/making-waves-collection/">
                        <img src="///media/images/OMM_Yeah_jewelry.2e16d0ba.fill-630x350.jpg" alt="OMM Yeah jewelry.jpg"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>OMM YEAH!® small batch gems</h5>
                        <p class="article-pod__subhead">1 year of access to safe water</p>
                        <div class="rich-text">
                            <p>Organic, semi-precious gemstones, every OMM YEAH!® bracelet, necklace or pair of earrings
                                is handcrafted in the United States and helps provide 1 year of access to safe water.
                            </p>
                        </div>
                        <a href="https://ommyeah.com/making-waves-collection/"
                            class="secondary-button sortable-pods__cta">Shop on Ommyeah.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a href="https://unwash.com/">
                        <img src="///media/images/Unwash.2e16d0ba.fill-630x350.jpg" alt="Unwash.jpg"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Unwash</h5>
                        <p class="article-pod__subhead">20 lives changed each month with safe water</p>
                        <div class="rich-text">
                            <p>What if the way that you wash your hair could help save lives around the world? It can!
                                Unwash® is the unconventional way to a good hair day. Unwash challenges conventional
                                wisdom and the harsh cycle of traditional shampoo, condition, repeat. With Unwash&#x27;s
                                on-going donation, 20 lives will be changed every month with safe water.</p>
                        </div>
                        <a href="https://unwash.com/" class="secondary-button sortable-pods__cta">Shop now at
                            Unwash.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a href="https://aloeattiva.com/power-couple-bundle/">
                        <img src="///media/images/Aloe_Attiva_-_Shop_to_Support_-_Co.2e16d0ba.fill-630x350.jpg"
                            alt="Aloe Attiva - Shop to Support - Cover Image.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Aloe Attiva</h5>
                        <p class="article-pod__subhead">2 years of access to safe water</p>
                        <div class="rich-text">
                            <p>Did you know most skincare products contain 80-95% water? Aloe Attiva is different.
                                Instead of water, every formula they make uses their proprietary Aloe Attiva Elixir
                                which provides extraordinary benefits for your skin. <a
                                    href="https://aloeattiva.com/#our-products">Welcome to a waterless alternative.</a>
                                Every online purchase of the Power Couple Bundle helps provide 2 years of access to safe
                                water to someone in need.</p>
                        </div>
                        <a href="https://aloeattiva.com/power-couple-bundle/"
                            class="secondary-button sortable-pods__cta">Shop on AloeAttiva.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="food + beverage">
                    <a href="https://www.kinderlyte.com/collections/shop">
                        <img src="///media/images/Shop_to_Support_Kinderlyte.2e16d0ba.fill-630x350.jpg"
                            alt="Shop to Support Kinderlyte.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Kinderlyte</h5>
                        <p class="article-pod__subhead">1% of sales</p>
                        <div class="rich-text">
                            <p>Doctor-formulated, natural hydration has arrived! Kinderlyte works fast like an IV
                                without the use of artificial colors, sweeteners, flavors or preservatives to deliver
                                rapid hydration to people of any age. Whether for sports, hangover, travel, stomach
                                virus, infant diarrhea or toddler vomiting, Kinderlyte is the natural choice for
                                families. Every purchase of a Kinderlyte product supports Water.org by giving 1% of
                                sales.</p>
                        </div>
                        <a href="https://www.kinderlyte.com/collections/shop"
                            class="secondary-button sortable-pods__cta">Shop on kinderlyte.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="beauty">
                    <a href="https://artisanparfums.com/shop">
                        <img src="///media/images/Artisan_Parfums_Product_Photo_B.2e16d0ba.fill-630x350.jpg"
                            alt="Artisan Parfums Product Photo B.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Artisan Parfums</h5>
                        <p class="article-pod__subhead">$1 donated for every order; $5 for orders over $100</p>
                        <div class="rich-text">
                            <p>Artisan Parfums by Ixchel Leigh offers sustainable, 100% from Nature, perfumes and
                                aromatherapy. Synthetics free! Composed solely from essential oils and raw materials.
                                Authentic, Intoxicating, Healing Scents. #ParfumswithPurpose donates $1 for every order,
                                and $5 for every order over $100 to help change lives with safe water.</p>
                        </div>
                        <a href="https://artisanparfums.com/shop" class="secondary-button sortable-pods__cta">Shop on
                            ArtisanParfums.com&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="technology">
                    <a href="https://chrome.google.com/webstore/detail/givewater/ehdmajggndopiaajpcgiieecjfpfcdoc">
                        <img src="///media/images/givewater-stack-color_high_res.2e16d0ba.fill-630x350.png"
                            alt="givewater-stack-color_high_res.png" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>giveWater.com</h5>
                        <p class="article-pod__subhead">A portion of profit donated</p>
                        <div class="rich-text">
                            <p>giveWater is a search engine like Google, with the exception that they use their ad
                                revenues to help bring safe water and sanitation to those in need. Download their Chrome
                                Extension at the Google Chrome Web Store to start giving water with every web search.
                            </p>
                        </div>
                        <a href="https://chrome.google.com/webstore/detail/givewater/ehdmajggndopiaajpcgiieecjfpfcdoc"
                            class="secondary-button sortable-pods__cta">Download here&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="home">
                    <a href="https://patio-essentials.com/collections/aquaflame">
                        <img src="///media/images/AquaFlame-Small-11_40343.2e16d0ba.fill-630x350.jpg"
                            alt="AquaFlame-Small-11_40343.jpg" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Innovative Fountains</h5>
                        <p class="article-pod__subhead">A portion of sales donated</p>
                        <div class="rich-text">
                            <p>AquaFlame fountain helps you create tranquility anywhere with their cord-free LED
                                color-changing fountains. The falling water creates a naturally soothing sound to help
                                you relax while diffusing your favorite essential oils throughout your space. A portion
                                of sales are donated to help ensure that everyone has access to safe water.</p>
                        </div>
                        <a href="https://patio-essentials.com/collections/aquaflame"
                            class="secondary-button sortable-pods__cta">Shop on PatioEssentials.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="food + beverage">
                    <a href="https://ancientsled.com/products/lets-support-water-org?variant=37153085653142">
                        <img src="///media/images/Ancient_Sled.2e16d0ba.fill-630x350.png" alt="Ancient Sled.png"
                            class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Ancient Sled Coffee Company</h5>
                        <p class="article-pod__subhead">10-20% of each sale donated</p>
                        <div class="rich-text">
                            <p>Ancient Sled Coffee Company brings you tasty coffee from a network of artisan roasters,
                                and donates a portion of proceeds to Water.org. Every package of coffee purchased helps
                                to provide one person with access to safe water for more than two years.</p>
                        </div>
                        <a href="https://ancientsled.com/products/lets-support-water-org?variant=37153085653142"
                            class="secondary-button sortable-pods__cta">Shop on AncientSled.com&nbsp;<span
                                class="icon-cta-arrow"></span></a>
                    </div>
                </article>
                <article class="sortable-pods__pod product" data-product-category="entertainment + creative">
                    <a href="https://cgmg.fanlink.to/Water-org">
                        <img src="///media/images/Water.org_playlist_CGMG.2e16d0ba.fill-630x350.png"
                            alt="Water.org_playlist_CGMG.png" class="article-pods__image">
                    </a>
                    <div class="text-block--condensed">
                        <h5>Christopher Galovan Music</h5>
                        <p class="article-pod__subhead">50% of all streaming revenues donated</p>
                        <div class="rich-text">
                            <p>Lean back, relax and listen to peaceful instrumental music while helping to save lives
                                with safe water. All artists donate 50% of the streaming revenues from the songs on this
                                playlist.</p>
                        </div>
                        <a href="https://cgmg.fanlink.to/Water-org" class="secondary-button sortable-pods__cta">Listen
                            on Spotify or Apple Music&nbsp;<span class="icon-cta-arrow"></span></a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="stripe-section callout-halves">
        <div class="content-container">
            <div class="callout-halves__half">
                <div class="block-textwithcta">
                    <div class="text-block">
                        <h4>Looking for a gift?</h4>
                        <div>
                            <div class="rich-text">
                                <p>Celebrate the special occasion with the gift of safe water. Make a donation using our
                                    online form and select the box that says, &quot;I would like this donation to be
                                    made in honor of someone.&quot; </p>
                                <p>Your donation will help empower families with access to safe water and you can email
                                    the honoree a special message to share the life-changing impact of your gift. </p>
                            </div>
                        </div>
                        <a href="///donate/index.html" class="secondary-button">Give the gift of safe
                            water&nbsp;<span class="icon-cta-arrow"></a>
                    </div>
                </div>
            </div>
            <div class="email-sign-up callout-halves__half">
                <div class="block-image">
                    <img src="///media/images/Waterorg_Shop-Support_InHonorOf-RV.original.jpg"
                        alt="Water.org In Honor Of">
                </div>
            </div>
        </div>
    </section>
    <div class="callout-stripe ">
        <div class="content-container">
            <p class="callout-stripe__text">Nothing catch your eye? You can still help us put the power of water into
                the hands of millions of people.</p>
            <a href="///donate/index.html" title="" class="tertiary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>