<main class="wide-container">
    <section class="page-header" style="
        background-image: url(../../../media/images/Waterorg_Homepage_Header_LHTEs16.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Raise money, <br />give water</h1>
            </div>
            <div class="page-header__button-wrapper">
                <a href="https://give.water.org/accounts/register/" title="" class="tertiary-button">Start my
                    fundraiser</a>
            </div>
            <div class="page-header__button-wrapper">
                <a href="https://give.water.org/search/" title="" class="tertiary-button">Find a fundraiser</a>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="../../../index.html">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../../index.html">About Us</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../index.html">Ways to Donate</a>
                </li>
                <li class="breadcrumbs__item active">Start a Fundraiser</li>
            </ol>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--3">
                    <div class="multi-column-row__col">
                        <img src="../../../media/images/Icon-Number-1.original.png" class="multi-column-row__image"
                            style="max-width: 100px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h3>Turn passion into action </h3>
                                <p>
                                    Get creative and come up with a fundraising idea for you
                                    or your group. It can be anything from a classroom bake
                                    sale to donating your birthday to an office team building
                                    event.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../../media/images/Icon-Number-2.original.png" class="multi-column-row__image"
                            style="max-width: 100px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h3><b>Spread the word</b></h3>
                                <p>
                                    Create a personalized online fundraising page and invite
                                    your friends, family, co-workers and neighbors to donate.
                                    Every dollar you raise empowers families with access to
                                    safe water.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../../media/images/Icon-Number-3.original.png" class="multi-column-row__image"
                            style="max-width: 100px" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h3><b>Celebrate changed lives </b></h3>
                                <p>
                                    $5 provides access to safe water or sanitation for one
                                    person, giving them hope, health and possibility. How many
                                    lives will you impact?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>Need some inspiration?</h3>
                <p>
                    There are many ways to fundraise and help change lives with safe
                    water. Here are some ideas to get you started. 
                </p>
            </div>
        </div>
    </div>
    <div class="block-multi_column_container">
        <section class="stripe-section multi-column-content">
            <div class="content-container">
                <div class="multi-column-row multi-column-row--4">
                    <div class="multi-column-row__col">
                        <img src="../../../media/images/Waterorg_StartFundraiser_Img-2v1.original.jpg"
                            class="multi-column-row__image" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Donate your day</h4>
                                <p>
                                    Celebrate your birthday, wedding, anniversary or other
                                    special occasion by asking for donations instead of
                                    gifts.<br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../../media/images/Waterorg_StartFundraiser_Img-2v2.original.jpg"
                            class="multi-column-row__image" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Run, walk, ride</h4>
                                <p>
                                    Run, bike, climb or swim for safe water. Ask friends and
                                    family to support you as you gear up for your event or
                                    donate for every mile you conquer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../../media/images/Waterorg_StartFundraiser_Img-2v3.original.jpg"
                            class="multi-column-row__image" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Throw a party</h4>
                                <p>
                                    Plan a movie night, yoga class, dinner party or whatever
                                    you love to do. Have some fun with friends and donate
                                    proceeds from the event.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="multi-column-row__col">
                        <img src="../../../media/images/Waterorg_StartFundraiser_Img-2v4.original.jpg"
                            class="multi-column-row__image" />
                        <div class="multi-column-row__text text-block">
                            <div class="rich-text">
                                <h4>Be creative</h4>
                                <p>
                                    You can do anything to raise money. Whatever works for
                                    you, works for us. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-button">
        <div class="button-block">
            <a href="https://give.water.org/accounts/register/" class="tertiary-button">Start my fundraiser</a>
        </div>
    </div>
    <div class="block-featured_callout">
        <section class="featured-callout stripe-section stripe-section--has-pattern featured-callout--image-right">
            <div class="content-container">
                <div class="featured-callout__text-block text-block">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>We&#x27;re here to help</h3>
                            <p>
                                Download our fundraising toolkit for helpful tips, creative
                                resources and more fundraising ideas, including specific
                                ideas for schools and businesses. 
                            </p>
                            <p>
                                <a
                                    href="../../../documents/192/Raise_money_give_water_-_fundraising_tools_and_resources_52BGn4c.pdf">Fundraising
                                    toolkit + resources</a>
                            </p>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="featured-callout__image-container featured-callout__image-container--right">
                    <img src="../../../media/images/Waterorg_Financials_2017-Annual-Report_Img-2.original.png"
                        alt="2018 Annual Report" />
                </div>
            </div>
            <div class="stripe-section__pattern" style="
            background-image: url(../../../media/images/pattern-large-1.original.png);
          "></div>
        </section>
    </div>
    <div class="block-aligned_rich_text">
        <div style="text-align: center">
            <div class="rich-text">
                <h3>You can do anything to raise money</h3>
                <p>
                    Check out what some of our supporters have done to change lives
                    with safe water.
                </p>
            </div>
        </div>
    </div>
    <div class="block-triple_callout">
        <div class="thirds">
            <div class="thirds__third rb-callout">
                <img src="../../../media/images/Waterorg_StartFundraiser_Img-4v1.width-800.jpg"
                    class="rb-callout__image" />
                <div class="rb-callout__content">
                    <img src="../../../media/images/Start-a-Fundraiser_Icon-1.width-230.png" class="rb-callout__icon" />
                    <div class="rb-callout__text">
                        <h4>These 2nd graders hosted a lemonade stand</h4>
                        <a href="https://give.water.org/fundraiser/8933/" class="secondary-button">They raised more than
                            $600
                            <span class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
            <div class="thirds__third rb-callout">
                <img src="../../../media/images/Waterorg_StartFundraiser_Img-4v3_I9TZhT3.width-800.jpg"
                    class="rb-callout__image" />
                <div class="rb-callout__content">
                    <img src="../../../media/images/Start-a-Fundraiser_Icon-2.width-230.png" class="rb-callout__icon" />
                    <div class="rb-callout__text">
                        <h4>Evan + Allison asked their wedding guests to donate</h4>
                        <a href="https://give.water.org/fundraiser/9101/" class="secondary-button">They raised more than
                            $1,200
                            <span class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
            <div class="thirds__third rb-callout">
                <img src="../../../media/images/Waterorg_StartFundraiser_Img-4v2_1imAjcA.width-800.jpg"
                    class="rb-callout__image" />
                <div class="rb-callout__content">
                    <img src="../../../media/images/Start-a-Fundraiser_Icon-3.width-230.png" class="rb-callout__icon" />
                    <div class="rb-callout__text">
                        <h4>Aishwarya + her friends organized a Walk for Water</h4>
                        <a href="https://give.water.org/fundraiser/9120/" class="secondary-button">They changed more
                            than 700 lives
                            <span class="icon-cta-arrow"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="callout-stripe">
        <div class="content-container">
            <p class="callout-stripe__text">
                Your donation brings hope and opportunity. That&#39;s the power of
                water.
            </p>
            <a href="../../../donate/index.html" title=""
                class="primary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>