<main class="wide-container">
    <section class="page-header" style="
        background-image: url(//media/images/Waterorg_Ways-Donate_Header.original.jpg);
      ">
        <div class="content-container">
            <div class="page-header__content">
                <h1 class="page-header__headline">Ways to Donate</h1>
            </div>
        </div>
    </section>
    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="///">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="//">About Us</a>
                </li>
                <li class="breadcrumbs__item active">Ways to Donate</li>
            </ol>
        </div>
    </div>
    <div class="block-text_with_items">
        <section class="stripe-section divided-content divided-content--sidebar-first">
            <div class="content-container">
                <div class="divided-content__main">
                    <div class="block-richtext">
                        <div class="rich-text">
                            <h3>Ways to donate and change lives</h3>
                            <p>
                                Do you want to make an impact or does your business want to
                                support our work? We have many ways you can help change a
                                life with safe water.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="divided-content__sidebar">
                    <div class="block-quote">
                        <blockquote>
                            Your gift of $5 helps change a life with safe water.
                            <cite> </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_items">
        <section class="divided-content featured-links stripe-section featured-links--has-bubble">
            <div class="content-container">
                <div class="divided-content__main featured-links__link-items">
                    <div class="text-block">
                        <h3>Donation options for individuals</h3>
                    </div>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Donate online</h4>
                            <div class="rich-text">
                                <p>
                                    The best way to empower a family with access to safe water
                                    is to
                                    <a href="//donate/">donate online</a> via
                                    credit card or your bank account. You can also donate
                                    through
                                    <a
                                        href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=J9GELZFVQ9JZJ">Paypal</a>.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Donate monthly</h4>
                            <div class="rich-text">
                                <p>
                                    Donate monthly to help empower families year-round. Select
                                    &quot;monthly donation&quot; at the top of our secure
                                    <a href="//monthly-giving/">online donation form</a>.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Donate in honor of someone</h4>
                            <div class="rich-text">
                                <p>
                                    Select the box that says, &quot;I would like this donation
                                    to be made in honor of someone&quot; on our online<a href="//donate/"> donation
                                        form</a> and you can email the honoree
                                    a special message with
                                    your donation.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Donate via mail or phone</h4>
                            <div class="rich-text">
                                <p>
                                    We gladly accept written checks and donations over the
                                    phone. Our contact information is below.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Start a fundraiser</h4>
                            <div class="rich-text">
                                <p>
                                    Run a race, sell lemonade, or celebrate your birthday;
                                    turn your event into one that will change lives. Set up an
                                    online fundraiser and invite your friends and family to
                                    donate.
                                    <a href="start-fundraiser//">Start my fundraiser.</a>
                                </p>
                                <p></p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Leverage your company&#39;s matching program</h4>
                            <div class="rich-text">
                                <p>
                                    Double your donation by asking your HR team if your
                                    company has a matching program. Send your company’s
                                    matching gift form along with your donation via mail (our
                                    address is below). Contact
                                    <a
                                        href="//cdn-cgi/l/email-protection.html#2e4a4140415c4d4f5c4b6e594f5a4b5c00415c49">Donor
                                        Care</a> or call (816) 877-8451 with questions.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Shop and support</h4>
                            <div class="rich-text">
                                <p>
                                    A wide range of businesses donate a portion of proceeds to
                                    Water.org. From apparel to skincare and jewelry to water
                                    bottles, shop <a href="shop-support//">here</a>.
                                </p>
                                <p></p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Leave a legacy of safe water</h4>
                            <div class="rich-text">
                                <p>
                                    You can leave a legacy of safe water through bequests,
                                    gifts of life insurance,  charitable lead trusts and other
                                    investments.
                                    <a href="planned-giving/">Learn how.</a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="divided-content__sidebar featured-links__image featured-links__image--right">
                    <img src="//media/images/Waterorg_Ways_Donate_Img-1.original.jpg"
                        alt="Nanda has access to safe water in India" />
                    <figure class="bubble-stat">
                        <div class="bubble-stat__content">
                            <figcaption class="bubble-stat__text">
                                Your donation helps women like Nanda get access to water in
                                her home.
                            </figcaption>
                        </div>
                    </figure>
                </div>
            </div>
        </section>
    </div>
    <div class="block-featured_items">
        <section
            class="divided-content featured-links stripe-section divided-content--sidebar-first featured-links--has-bubble">
            <div class="content-container">
                <div class="divided-content__main featured-links__link-items">
                    <div class="text-block">
                        <h3>Business and group donation options</h3>
                    </div>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Add Water.org to your corporate matching program</h4>
                            <div class="rich-text">
                                <p>
                                    If your company has a corporate matching program, add
                                    Water.org and double the donations. For more information,
                                    please contact
                                    <a
                                        href="//cdn-cgi/l/email-protection.html#2d494243425f4e4c5f486d5a4c59485f03425f4a">Donor
                                        Care</a>.
                                </p>
                                <p></p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Be a business that gives back</h4>
                            <div class="rich-text">
                                <p>
                                    Join our cause marketing program.
                                    <a href="cause-marketing/">Learn more and sign-up today</a>.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Start a fundraiser</h4>
                            <div class="rich-text">
                                <p>
                                    Your school, office, class or team can start a fundraiser.
                                    It’s a great way to work together to change lives with
                                    water.
                                    <a href="start-fundraiser//">Start your fundraiser</a>.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="featured-links__link-item">
                        <div class="text-block--condensed">
                            <h4>Holiday giving</h4>
                            <div class="rich-text">
                                <p>
                                    Give the gift of safe water as a special thank you for
                                    clients and employees for the holidays, or anytime. We
                                    provide
                                    <a href="//documents/191/Corporate_holiday_donations_BtbFgK4.pdf">ideas and
                                        messaging</a>
                                    to share your support.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="divided-content__sidebar featured-links__image featured-links__image--left">
                    <img src="//media/images/Waterorg_Ways-Donate_Img-2.original.jpg"
                        alt="Water.org cause marketing partner Conscious Step" />
                    <figure class="bubble-stat">
                        <div class="bubble-stat__content">
                            <figcaption class="bubble-stat__text">
                                Every pair of socks purchased helps change lives with safe
                                water.
                            </figcaption>
                        </div>
                    </figure>
                </div>
            </div>
        </section>
    </div>
    <div class="block-two_column_text">
        <section class="stripe-section columned-callouts stripe-section--has-pattern">
            <div class="content-container">
                <div class="columned-callouts__columns">
                    <div class="columned-callouts__column">
                        <div class="text-block text-block">
                            <div class="block-richtext">
                                <div class="rich-text">
                                    <h3>Connect with Donor Care</h3>
                                </div>
                            </div>
                            <div class="block-richtext">
                                <div class="rich-text">
                                    <p>
                                        For donation-related questions, including a donation
                                        summary statement for taxes, contact <a
                                            href="//cdn-cgi/l/email-protection.html#44202b2a2b36272536210433253021366a2b3623"><span
                                                class="__cf_email__"
                                                data-cfemail="aacec5c4c5d8c9cbd8cfeaddcbdecfd884c5d8cd">[email&#160;protected]</span></a>
                                        or call (816) 877-8451.
                                    </p>
                                    <p>
                                        <b>Water.org&#x27;s Tax ID<br /></b>58-2060131<br />Make
                                        checks payable to: Water.org<br />Water.org is a U.S.
                                        registered 501(c)(3) organization<br />WaterPartners is
                                        now Water.org
                                    </p>
                                    <p>
                                        <b>Mailing Address<br /></b>Water.org<br />117 West 20th
                                        Street, Suite 203<br />Kansas City, MO 64108-1909 USA
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columned-callouts__column">
                        <div class="text-block text-block">
                            <div class="block-richtext">
                                <div class="rich-text">
                                    <p>
                                        <b>Donor Privacy Policy<br /></b>Water.org values the
                                        privacy of our donors. Donor information is kept
                                        strictly confidential. We do not sell, rent or trade the
                                        names of our donors. We will not share or sell donor
                                        personal information with any third party, nor send
                                        donor mailing on behalf of other organizations. Donor
                                        contact information is kept in a password-protected
                                        database on a secure network. Credit card donations are
                                        processed by a reputable e-commerce provider on a
                                        secure, encrypted website and credit card numbers are
                                        not retained in the Water.org offices.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="bottom-image">
        <img src="//media/images/Waterorg_Ways-Donate_Footer.original.jpg" alt="Trees behind a home in Kenya" />
    </div>
    <div class="callout-stripe">
        <div class="content-container">
            <p class="callout-stripe__text">
                Ready to give the life-changing gift of safe water? Donate online
                today.
            </p>
            <a href="//donate/" title="" class="tertiary-button--reversed callout-stripe__button">Donate</a>
        </div>
    </div>
</main>